@use "breakpoints"as bp;
@use "custom"as custom;


.modal {
    display: none;

    /* lightbox */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.modal.active {
    display: block;
}

.modal .scrollTarget {
    padding: 50px 1rem;
    position: absolute;
    top: 50%;
    left: 50%;

    width: min(80%, 1000px);

    transform: translate(-50%, -50%);
    background: white;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}