@use "breakpoints"as bp;
@use "custom"as custom;


.main-header {
    position: fixed;
    width: 100%;
    z-index:99;

    .btn-big{padding: 12px 20px; font-size: 1rem;
    }
    .nov  {margin-right: 8px;}

   
}

.page-template-tpl-version4{
    .main-header{
        .btn{display:block;}
    }
}

.main-header.bg .btn {background:#333; color:#fff; }
.main-header.bg .btn:hover{opacity:0.8; color:#fff;}
.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;

    

}

.nav-icon {
    font-size: 24px;
}

.nav-icon-close {
    display: none;
}


.nav_btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    @extend .flex-center;
    color: var(--text-dark);
    display: none;

}

.nav-demo-btn {
    padding:12px 20px 11px;

    @include bp.media-breakpoint-up(md) {
        border-color: transparent;
    }
}

.site_nav {
    ul {
        margin: 0;
        display:flex;
        align-items: center;
    }

    
}

.open {
    .site_nav {
        display: block;
    }

    .nav-icon {
        display: none;
    }

    .nav-icon-close {
        display: block;
    }

    .btn-secondary {
        border: 1px solid;
    }
}

.site_nav{
li{padding: 0 15px;
    margin: 8px 0 0;
    color: #695eee;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
a{color: #fff;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
&:hover{color: #333;}
}

    

    i{
        background-image: url(../img/contact-icon-1.png);
        width: 25px;
height: 20px;
display: inline-block;
margin-right: 6px;
margin-top: 7px;}
       .icon1 {
            background-position:-10px -10px;
        }
        .icon2 {
            background-position:-10px -43px;
        }
}

.have-btn a{color: #643BDF;
&:hover{color:#fff;}
}

}

.main-header.bg a{color: #333333;
    &:hover{color: #643bdf;}
}
.bg .have-btn a{background: #643BDF; color:#fff; border:0;
    &:hover{color:#fff; background-color: var(--text-dark);}

}

.main-header.bg .site_nav li i{background-image: url(../img/contact-icon-2.png);}
.main-header.bg .icon1 {
    background-position:-10px -43px;
}
.main-header.bg .icon2 {
    background-position:-10px -10px;
}

@media(max-width:1440px) {
    .top_nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .site_nav li i{margin-right:2px;}
}

@media(max-width:1140px) {
    .logo-a {
        max-width: 120px;}
        .logo-b {
            max-width: 120px;}
    .nav-demo-btn{padding: 12px 10px 11px; font-size: 15px;}
    .site_nav li{padding: 0 5px; font-size: 14px;}
    .site_nav li i{width: 20px;}
}

@media(max-width:767px) {
    .site_nav{display:none; display: none;
        position: absolute;
        z-index: 9;
        left: 0;
        right: 0;
        top: 75px;
        height: calc(100vh - 75px);
        background: #fff;
        box-shadow: 0px 15px 15px 0px rgba(232, 232, 232, 1);
        padding: 30px;}
    .nav_btn{display: block;} 
    .site_nav ul{flex-wrap: wrap;}
    .site_nav li a{color: #333;}
    .site_nav li i{background-image: url(../img/contact-icon-2.png);}
    .site_nav li .icon1 {
        background-position: -10px -43px;
      }
      .site_nav li .icon2 {
        background-position: -10px -10px;
      }
    .site_nav li{width: 100%;}
    .site_nav{padding:0;}
    .site_nav li{padding:12px 25px; width: 100% !important;
        border-bottom: 1px solid rgba(0,0,0,.1); margin:0;}

        .site_nav li.have-btn{background:#695eee;
        a{width: 100%;
            display: block;
            text-align: left;
            padding: 0;
            background: transparent;
            color: #fff;
            border: 0;}

            &:hover{background-color: var(--text-dark); color:#fff;}
        } 
        
        .open .nav-icon-close{font-size: 24px; color: var(--text-dark);}

        .main-header{
            .btn-big {
                font-size: 15px;
                padding: 8px 16px 9px;
              }
              .nov {display:none;}
        }
       
    }

