//Chat Popup Section Start From

.chat-popup {
  .popup-content {
    width: 400px !important;
    border-radius: 10px;
    background: #fff;
    padding: 0 !important;
    box-shadow: 0px 4px 18px 0px rgba(28, 17, 96, 0.25);
    margin: initial;
    .head-top {
      background: #695eee;
      height: 60px;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: space-between;
      padding: 10px 23px;
      align-items: center;
      .cross-icon {
        cursor: pointer;
      }
    }
    .btmdiv {
      padding: 15px 35px;
      .dt {
        display: block;
        color: #525f7f;
        margin: 0 0 10px;
        font-size: 12px;
        text-align: center;
      }
      .bgwrap {
        background: #fbfaff;
        padding: 15px 20px;
        h2 {
          font-size: 18px;
          font-weight: 600;
          line-height: 130%;
          margin: 0 0 5px;
        }
        img {
          margin-left: -20px;
        }
        p {
          font-size: 14px;
          line-height: 140%;
          margin: 0 0 10px;
        }
        strong {
          color: #6754e2;
          font-weight: 500;
        }
      }
      .ctasec {
        flex-wrap: wrap;
        margin:15px 0 0;
        a {
          width: 100%;
          height: 46px;
          font-size: 14px;
          padding: 10px 20px;
          line-height: initial;
          &:hover {
            background: #051441;
            border-color: #051441;
            color: #fff;
          }
        }
        .chatbtn {
          background: transparent;
          color: #5D2BFF;
          margin: 10px 0 0;
        }
      }
    }
  }
}

.chat-popup .exit-intent-popup{display: none;}
.chat-popup .exit-intent-popup.visible{display:block;}

@media (max-width: 1380px) {
  .chat-popup {
    .popup-content{overflow-y: hidden !important;
      height: initial !important;
      .head-top{height:40px;}
      .btmdiv{
        .ctasec {
          a{height: 40px;}
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .chat-popup {
    .popup-content{
      .btmdiv{overflow-y: scroll !important;
        height:400px !important;}
    }
  }
}

@media (max-width: 979px) {
  .chat-popup {
    .popWrap {
      justify-content: center;
      padding: 0;
    }

    .popup-content {
      width: 90% !important;
      .head-top {
        height: 50px;
        padding: 10px 20px;
      }
      .btmdiv {
        padding: 15px 20px;

        .bgwrap {
          padding: 15px;
        }
        .ctasec {
          a {
            width: 100%;
            height: 40px;
          }
        }
      }
    }
  }
}
