.table-tab {
  .tab-wrap {
    position: relative;
    .tab-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .tab-nav {
      list-style-type: none;
      flex-basis: 100%;
      ul {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 0 60px;
        padding: 0;

        li {
          //flex-basis: 25%;
          margin: 0 8px;
          display: inline-block;
         

          a {
            display: flex;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 6px 20px;
            color: #363636;
            border-radius: 10px;
            font-weight: $medium_weight;
            position: relative;
            text-align: center;
            justify-content: center;
            border: 1px solid rgba(122, 122, 122, 0.17);

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 6px 0 0;
              pointer-events: none;
              .show {
                display: block;
                vertical-align: middle;
              }
              .hide {
                display: none;
                vertical-align: middle;
              }
            }
          }
          &:last-child {
            a {
              margin-right: 0;
            }
          }
          &:hover {
            a {
              color: $blue;
              background: #fff;

              .icon {
                .show {
                  display: none;
                }
                .hide {
                  display: block;
                }
              }
            }
          }
        }
        li.active {
          a {
            color: $blue;
            background: #fff;
            .icon {
              .show {
                display: none;
              }
              .hide {
                display: block;
              }
            }
          }
        }
      }
      .is-arrow {
        margin-left: 10px;
      }
    }
    .tcontents {
      flex-basis: 100%;
      .numeric-table {
        .table-block {
          position: relative;
          overflow: hidden;
          max-width: 100%;

          padding-top: 0;
          padding-bottom: 0;
          background-color: #fff;
          border-radius: 8px;
          border: 2px solid #a293ff;

          .div-block-top {
            position: relative;
            display: -ms-grid;
            display: -webkit-grid; /* Old Safari */
            display: grid;
            overflow: hidden;
            padding: 0;
            grid-auto-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;

            .logovs {
              text-align: center;
              padding: 20px 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border-right: 1px solid #d8d2ff;
              &:last-child {
                border: 0;
              }
              &:nth-child(6) {
                .price {
                  background: #695eee;
                  color: #fff;
                  border-color: #695eee;
                  font-size: 18px;
                }
              }
              .price {
                background: #f7f7f7;
                color: #05164dcc;
                border: 1.5px solid #efefef;
                text-align: center;
                padding: 6px 10px;
                min-width: 97px;

                font-weight: 700;
                font-size: 14px;
                border-radius: 10px;
                justify-content: center;
                margin: 10px 0 0;
                display: flex;
              }

              picture {
                height: 30px;
                vertical-align: middle;
                display: flex;
                align-items: center;
              }

              .desktop {
                display: block;
                //height: 30px;
              }
              .mobile {
                display: none;
              }
            }
            .logo-ws {
              width: 320px;
              h2 {
                font-size: 20px;
                line-height: 1.5;
                margin: 0;
                color: #110302;
                font-weight: 500;
              }
            }
          }

          .table-row {
            display: -ms-grid;
            display: -webkit-grid; /* Old Safari */
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            border-top: 1px solid #d8d2ff;

            .ws-column {
              display: flex;
              align-items: center;
              text-align: center;
              flex-wrap: wrap;
              justify-content: center;
              font-weight: 600;
              padding: 15px 20px;
              color: #110302;
              border-right: 1px solid #d8d2ff;

              i {
                width: 26px;
                height: 26px;
                margin: 0 auto;
              }
              i.check-icon {
                background: url(../images/num-check.svg) no-repeat;
                background-size: 100%;
              }
              i.cross-icon {
                background: url(../images/num-cross.svg) no-repeat;
                background-size: 100%;
              }

              &:last-child {
                border-right: 0;
              }

              &.ws-lftcolumn {
                justify-content: left;
                text-align: left;
                width: 320px;

                p {
                  color: #5e6373;
                  letter-spacing: 0;
                  font-weight: 500;
                  margin:0;
                }
                strong {
                  color: #05164d;
                }
              }

              .price-setter{width: 100%;}
             
            }
            &:nth-child(n + 7) {
              display: none;
            }
            &.price-table-row {
              background: #f4f2ff;
              display: -ms-grid;
              display: grid;
              .ws-column {
                //padding: 15px 30px;
                flex-wrap: wrap;
                font-size: 20px;
                strong {
                  color: #05164d;
                  font-weight: 500;
                  display: block;
                  width: 100px;
                  padding: 5px 10px;
                }
                .small-font {
                  color: #05164d;
                  font-weight: 500;
                  font-size: 13px;
                  display: block;
                  margin: 5px 0 0;
                  width: 100%;
                }
                &:first-child {
                  strong {
                    padding: 0;
                  }
                }
                &:nth-child(2) {
                  strong {
                    color: #fff;
                    background: #6754e2;
                    border-radius: 5px;
                  }
                }
              }
            }
            &.numeric-row {
              background: #ebe7ff;
              display: -ms-grid;
              display: grid;
              .ws-column {
                .small-font {
                  font-size: 12px;
                  margin-left:0;
                  font-weight: 500;
                }
                &.ws-lftcolumn {
                  display: flex;
                  justify-content: space-between;
                  strong {
                    color: #05164d;
                  }
                  .custom-input {
                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 70px;
                  }

                  .custom-input input {
                    width: 100%;
                    height: 35px;
                    padding: 5px 25px 5px 10px;
                    font-size: 16px;
                    text-align: left;
                    border: 1px solid #a293ff;
                    border-radius: 5px;
                    -moz-appearance: textfield; /* Remove default arrows in Firefox */
                  }

                  .custom-input input::-webkit-outer-spin-button,
                  .custom-input input::-webkit-inner-spin-button {
                    -webkit-appearance: none; /* Remove default arrows in Chrome, Safari */
                  }

                  .custom-buttons {
                    position: absolute;
                    right: 2px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                  }

                  .custom-buttons button {
                    width: 25px;

                    border: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    background: #fff;
                  }

                  .up {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                  }

                  .down {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                  }
                }
                &.active {
                  strong {
                    color: #3708c2;
                  }
                  .small-font {
                    color: #3708c2;
                  }
                }
              }
            }
          }
        }

        .view-more {
          position: absolute;
          bottom: 215px;
          left: 130px;
          right: 0;
          margin: 0 auto;
          cursor: pointer;
          a {
            width: 50px;
            height: 50px;
            display: block;

            border-radius: 100%;
            margin: 0 auto;
            cursor: pointer;
            background: #fff;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              vertical-align: middle;
            }
          }
        }
        &.active {
          .table-block {
            .table-row {
              &:nth-child(n + 7) {
                display: -ms-grid;
                display: grid;
              }
            }
          }
          .view-more {
            a {
              img {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .tab-contents {
        display: none;
        text-align: center;

       

        .ws-tabtop {
          padding: 20px 0 0;
        }
      }
      .tab-contents.active {
        display: block;
      }
    }
  }

  .actionBtn {margin:80px 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media screen and (max-width: ($smscreen-size - 1)) {
      flex-wrap: wrap;
      margin: 50px 0 0;
      align-items: flex-start;
    }
    div {
      margin: 0 23px 0 0;
      @media screen and (max-width: ($lgscreen-size)) {
        margin: 0 10px;
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        margin: 0 auto 15px;
        width: 48%;
      }
      &:last-child {
        margin: 0;
      }
    }
    a {
      min-width: 210px;
      display: block !important;
      margin: 0 0 8px 0;
      border-radius: 30px;
      @media screen and (max-width: ($lgscreen-size)) {
        margin: 0 0 10px 0;
      }

      @media screen and (max-width: ($smscreen-size - 1)) {
        min-width: auto;
      }
    }
    a.primary_btn1 {
      background: $blue;
      color: $white;
      border: 1px solid $blue;
      padding: 14px 30px;
      position: relative;
      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-size: 24px !important;
        vertical-align: middle;
        background: url(../images/button-arwhover.png) no-repeat;
      }
      &:hover {
        background: #051441;
        color: #fff;
        border-color: #051441;

        &:after {
          background: url(../images/button-arwhover.png) no-repeat;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        padding: 10px 10px 8px !important;
        font-size: 12px !important;
      }
    }
    a.primary_btn2 {
      border: 1px solid $navyblue;
      cursor: pointer;
      color: $navyblue;
      padding: 14px 30px;

      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-size: 24px !important;
        vertical-align: middle;
        background: url(../images/clockblue.png) no-repeat;
      }

      &:hover {
        background: #051441;
        color: #fff;
        border-color: #051441;
        &:after {
          background: url(../images/clock-icon.png) no-repeat;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        padding: 10px 10px 8px !important;
        font-size: 12px !important;
      }
    }
    small {
      display: block;
      text-align: center;
      font-size: 12px;
      color: $navyblue;
      line-height: 18px;
      font-weight: $medium_weight;
      @media screen and (max-width: ($lgscreen-size)) {
        font-size: 11px;
        line-height: 14px;
        br {
          display: none;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .table-tab {
    .tab-wrap {
      .tab-nav {
        ul {
          li {
            a {
              padding: 6px 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1380px) {
}

@media (max-width: 1280px) {
  .table-tab {
    .tab-wrap {
      .tab-nav {
        ul {
          li {
            margin: 0 4px 8px;
            a {
              padding: 5px 10px;
            }
          }
        }
      }

      .tcontents {
        .numeric-table {
          .table-block {
            .table-row {
              .ws-column {
                padding: 15px;
              }
              &.price-table-row {
                .ws-column {
                  padding: 15px;
                  strong {
                    width: auto;
                  }
                }
              }
            }
            .div-block-top {
              .logovs {
                .price {
                  min-width: auto;
                  padding: 6px;
                  font-size: 12px;
                }
                &:nth-child(6) {
                  .price {
                    font-size: 13px;
                  }
                }
              }
            }
          }
          .view-more {
            left: 156px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .table-tab {
    .tab-wrap {
      .tab-nav {
        ul {
          margin: 0 0 50px;
          li {
            //padding: 0 4px;
            a {
              flex-wrap: wrap;
              padding: 10px 15px;
              line-height: 1.4;
              .icon {
                display: block;
                width: 100%;
                margin: 0 0 8px;
                img {
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .table-tab {padding:60px 0;
    .tab-wrap {
      .tab-nav {
        ul {
          margin: 0 0 30px;
          flex-wrap: wrap;
          li {
            flex-basis: 25%;
            
            a {
              font-size: 13px;
              padding: 8px;
              min-height: 75px;
            }
          }
        }
      }

      .tcontents {
        width: 100%;
        overflow-x: scroll;
        .numeric-table {
          padding-top: 0;
          .scroll-compare {
            position: relative;
            overflow-x: auto;
          }
          .table-block {
            overflow-x: scroll;
            min-width: 550px;
            -webkit-overflow-scrolling: touch; /* Adds smooth scrolling for mobile */
            margin: 0px auto;
            border: 1px solid rgba(0, 0, 0, 0.2);
            .div-block-top {
              grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
              -ms-grid-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
              .logo-ws {
                padding: 10px 15px;
                width: auto;
                h2 {
                  font-size: 16px;
                  line-height: 26px;
                  margin-left: 0;
                }
              }
              .logovs {
                padding: 10px 5px;
                .price {
                  width: auto;
                  font-size: 12px;
                  padding: 6px 10px;
                }
                .desktop {
                  display: block;
                }
                .mobile {
                  display: none;
                }
              }
            }
            .table-row {
              .ws-column {
                padding: 15px 9px;
                display: flex;
                align-content: center;
                flex-direction: column;

                i {
                  width: 18px;
                  height: 18px;
                }

                &.ws-lftcolumn {
                  width: auto;
                }
              }

              &.price-table-row {
                .ws-column {
                  font-size: 14px;
                  .small-font {
                    font-size: 12px;
                    line-height: 20px;
                  }
                }
              }

              &:nth-child(2) {
                .ws-column {
                  padding: 20px 9px;
                  font-size: 18px;
                  .small-font {
                    font-size: 12px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
          .view-more {
            bottom: 90px;
            left: 68px;
            a {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .table-tab {
    .tab-wrap {
      .tab-nav {
        ul {
          li {
            flex-basis: 46%;
            margin:0 2% 4%;
            padding: 0;
            a {
              font-size: 13px;
              padding: 5px;
              min-height: 75px;
            }
          }
        }
      }
    }
  }
}
