.trusted-by {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .logo-heading {
    position: relative;
    width: 100%;
    margin: 0 0 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    flex-basis: 100%;
    justify-content: center;

    h4 {
      color: $dark-grey;
      font-size: 20px;
      margin: 0 35px;
      background: #ffffff;
      position: relative;
      span {
        margin: 0 35px;
        background: #ffffff;
        strong {
          color: $blue;
        }
      }
    }

    &:before {
      width: 90%;
      content: "";
      height: 0.197px;
      background: #cdcdcd;
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .trusted-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;

    .trusted-card {
      img {
        filter: grayscale(100);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  .actionBtn {
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media screen and (max-width: ($smscreen-size - 1)) {
      flex-wrap: wrap;
      margin-top: 30px 0;
      align-items: flex-start;
    }
    div {
      margin: 0 23px 0 0;
      @media screen and (max-width: ($lgscreen-size)) {
        margin: 0 10px;
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        margin: 0 auto 15px;
        width: 48%;
      }
      &:last-child {
        margin: 0;
      }
    }
    a {
      min-width: 210px;
      display: block !important;
      margin: 0 0 8px 0;
      border-radius: 30px;
      @media screen and (max-width: ($lgscreen-size)) {
        margin: 0 0 10px 0;
      }

      @media screen and (max-width: ($smscreen-size - 1)) {
        min-width: auto;
      }
    }
    a.primary_btn1 {
      background: $blue;
      color: $white;
      border: 1px solid $blue;
      padding: 14px 30px;
      position: relative;
      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-size: 24px !important;
        vertical-align: middle;
        background: url(../images/button-arwhover.png) no-repeat;
      }
      &:hover {
        background: #051441;
        color: #fff;
        border-color: #051441;

        &:after {
          background: url(../images/button-arwhover.png) no-repeat;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        padding: 8px 10px 6px !important;
        font-size: 11px !important;
      }
    }
    a.primary_btn2 {
      border: 1px solid $navyblue;
      cursor: pointer;
      color: $navyblue;
      padding: 14px 30px;

      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-size: 24px !important;
        vertical-align: middle;
        background: url(../images/clockblue.png) no-repeat;
      }

      &:hover {
        background: #051441;
        color: #fff;
        border-color: #051441;
        &:after {
          background: url(../images/clock-icon.png) no-repeat;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        padding: 8px 10px 6px !important;
        font-size: 11px !important;
      }
    }
    small {
      display: block;
      text-align: center;
      font-size: 12px;
      color: $navyblue;
      line-height: 18px;
      font-weight: $medium_weight;
      @media screen and (max-width: ($lgscreen-size)) {
        font-size: 11px;
        line-height: 14px;
        br {
          display: none;
        }
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1160px) {
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .trusted-by {
    width: 100%;

    .logo-heading {
      margin: 0 0 30px;
      text-align: center;

      h4 {
        font-size: 18px;
        margin: 0;
        text-align: center;

        span {
          margin: 0;
          background: #ffffff;
        }
      }

      &:before {
        display: none;
      }
    }

    .trusted-flex {
      gap: 10px;

      .trusted-card {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-basis: 100%;
        text-align: center;
      }
    }
  }
}
