.works-journey {
    background: #5D2BFF;
    position: relative;

    &:before{
      content: "";
    background: url(../images/wsshape-01.png) no-repeat center;
    width: 271px;
    height: 327px;
    position: absolute;
    bottom: 0;
    left: 0;}

    &:after{
      content: "";
    background: url(../images/wsshape-02.png) no-repeat center;
    width: 218px;
    height: 371px;
    position: absolute;
    top: 0;
    right: 0;}
  
    .ws-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 9;
  
      .jour-col {
        flex-basis: 45%;
  
        .top-section {
          margin: 0 !important;
          padding: 0 !important;
        }
  
        h2 {
          font-size: 30px;
          color: #fff;
        }
        p {
          color: #fff;
        }
  
        .actionBtn {
          margin: 40px 0 0;
          justify-content: center;
          @media screen and (max-width: ($smscreen-size - 1)) {
            flex-wrap: wrap;
            margin: 30px 0 0;
            align-items: flex-start;
          }
          div {
            margin: 0 23px 0 0;
            @media screen and (max-width: ($lgscreen-size)) {
              margin: 0 10px;
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              margin: 0 auto 15px;
              width: 48%;
            }
            &:last-child {
              margin: 0;
            }
          }
          a {
            min-width: 210px;
            display: block !important;
            margin: 0 0 8px 0;
            border-radius: 30px;
            @media screen and (max-width: ($lgscreen-size)) {
              margin: 0 0 10px 0;
            }
          }
          a.primary_btn1 {
            background: #fff;
            color: #171227;
            border: 1px solid #ffffff;
            padding: 14px 30px;
            position: relative;
            &:after {
              content: "";
              display: inline-block;
              width: 24px;
              height: 24px;
              margin-left: 10px;
              background-size: 24px !important;
              vertical-align: middle;
              background: url(../images/button-arw.png) no-repeat;
            }
            &:hover {
              background: #051441;
              color: #fff;
              border-color: #051441;
  
              &:after {
                background: url(../images/button-arwhover.png) no-repeat;
              }
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              padding: 10px 10px 8px !important;
              font-size: 12px !important;
            }
          }
          a.primary_btn2 {
            border: 1px solid #ffffff;
            cursor: pointer;
            color: #fff;
            padding: 14px 30px;
  
            &:after {
              content: "";
              display: inline-block;
              width: 24px;
              height: 24px;
              margin-left: 10px;
              background-size: 24px !important;
              vertical-align: middle;
              background: url(../images/clock-icon.png) no-repeat;
            }
  
            &:hover {
              background: #051441;
              color: #fff;
              border-color: #051441;
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              padding: 10px 10px 8px !important;
              font-size: 12px !important;
            }
          }
          small {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #f1efff;
            line-height: 18px;
            font-weight: $medium_weight;
            @media screen and (max-width: ($lgscreen-size)) {
              font-size: 11px;
              line-height: 14px;
              br {
                display: none;
              }
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              text-align: center;
              padding: 0 10px;
            }
          }
        }
      }
  
      .devide {
        padding: 0 10px;
        display: inline-block;
        position: relative;
        color: #cdcdcd;
        opacity: 0.6;
        font-size: 12px;
        &:before {
          content: "";
          clear: both;
          display: block;
          width: 1px;
          height: 100px;
          position: absolute;
          background: #cdcdcd;
          opacity: 0.6;
          top: -105px;
          left: 19px;
        }
        &:after {
          content: "";
          clear: both;
          display: block;
          width: 1px;
          height: 100px;
          background: #cdcdcd;
          position: absolute;
          bottom: -105px;
          left: 19px;
          opacity: 0.6;
        }
      }
    }
  }
  
  @media (max-width: 1440px) {
    .works-journey {
      &:before{
        width: 200px;
        height: 230px;background-size: 100%;
      }
      &:after{
        width: 200px;
        height: 230px;background-size: 100%;
      }
      .ws-flex {
        .jour-col {
          flex-basis: 47%;
        }
      }
    }
  }
  
  @media (max-width: 1160px) {
    .works-journey {
      .ws-flex {
        .jour-col {
          flex-basis: 48%;
          h2 {
            font-size: 28px;
            line-height: 1.2;
          }
        }
      }
    }
  }
  
  @media (max-width: 979px) {
    .works-journey {
      &:after{}
      &:before{}
      .ws-flex {
        flex-wrap: wrap;
  
        .jour-col {
          flex-basis: 100%;
        }
  
        .devide {
          flex-basis: 100%;
          margin: 30px 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          &:before {
            width: 80px;
            height: 1px;
            position: initial;
            display: inline-block;
            margin: 0 5px 0 0;
          }
          &:after {
            width: 80px;
            height: 1px;
            position: initial;
            display: inline-block;
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
  }
  
  @media (max-width: 479px) {
    .works-journey .ws-flex .jour-col .actionBtn a {
      min-width: auto;
    }
  }
  