@import "global-section";
@import "footer";
//@import "header-new";
@import "_menu-v4";
/*banner scetion */
.demo-section {
  width: 100%;
  padding: 120px 0 99px;
  background: #5D2BFF;
  position: relative;
  .container {
    position: initial;
  }
  .home-section {
    position: relative;
    z-index: 9;
    .flex_row {
      align-items: flex-start;
      .videoSc {
        width: 960px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        .inner {
          position: relative;
          overflow: hidden;
          pointer-events: none;
          height: 100%;
          .image {
            position: relative;
            background: #597cff;
            height: 645px;
            transition: all 0.3s;
          }
          .cover {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: center center/cover no-repeat;
            width: 100%;
            height: 100%;
            transition: z-index 0s, opacity 0.3s;
          }
          .image[data-video] video {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s;
          }
          .play {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 5;
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin: -20px 0 0 -20px;
            }
          }
          .text {
            padding: 4rem 2rem;
            background: #fff;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            transition: all 0.3s;
            h3 {
              color: #333;
              font-size: 3rem;
            }
            p {
              margin: 0 0 1rem;
              color: #757357;
              font-size: 2rem;
            }
          }
        }
        .contbox2 {
          width: 100%;
          position: relative;
          background: transparent;
          overflow: hidden;
        }
        .topVideo {
          width: 100%;
        }
        .topVideo .videoWrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 99;
        }

        .topVideo .videoWrapper {
          min-height: 729px;
          padding-bottom: initial;
          @media screen and (max-width: ($smscreen-size - 1)) {
            min-height: 280px;
          }
        }
        .srp-1 .videoPoster {
          background-image: url(../images/demo-poster.svg);
          background-size: cover;
          background-position: center;
          background-color: transparent;
          //background-size: 780px;
          background-repeat: no-repeat;
        }
        &:hover .inner {
          pointer-events: auto;
          opacity: 1;
        }
        .topVideo button {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 99;
          top: 0;
          left: 0;
          font-size: 0;
          border: none;
          outline: 0;
        }
        .topVideo .videoWrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 99;
          border: 0;
        }
      }
      .videoWrapperActive iframe {
        z-index: 999 !important;
      }

      .award-badges {
        display: flex;
        justify-content: center;
        margin: 0 0 15px;
        align-items: center;

        img {
          display: block;
          height: auto;
          max-width: 100%;
          margin: 0 14px;
        }
      }

      .column-content {
        color: $white;
        padding: 40px 0 0;
        width: calc(48% - 20px);
        h6 {
          margin-bottom: 8px;
          .bg-purple {
            color: $white;
            font-size: 14px;
            font-weight: $regular_weight;
            background: #8270f6;
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
        h1 {
          color: $white;
          margin: 0 0 10px;
          font-size: 38px;
          line-height: 52px;
        }
        p {
          color: $white;
          font-size: 18px;
          line-height: 29px;
          margin: 0 0 25px;
          padding-right: 35px;
        }
        ul {
          padding: 0;
          li {
            color: $white;
            font-size: 18px;
            line-height: 29px;
            padding-left: 30px;
            position: relative;
            margin: 0 0 12px;

            &:after {
              content: "";
              position: absolute;
              width: 20px;
              height: 20px;
              top: 5px;
              background: url(../images/banner-check.svg) no-repeat;
              left: 0;
              @media screen and (max-width: ($smscreen-size - 1)) {
                background-size: 100%;
                width: 14px;
                height: 14px;
              }
            }
          }
        }

        .actionBtn {
          margin: 50px 0 40px;
          @media screen and (max-width: ($smscreen-size - 1)) {
            flex-wrap: wrap;
            margin-top: 30px 0;
            align-items: flex-start;
          }
          div {
            margin: 0 23px 0 0;
            @media screen and (max-width: ($lgscreen-size)) {
              margin: 0 5px;
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              margin: 0 auto 15px;
              width: 48%;
            }
          }
          a {
            min-width: 210px;
            display: block !important;
            margin: 0 0 8px 0;
            @media screen and (max-width: ($lgscreen-size)) {
              margin: 0 0 10px 0;
            }
          }
          a.primary_btn1 {
            background: #fff;
            color: #5D2BFF;
            border: 1px solid #ffffff;
            padding: 14px 18px;
            &:hover {
              background: #051441;
              color: #fff;
              border-color: #051441;
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              padding: 13px 10px 12px !important;
              font-size: 16px !important;
            }
          }
          a.primary_btn2 {
            border: 1px solid #ffffff;
            cursor: pointer;
            color: #fff;
            padding: 14px 18px;
            &:hover {
              background: #051441;
              color: #fff;
              border-color: #051441;
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              padding: 13px 10px 12px !important;
              font-size: 16px !important;
            }
          }
          small {
            display: block;
            text-align: center;
            font-size: 13px;
            color: #f1efff;
            line-height: 18px;
            font-weight: $medium_weight;
            @media screen and (max-width: ($lgscreen-size)) {
              font-size: 11px;
              line-height: 14px;
              br {
                display: none;
              }
            }
            @media screen and (max-width: ($smscreen-size - 1)) {
              text-align: center;
              padding: 0 10px;
            }
          }
        }
        .av-device {
          margin: 0 0 20px;
        }
      }
    }
  }
}

.demo-section .playsc {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin: -43px 0 0 -43px;
  transition: 0.4s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -10px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background: #695eee;
    opacity: 0.5;
    transition: 0.4s ease-in-out;
  }

  .playicon {
    width: 100%;
    height: 100%;
    background: url(../images/playicon.svg) center center/contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transition: 0.4s ease-in-out;
  }

  &:hover .playicon {
    top: 10px;
    transition: 0.4s ease-in-out;
  }

  &:hover {
    &:before {
      width: 103px;
      height: 103px;
      left: -20px;
      transition: 0.4s ease-in-out;
    }
  }
}

.page-template-tpl-demo .header-two .header-item-right .menu ul li .menu-mega{z-index: 999;}

/*Popup Section*/
#myBtn {
  position: absolute;
  top: 40%;
  left: 100px;
  right: 0;
  margin: 0 auto;
  width: 120px;
  z-index: 999 !important;
  height: 120px;
  border: 0;
  background: transparent;
  font-size: 0;
  cursor: pointer;

}

.videoPopup {
  position: relative;
}

.popup-wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.popWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  height: 542px;
  width: 60%;
  position: relative;
}

.close {
  background: url("../images/cross-icon.png") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  float: right;
  z-index: 1;
  position: absolute;
  right: -36px;
  top: 0;
  border-radius: 100%;
}

.close:hover,
.close:focus {
  //opacity: 0.5;
  cursor: pointer;
}

/*Popup Section End*/

/*banner end*/

.time-data {
  .column-three {
    .box-wrap {
      background: #faf8fe;
      border-radius: 10px;
      padding: 40px 25px;
      p {
        margin: 0 0 20px;
        min-height: 48px;
      }
      .explore {
        font-size: 16px;
        text-decoration: none;
        transition: 0.3s ease;
        display: inline-block;
        color: #5D2BFF;
        position: relative;
        line-height: 22px;
        text-decoration: underline;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          right: -16px;
          top: 7px;
          color: #fff;
          background: url(../images/arrow-icon01.svg) no-repeat;
          width: 11px;
          height: 10px;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          &:after {
            right: -30px;
          }
        }
      }
    }
  }
  .for-link-white {
    .small_anchor {
      color: #5D2BFF;
      &:before {
        background: url(../images/arrow-icon01.svg) no-repeat;
        top: 6px;
      }
      &:after {
        background: #5D2BFF;
      }
    }
  }
}

@media (max-width: 1880px) {
  .demo-section {
    .home-section {
      .flex_row {
        .videoSc {
          width: 860px;
        }
      }
    }
  }
}
@media (max-width: 1660px) {
  .demo-section {
    .home-section {
      .flex_row {
        .videoSc {
          width: 780px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .demo-section {
    .container {
      position: relative;
    }
    .home-section {
      .flex_row {
        .videoSc {
          width: 750px;
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .demo-section {
    .container {
      position: relative;
    }
    .home-section {
      .flex_row {
        .videoSc {
          width: 560px;
          .topVideo .videoWrapper {
            min-height: 585px;
            padding-bottom: initial;
          }
          .srp-1 .videoPoster {
            background-size: 560px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .time-data {
    .column-three {
      .box-wrap {
        p {
          min-height: 72px;
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .demo-section {
    .container {
      position: relative;
    }
    .home-section {
      .flex_row {
        .column-content {
          flex-basis: 100%;
          padding: 0;
          h1 {
            font-size: 30px;
            line-height: 40px;
          }
          .actionBtn {
            margin: 20px 0;
            a {
              font-size: 17px;
            }
          }
        }
        .videoSc {
          width: 100%;
          position: initial;
          .topVideo .videoWrapper {
            min-height: 400px;
          }
          .srp-1 .videoPoster {
            background-size: 560px;
          }
        }
      }
    }
  }

  .time-data {
    .column-three {
      flex-basis: 50%;
    }
  }

  .journey-bg {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .demo-section {
    padding: 100px 0 50px;
    .home-section {
      .flex_row {
        .column-content {
          h1 {
            font-size: 26px;
            line-height: 36px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
            margin: 0 0 20px;
          }
          ul {
            li {
              font-size: 16px;
              line-height: 26px;
              padding-left: 24px;
              margin: 0 0 10px;
              &:after {
                width: 14px;
                height: 14px;
                background-size: 100%;
              }
            }
          }
          .actionBtn {
            div {
              margin: 0 0 15px;
            }
            a {
              font-size: 16px;
            }
          }
        }
        .videoSc {
          width: 100%;
          position: initial;
          .topVideo .videoWrapper {
            min-height: 400px;
          }
          .srp-1 .videoPoster {
            background-size: 560px;
          }
        }
      }
    }
  }

  #myBtn {
    left: 29px;
  }

  .time-data {
    .column-three {
      flex-basis: 100%;
      .box-wrap {
        padding: 30px 25px;
        p {
          margin: 0 0 15px;
          min-height: initial;
        }
        .explore {
          font-size: 14px;
        }
      }
    }
    .for-link-white {
      .small_anchor {
        font-size: 14px;
      }
    }
  }
}
