@import "footer";
@import "_menu-v4";
/*Form section start from here*/

a:-webkit-any-link:focus-visible {
  outline-offset: 1px;
}

:-webkit-any-link {
  color: $blue;
  cursor: pointer;
  &:hover {
    color: #110302;
  }
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: ($xlscreen-size - 1)) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (max-width: ($smscreen-size - 1)) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.report-form {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  .form-outer {
    width: 780px;
    margin: 0 auto;
    padding: 30px;

    h2 {
      text-align: center;
      font-weight: 500;
      line-height: 130%;
      margin: 0 0 30px;
      .purple {
        color: #6754e2;
      }
    }
  }
  .form-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-group {
      width: 43%;
      padding: 0 10px;
      margin: 0 0 20px;
    }
    .bug-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .w-20 {
        width: 20%;
      }
    }
    label {
      font-size: 14px;
      margin: 0 0 12px;
      display: block;
      color: #110302;
    }

    .d-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input {
      width: 100%;
      border: 1px solid #bae;
      border-radius: 5px;
      padding: 0 18px 0;
      height: 50px;
      color: #110302;
      font-size: 14px;
      font-family: 'Lexend Deca';
      font-weight: 500;
    }

    input#cont_phpne {
      padding: 18px 18px 18px 85px;
    }
  }

  .btn {
    border: 0;
    min-width: 155px;
    background: #643bdf;
    font-family: 'Lexend Deca';
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 8px;
    color: #fff;
    height: 50px;
    border-radius: 5px;
    display: block;
    cursor: pointer;

    &:hover {
      background: #333333;
    }
    &:focus {
      background: #333333;
    }
  }

  .form-wrap .width-full {
    width: 100%;
    text-align: left;
  }
  textarea.input-field {
    width: 100%;
    border: 1px solid #bae;
    border-radius: 5px;
    padding: 18px;
    color: #110302;
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
    height: 50px;
    border: 0;
    resize: none;
    padding: 0;
    font-family: 'Lexend Deca';
  }
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(55, 54, 88, 0.5);
}

.form-group.ws-error input,
.select-box.ws-error {
  border-color: red;
}
.iti.ws-error input {
  border-color: red;
}
.form-group.ws-error .input-field {
  border-color: red;
}

.error,
.errors {
  width: 100%;
  display: block;
  margin: 8px 0 0;
  color: red;
  font-size: 13px;
  text-align: left;
}
.select-box .error {
  position: absolute;
  bottom: -25px;
  left: 0;
}
.error {
  color: Red;
}
.invalid + .error {
  display: block;
}
.invalid {
  border: 1px solid red !important;
}
.invalid.field {
  height: 30%;
}

.captForm {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  .form-group {
    display: flex;
    align-items: center;
  }
  .form-capt {
    display: flex;
  }
  .quizQ {
    width: 148px;
    background: url(../images/line-image2.png) top 9px left 15px no-repeat;
    padding: 0 18px;
    border: 1px dashed #bae;
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
    background-size: 70px;
    #j-quiz {
      width: 70%;
      display: block;
      text-align: center;
      word-spacing: 8px;
      color: #4a4c55;
    }
    .refreshbtn {
      background: url(../images/rfresh.png) no-repeat;
      width: 20px;
      height: 16px;
      margin-right: 14px;
      position: absolute;
      top: 17px;
      right: 0;
      padding-left: 20px;
      cursor: pointer;
      transition: all 0.5s ease 0s;

      &:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        opacity: 0.8;
      }
    }
    &:after {
      content: "";
      width: 1px;
      height: 32px;
      position: absolute;
      background: #bab9b9;
      top: 10px;
      right: 52px;
      margin: 0 auto;
      display: none;
    }
  }

  .quizAns {
    width: 70px;
    margin-left: 50px;
    position: relative;
    input {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 0.5px;
      color: #000;
      font-family: 'Lexend Deca';
    }
    ::-webkit-input-placeholder {
      color: #000;
    }
    &:before {
      content: "=";
      position: absolute;
      font-size: 20px;
      top: 11px;
      left: -59px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.captForm input {
  position: relative;
  z-index: 99999;
  text-align: center;
}

#captchaerror {
  width: 100px;
}
.report-form .hold-on {
  background: #efefef;
  color: #000;
}
.report-form .hold-on:hover {
  cursor: wait;
  background: #efefef;
  color: #000;
}
.report-form .justify {
  justify-content: end;
}

.captForm input::-webkit-input-placeholder {
  color: #737b7d;
}
.captForm ::-moz-placeholder {
  color: #737b7d;
}

.ws-error #team-size {
  border-color: red;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.requestform .form-group label {
  z-index: 9999 !important;
}

input::-webkit-input-placeholder {
  color: rgba(55, 54, 88, 0.5) !important;
}
input[placeholder],
[placeholder],
*[placeholder] {
  color: rgba(55, 54, 88, 0.5);
}

#phone-error {
  position: absolute;
  bottom: -74px;
}

.ws-error input#cont_phpne {
  border-color: red;
}

/*Form section END*/

.user-textarea {
  width: 100%;
  border: 1px solid #bae;
  border-radius: 5px;
  padding: 18px;
  color: #110302;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 500;
  height: 150px;

  resize: none;
  .input-field {
    border: 0;
  }
}

.drop-input {
  bottom: 0;
  padding: 0 30px;
  position: relative;
}

.drop-box {
  border: 2px solid rgba(184, 184, 184, 0.64);
  color: #e1e1e1;
  border-radius: 8px;
  padding: 15px;
}

.drop-area-box {
  display: inline-block;
  background: none;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  border-radius: 0;
  cursor: pointer;
  color: #323232;
  margin-top: 8px;
}

.drop-area-box input {
  display: none;
}

.drop-area-box button {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;

  padding: 8px 10px;
  background: rgba(187, 170, 238, 0.05);
  border: 0.5px solid #bbaaee;
  border-radius: 4px;
  background: none;
  color: #95959f;
}

.trusted-logos {
  padding: 30px 15px;
}

.loader {
  border: 5px solid #9f9f9f;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: inline-block;
  position: absolute;
  top: -73px;
  left: 110px;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gal-loader {
  position: relative;
  padding: 0 18px;
  display: none;
  &.active {
    .loader {
      display: block;
    }
  }
  &.show-me {
    width: 100%;
    display: block;
    min-height: 50px;
  }
}

#dropzone-loader.active {
  background: rgba(0, 0, 0, 0.1);
}
.user-textarea.active .comment-input {
  background: transparent;
}
.autocomplete-items {
  display: none;
  &.has-data {
    display: block;
    height: 170px;
    overflow-y: auto;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 9px rgba(1, 0, 12, 0.43);
    background: #1d1c39;
    border-radius: 5px;
    z-index: 2;
    div {
      color: #fff;
      border-bottom: 1px solid #05142b;
      background-color: #1d1c39;
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      padding: 15px 20px;
      &.autocomplete-active,
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

#fgallery div {
  display: inline-flex;
  margin-right: 12px;
  vertical-align: baseline;
  align-items: flex-start;
  position: relative;
  transition: all 0.3s ease-in-out;
}

#fgallery img {
  width: 38px;
  height: 37px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

#fgallery div button,
#fgallery div a {
  text-decoration: none;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  vertical-align: middle;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  position: absolute;
  right: 2px;
  cursor: pointer;
  border: 0;
  background: url(../images/gallery-icon.png) center center no-repeat;
  top: -4px;
}
#fgallery div button:focus,
#fgallery div button a:focus {
  background: url(../images/gallery-icon2.png) center center no-repeat;
}

.info-wrap {
  position: relative;
  display: flex;
  label {
    display: inline-block;
    position: relative;
  }
}
.info {
  cursor: pointer;
  &:before {
    content: "";
    background: url(../images/info-sign.svg) no-repeat;
    position: absolute;
    top: 4px;
    right: -19px;
    width: 13px;
    height: 13px;
  }
}

.mailinfo {
  width: 415px;
  background: #525f7f;
  border-radius: 3px;
  padding: 14px 8px;
  position: absolute;
  box-shadow: 0 4px 35px rgba(227, 233, 245, 0.5);
  top: 24px;
  right: -400px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  z-index: 99;

  &:before {
    content: "";
    content: "";
    background: url(../images/emailpoly.png) no-repeat center;
    width: 12px;
    height: 12px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -7px;
  }
}
.info:hover {
  .mailinfo {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1440px) {
  .switch-field label {
    padding: 13px 0;
  }
}

@media (max-width: 767px) {
  .drop-area-box button {
    font-size: 12px;
  }
}

#drop-areas .browse-btn:focus {
  background: #333333;
  color: #fff;
}

.styled-select {
  width: 100%;

  overflow: hidden;
  overflow: -moz-hidden-unscrollable;

  position: relative;

  &:after {
    content: "";
    background: url(../images/select-img.png) no-repeat;
    position: absolute;
    top: 22px;
    right: 18px;
    width: 12px;
    height: 7px;
  }
}

.styled-select select {
  width: 100%;
  border: 1px solid #bae;
  border-radius: 5px;
  padding: 0 38px 0 18px;
  height: 50px;
  color: #110302;
  font-size: 14px;
  font-family: 'Lexend Deca';
  font-weight: 500;
  background: transparent;
  -webkit-appearance: none;
  z-index: 9;
  position: relative;
}

@media (max-width: 1440px) {
  .report-form .form-outer h2 {
    font-size: 25px;
    line-height: 130%;
  }
  .report-form .form-wrap label {
    font-size: 13px;
    margin: 0 0 6px;
  }

  .report-form .form-wrap input {
    height: 40px;
    padding: 0 15px;
    font-size: 13px;
  }

  .styled-select select {
    height: 40px;
    padding: 0 38px 0 15px;
    font-size: 13px;
  }
  .styled-select:after {
    top: 17px;
    right: 15px;
  }

  .user-textarea {
    padding: 15px;
    font-size: 13px;
  }
  .captForm .quizQ:after {
    height: 22px;
  }
  .captForm .quizQ {
    height: 40px;
    line-height: 4px;
    line-height: 40px;
  }
  .captForm .quizQ {
    width: 120px;
    background-size: 63px;
    background-position: 14px 6px;
    font-size: 16px;
  }

  .captForm .quizQ .refreshbtn {
    top: 13px;
  }

  .captForm .quizAns:before {
    top: 8px;
  }
  .report-form .btn {
    font-size: 16px;
    height: 40px;
  }
}

@media (max-width: 979px) {
  .report-form .form-outer {
    width: 90%;
    overflow-y: scroll;
    height: 95%;
  }
  .report-form .form-wrap .bug-wrap {
    flex-wrap: wrap;
  }
  .report-form .form-wrap .form-group {
    flex-basis: 100%;
  }
  .report-form .form-wrap .bug-wrap .w-20 {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .report-form .form-outer {
    padding: 0;
  }
  .report-form .btn {
    min-width: 120px;
  }
  .captForm .quizAns {
    width: 58px;
    margin-left: 50px;
  }
  .captForm .quizAns::before {
    left: -54px;
  }

  .mailinfo {
    width: 220px;
    top: 24px;
    right: -213px;
  }
}

@media (max-width: 479px) {
  .report-form .form-outer {
    width: 95%;
  }
  .captForm .quizQ {
    width: 110px;
  }
  .captForm .quizAns {
    width: 50px;
    margin-left: 30px;
  }
  .captForm .quizAns::before {
    left: -40px;
  }
}
