@import "footer";
@import "_menu-v4";
@import "global-section";

.hero-banner {
  width: 100%;
  padding: 115px 0;
  background: $royal-blue url(../images/roadmap-banner.png) no-repeat;
  position: relative;
  background-size: cover;
  color: #fff;
  .inner-wrap {
    width: 55%;
    h1 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.roadmap {
  padding: 40px 0 100px;
  .road-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select {
      position: relative;
      margin-bottom: 15px;
      width: 495px;
      .selectBtn {
        background: #fff;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid rgba(227, 231, 235, 1);
        width: 100%;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:after {
          content: "";
          position: absolute;
          width: 12px;
          height: 20px;
          top: auto;
          background: url(../images/slect-arrow.png) no-repeat;
          right: 18px;
          background-position: center;
        }
      }
      .selectBtn.toggle {
        border-radius: 3px 3px 0 0;
        &:after {
          -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
        }
      }
      .selectDropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        overflow: hidden;
        filter: drop-shadow(0px 2px 10px rgba(57, 35, 195, 0.15));
        border: 1px solid #cfd3da;
        z-index: 1;
        background: #fff;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: top center;
        transform-origin: top center;
        visibility: hidden;
        transition: 0.2s ease;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        .option {
          padding: 15px 20px;
          box-sizing: border-box;
          cursor: pointer;
          color: #525f7f;
          &:hover {
            background: #f8f8f8;
            color: #5D2BFF;
          }
        }
      }
      .selectDropdown.toggle {
        visibility: visible;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }

    .gotochange {
      width: 200px;
      .is-arrow {
        text-decoration: underline;
        position: relative;
        color: $blue;
        &:after {
          content: "";
          background: url(../menu-images/view-arrow.svg) no-repeat center;
          width: 11px;
          display: inline-block;
          margin-left: 8px;
          height: 11px;

          transition: all 0.3s ease-in-out;
        }

        &:hover {
          text-decoration: none;
          color: $blue;
          &:after {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .road-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 0;
    .road-box {
      flex-basis: 33.33%;
      padding: 0 23px 0 0;
      .road-col {
        width: 100%;
        h3 {
          color: #00234b;
          font-size: 25px;
          margin: 0 0 25px;
          display: flex;
          align-items: center;
          img {
            vertical-align: middle;
            margin-right: 8px;
          }
        }

        .box-wrap {
          width: 100%;
          border-radius: 10px;
          border: 1px solid #e3e7eb;
          background: #fff;
          box-shadow: 0px 1px 10px 0px rgba(98, 77, 227, 0.05);
          padding: 20px;
          margin: 0 0 20px;
          h4 {
            color: #525f7f;
            font-size: 18px;
            font-weight: 600;
            line-height: 130%;
            margin: 0 0 12px;
          }
          p {
            margin: 0 0 20px;
          }
          ul {
            margin: 8px 0 0;
            display: flex;
            align-items: center;
            padding: 0;
            gap: 10px;
          }
          li {
            border-radius: 5px;
            font-size: 10px;
            display: inline-flex;
            line-height: 150%;
            padding: 3px 5px;
            align-items: flex-start;
            color: #0079fe;
            font-weight: 700;
            text-transform: uppercase;
            background: #d8eaff;
            &.ft-web{
              background: #d8eaff;
              color: #0079fe;
            }
            &.ft-mobile{
              background: #dbf3fd;
              color: #3abcf3;
            }
            &.ft-desktop {
              background: #d2fdd4;
              color: #4aaa4d;
            }
          }
        }
      }
    }
  }

  .load-more {
    text-align: center;
    margin: 50px 0 0;
    a {
      border-radius: 8px;
      border: 1px solid #6754e2;
      padding: 13px 25px;
      position: relative;
      &:before {
        content: "";
        vertical-align: middle;
        content: "";
        background: url(../images/refersh-icon.png) no-repeat center;
        width: 17px;
        height: 16px;
        display: inline-block;
        margin-right: 8px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        border-color: #110302;
      }
    }
  }
}

@media (max-width: 1024px) {
  .roadmap {
    .road-top {
      flex-wrap: wrap;
      .select {
        width: 300px;
      }
    }
    .road-row {
      .road-box {padding: 0 15px 0 0;
        .road-col {
          h3 {
            font-size: 18px;
            margin:0 0 20px;
          }
          .box-wrap{margin: 0 0 15px; padding: 15px;
          h4{font-size: 16px;  margin: 0 0 10px;}
          p{font-size: 15px;}
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .hero-banner {
    padding: 100px 0 50px;
    background: $royal-blue;
    background-image: none;
    background-size: 0;
    .inner-wrap {
      width: 100%;
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .roadmap {
    padding: 40px 0 60px;
    .road-top {
      flex-wrap: wrap;
      .select {
        width: 100%;
        .selectBtn {
          padding: 12px;
        }

        .selectDropdown {
          .option {
            padding: 12px 15px;
          }
        }
      }

      .gotochange {
        width: 100%;
        text-align: left;
      }
    }

    .road-row {
      margin: 40px 0 0;
      .road-box {
        flex-basis: 100%;
        margin: 0 0 20px;
        padding: 0;
        .road-col {
          width: 100%;
          h3 {
            font-size: 20px;
            margin: 0 0 20px;
            img {
              margin-right: 6px;
            }
          }

          .box-wrap {
            margin: 0 0 15px;
            h4 {
              font-size: 16px;
            }
            p {
              margin: 0 0 15px;
              font-size: 14px;
            }
            ul {
              gap: 8px;
            }
          }
        }
      }
    }

    .load-more {
      text-align: center;
      margin: 10px 0 0;
      a {
        padding: 12px 20px;
      }
    }
  }
}
