// color variables
$blue : #5D2BFF;
$navy_blue : #5D2BFF;
$dark_blue : #051441;
$darker_blue : #1D1C35;
$light_blue: #1665D8;
$lightblue: #5D2BFF;
$grey: #5E6373;
$lighter_grey : #F5F7FA;
$charcoal_grey : #110302;
$white : #FFFFFF;
$light_orange: #fce9d2; 
$light_pink: #ffdcdd;
$extra_light_blue: #cdd7ff;
$light_green: #d2f4a8;
$line-grey: #EFF2F7;
$review-bg-grey : #FAFBFC;
$royal-blue: #4231AC;
$bg-light:#FCFBFE;

//font family variables
$base_font_family : 'Lexend Deca';
$font_awesome : 'FontAwesome';

//font weight variables
$regular_weight : normal;
$medium_weight : 500;
$semibold_weight : 700;

$regular_weight: normal;
$medium_weight: 500;
$bold_weight: 700;

// screen breakpoints
$smscreen-size: 576px; // Small devices (landscape phones, 576px)
$mdscreen-size: 768px; // Medium devices (tablets, 768px)
$lgscreen-size: 1024px; // Large devices (desktops, 992px)
$xlscreen-size: 1380px; // Extra large devices (large desktops, 1200px)
$customscreen-size: 1400px //custom website size