.data-driving {
  padding: 0 0 120px;

  .data-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0 0;
    .column {
      width: 300px;
      position: relative;

      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin: 0 0 20px;
          display: flex;
          align-items: center;
          font-size: 14px;
          background: #fff;
          font-weight: 600;
          border-radius: 12px;
          color: rgba(68, 75, 85, 1);
          line-height: 20px;
          position: relative;
          padding: 18px 35px 18px 45px;
          min-height: 100px;
          border: 1px solid rgba(23, 46, 33, 0.08);
          box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
          &:before {
            content: "";
            width: 12px;
            height: 12px;
            background: rgba(47, 210, 122, 1);
            border-radius: 50%;
            position: absolute;
            left: 15px;
            top: 43%;
          }
        }
      }

      .head-data {
        display: flex;
        align-items: center;
        margin: 0 auto 50px;
        border: 1px solid rgba(153, 153, 152, 0.04);
        border-radius: 35px;
        padding: 15px 20px;
        min-width: 200px;
        width: 200px;
        background: #fff;
        box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
        .step-number {
          background-color: rgba(103, 84, 226, 0.07);
          border: 1px solid rgba(98, 77, 227, 0.07);
          color: white;
          border-radius: 50%;
          width: 34px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          font-size: 18px;
          color: rgba(103, 84, 226, 1);
          font-weight: 700;
        }

        h3 {
          font-size: 12px;
          color: rgba(68, 75, 85, 1);
          text-transform: uppercase;
          font-weight: 700;
          margin: 0;
        }
      }

      &.solutions {
        ul {
          li {
            &:before {
              background: rgba(253, 203, 104, 1);
            }
          }
        }
        &:before {
          content: "";
          background: url(../images/an-shape03.png) 0 0 no-repeat;
          background-size: 100%;
          width: 435px;
          height: 420px;
          right: -80px;
          position: absolute;
          top: 50px;
          z-index: -1;
        }
        &:after {
          content: "";

          background: url(../images/data04.svg) 0 0 no-repeat;
          background-size: 100%;
          width: 209px;
          height: 147px;
          left: 3px;
          position: absolute;
          bottom: -126px;
        }
      }

      &.analyze {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        .analyze-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          cursor: pointer;
          .playsc {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 37%;
            left: 85px;
            right: 0;
            margin: 0 auto;
            cursor: pointer;
            z-index: 1;
            transition: 0.4s ease-in-out;

            .playicon {
              width: 100%;
              height: 100%;
              background: url(../images/playicon.svg) center center / contain
                no-repeat;
              position: absolute;
              top: -23px;
              left: -82px;
              right: 0;
              margin: 0 auto;
              cursor: pointer;
              z-index: 1;
              transition: 0.4s ease-in-out;
              font-size: 0;

              &:before {
                content: "";
                position: absolute;
                top: -7px;
                left: -8px;
                width: 85px;
                height: 85px;
                border-radius: 50%;
                background: #695eee;
                opacity: 0.5;
                transition: 0.4s ease-in-out;
              }

              &:hover {
                top: -23px;
                transition: 0.4s ease-in-out;
                &:before {
                  width: 95px;
                  height: 95px;
                  left: -12px;
                  top: -12px;
                  transition: 0.4s ease-in-out;
                }
              }
            }
          }

          p {
            font-size: 12px;
            font-weight: 700;
            color: rgba(68, 75, 85, 1);
            text-transform: uppercase;
            margin: 30px 0 0;
          }
        }

        .head-data {
          margin: 0 0 30px;
          .step-number {
            color: #27c26c;
            background: rgba(129, 226, 174, 0.12);
          }
        }

        &:before {
          content: "";

          background: url(../images/an-shape01.png) 0 0 no-repeat;
          background-size: 100%;
          width: 222px;
          height: 424px;
          left: -20px;
          position: absolute;
          top: 136px;
        }

        &:after {
          content: "";

          background: url(../images/an-shape02.png) 0 0 no-repeat;
          background-size: 100%;
          width: 222px;
          height: 424px;
          right: -20px;
          position: absolute;
          top: 136px;
        }
      }

      &.challenges {
        &:before {
          content: "";

          background: url(../images/data01.svg) 0 0 no-repeat;
          background-size: 100%;
          width: 152px;
          height: 86px;
          left: -95px;
          position: absolute;
          top: 6px;
        }
        &:after {
          content: "";

          background: url(../images/data02.svg) 0 0 no-repeat;
          background-size: 100%;
          width: 263px;
          height: 109px;
          left: -95px;
          position: absolute;
          bottom: -86px;
        }
      }
    }
  }
}


.video-popup {
	width: 100%;
	.popup-wrapper {
		z-index: 999;
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		background-color: rgba(0, 0, 0, 0.6);
		.popWrap {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.popup-content {
				width: 60%;
				height: 500px;
				box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
				background: #fff;
				padding: 0;
				text-align: center;
				position: relative;
			}
		}
	}
	.videoIframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
	.gen-closeicon {
		background: url(../images/cross-icon.png) no-repeat;
		right: -34px;
		top: 3px;
		width: 30px !important;
		height: 30px !important;
		font-size: 0;
    position: absolute;
    cursor: pointer;
	}
}

@media (max-width: 1440px) {
  .data-driving {
    .data-flex {
      .column {
        width: 270px;
        &.solutions {
          ul {
            li {padding: 18px 20px 18px 40px;
              &:before {
                background: rgba(253, 203, 104, 1);
              }
            }
          }
        }

        &.analyze {
          width: 570px;
        }
      }
    }
  }
  .video-popup .popup-wrapper .popWrap .popup-content{width: 60%; height:420px;}
}

@media (max-width: 1380px) {
  .data-driving {
    .data-flex {
      .column {
        width: 230px;
        ul {
          li {padding: 18px 20px 18px 40px; min-height: 118px;
          }
        }
        &.analyze{width:540px;}
        &.challenges{
          &:before{left:-110px;}
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .data-driving {
    .data-flex {
      .column {
        width: 22%;
        &.analyze {
          width: 40%;
          .analyze-button {
            .play-icon {
              img {
                width: 200px;
                height: 200px;
              }
            }
            .playsc {
              width: 60px;
              height: 60px;
              top: 37%;
              left: 85px;

              .playicon {
                top: -28px;
                left: -84px;

                &:before {
                  top: -5px;
                  left: -5px;
                  width: 70px;
                  height: 70px;
                }

                &:hover {
                  top: -26px;
                  transition: 0.4s ease-in-out;
                  &:before {
                    width: 78px;
                    height: 78px;
                    left: -9px;
                    top: -10px;
                  }
                }
              }
            }
          }

          &:before {
            left: -22px;
          }
          &:after {
            right: -22px;
          }
        }
      }
    }
  }
  .video-popup .popup-wrapper .popWrap .popup-content{width: 60%; height:80%;}
}

@media (max-width: 1080px) {
  .data-driving {
    padding: 0 0 80px;

    .data-flex {
      gap: 0;
      .column {
        width: 25%;

        ul {
          li {
            padding: 15px 20px 15px 45px;
            min-height: 120px;
          }
        }

        .head-data {
          display: flex;
          align-items: center;
          margin: 0 auto 50px;
          border: 1px solid rgba(153, 153, 152, 0.04);
          border-radius: 35px;
          padding: 15px 20px;
          min-width: 200px;
          width: 200px;
          background: #fff;
          box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
          .step-number {
            background-color: rgba(103, 84, 226, 0.07);
            border: 1px solid rgba(98, 77, 227, 0.07);
            color: white;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            font-size: 18px;
            color: rgba(103, 84, 226, 1);
            font-weight: 700;
          }

          h3 {
            font-size: 12px;
            color: rgba(68, 75, 85, 1);
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
          }
        }

        &.solutions {
          ul {
            li {
              &:before {
                background: rgba(253, 203, 104, 1);
              }
            }
          }
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }

        &.analyze {
          width: 50%;

          &:before {
            left: 0;
            top: 185px;
          }

          &:after {
            right: 0;
            top: 185px;
          }
        }

        &.challenges {
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .video-popup .popup-wrapper .popWrap .popup-content{width:95%; height:80%;}
}

@media (max-width: 979px) {
  .data-driving .data-flex .column ul li {
    min-height: 150px;
  }
}

@media (max-width: 768px) {
  .data-driving {
    width: 100%;
    overflow: hidden;
    padding: 0 0 30px;
    .data-flex {
      .column {
        width: 305px;
        ul {
          li {
            margin: 0 0 15px;
            padding: 10px 35px 10px 45px;
            min-height: 65px;
          }
        }

        .head-data {
          margin: 0 auto 30px;
        }

        &.solutions {
          &:before {
            display: none;
          }
          &:after {
            background: url(../images/grid-shape.png) 0 0 no-repeat;
            width: 100%;
            height: 420px;
            bottom: -20px;
            z-index: -9;
            left: -30px;
            right: auto;
          }
        }

        &.analyze {
          padding: 135px 0 160px;
          width: 100%;
          &:before {
            background: url(../images/anmob-shape01.png) 0 0 no-repeat;
            width: 354px;
            height: 187px;
            top: -50px;
            z-index: -9;
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          &:after {
            background: url(../images/anmob-shape02.png) 0 0 no-repeat;
            width: 354px;
            height: 187px;
            bottom: -50px;
            top: auto;
            z-index: -9;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }

        &.challenges {
          &:before {
            background: url(../images/grid-shape.png) 0 0 no-repeat;
            width: 100%;
            height: 420px;
            top: -50px;
            z-index: -9;
            left: -30px;
            right: auto;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
