@import "typography-new";
@import "form-county";
@import "feature-form";
@import "signup-form";
@import "_chat-popup";
@import "_ws-journey";
@import "_testimonials";
@import "_glider";
@import "_section-numbers";
/*Form section start from here*/
.case-section .nccr{color:#fff !important;}
a:-webkit-any-link:focus-visible {
  outline-offset: 1px;
}

:-webkit-any-link {
  color: $blue;
  cursor: pointer;
  &:hover{color: #110302;}
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
.banner-form {
  width: 100%;

  .popup-wrapper {
    z-index: 999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
  }
  .popWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background-color: #fefefe;
    padding: 40px 40px 30px;
    height: initial;
    width: 45%;
    position: relative;
    .top-section {
      margin: 0 0 40px;
      padding: 0;
      h2 {
        font-size: 32px;
        line-height: 39px;
      }
    }
    .purple {
      color: #624DE3;
    }
    p {
      color: #737b7d;
      font-size: 18px;
      letter-spacing: 0;
    }
    .padd {
      font-size: 13px;
      margin: 0 0 5px;
      padding: 0 10px;
      .mcheck {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 2px;
        left: 0;
      }
      input[type="checkbox"]:checked {
        background-color: #643bdf;
      }
      p {
        font-size: 13px;
        padding-left: 25px;
        position: relative;
      }
    }
  }
  .form-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-group {
      width: 50%;
      padding: 0 10px;
      margin: 0 0 20px;
    }
    label {
      font-size: 14px;
      margin: 0 0 12px;
      display: block;
      color: #110302;
    }
    .form-group-d {
      width: 48%;
      margin: 0;
    }
    input {
      width: 100%;
      border: 1px solid #bae;
      border-radius: 5px;
      padding: 0 18px 0;
      height: 50px;
      color: #110302;
      font-size: 14px;
      font-family: 'Lexend Deca';
      font-weight: 500;
    }

    input#cont_phpne {
      padding: 18px 18px 18px 85px;
    }
  }

  .btn {
    border: 0;
    min-width: 210px;
    background: #643bdf;
    font-family: 'Lexend Deca';
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 8px;
    color: #fff;
    height: 52px;
    display: block;
    cursor: pointer;
    border-radius: 30px;

    &:hover {
      background: #333333;
    }
    &:focus {
      background: #333333;
    }
  }

  .phone-wrap {
    position: relative;
    .field {
      width: 65px;
      height: auto;
      font-size: 13px;
      left: 15px;
      position: absolute;
      color: #737b7d;
      z-index: 99;
      border: 0;
      background: none;
      background-image: url(../images/angle-down.png);
      background-repeat: no-repeat;
      background-position: top 7px right 16px;
      top: 20px;
      font-family: 'Lexend Deca';
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      outline: none;

      option {
        min-width: 500px;
        border-radius: 0;
        padding: 5px;
        background-color: #ffffff;
        line-height: 25px;
      }
    }
    input#cont_phpne {
      padding: 3px 15px 0 90px;
    }
    &:before {
      content: "";
      height: 35px;
      width: 1px;
      position: absolute;
      top: 10px;
      left: 78px;
      background: #bab9b9;
    }
  }

  .form-wrap .width-full {
    width: 100%;
    text-align: left;
  }
  textarea.input-field {
    width: 100%;
    border: 1px solid #bae;
    border-radius: 5px;
    padding: 18px;
    color: #110302;
    font-size: 14px;
    font-family: 'Lexend Deca';
    font-weight: 500;
    height: 117px;
    resize: none;
  }
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(55, 54, 88, 0.5);
}

.banner-form .form-group-d .form-group {
  width: 100%;
}

.form-group.ws-error input,
.select-box.ws-error {
  border-color: red;
}
.iti.ws-error input {
  border-color: red;
}
.form-group.ws-error .input-field {
  border-color: red;
}

.error,
.errors {
  width: 100%;
  display: block;
  margin: 8px 0 0;
  color: red;
  font-size: 13px;
  text-align: left;
}
.select-box .error {
  position: absolute;
  bottom: -25px;
  left: 0;
}
.error {
  color: Red;
}
.invalid + .error {
  display: block;
}
.invalid {
  border: 1px solid red !important;
}
.invalid.field {
  height: 30%;
}

.closeicon {
  background: url("../images/cross-black.png") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  float: right;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 17px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.captForm {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0;
  .form-group {
    display: flex;
  }
  .quizQ {
    background: url(../images/line-image.png) no-repeat top 8px left 15px;
    border: 1px dashed #bae;
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 4px;
    width: 210px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
    #j-quiz {
      width: 70%;
      display: block;
      text-align: center;
      word-spacing: 8px;
      color: #4a4c55;
    }
    .refreshbtn {
      background: url(../images/refresh-button.png) no-repeat;
      width: 24px;
      height: 20px;
      margin-right: 14px;
      position: absolute;
      top: 16px;
      right: 0;
      padding-left: 20px;
      cursor: pointer;
      transition: all 0.5s ease 0s;

      &:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        opacity: 0.8;
      }
    }
    &:after {
      content: "";
      width: 1px;
      height: 32px;
      position: absolute;
      background: #bab9b9;
      top: 10px;
      right: 52px;
      margin: 0 auto;
    }
  }

  .quizAns {
    width: 70px;
    margin-left: 50px;
    position: relative;
    input {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 0.5px;
      color: #000;
      font-family: 'Lexend Deca';
    }
    ::-webkit-input-placeholder {
      color: #000;
    }
    &:before {
      content: "=";
      position: absolute;
      font-size: 20px;
      top: 14px;
      left: -59px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.captForm input {
  position: relative;
  z-index: 99999;
  text-align: center;
}

#captchaerror {
  width: 100px;
}
.banner-form .hold-on {
  background: #efefef;
  color: #000;
}
.banner-form .hold-on:hover {
  cursor: wait;
  background: #efefef;
  color: #000;
}
.banner-form .justify {
  justify-content: end;
}

.captForm input::-webkit-input-placeholder {
  color: #737b7d;
}
.captForm ::-moz-placeholder {
  color: #737b7d;
}
.form-group #team-size::-moz-placeholder {
  color: #737b7d;
}
.form-group #team-size {
  width: 100%;
  position: relative;
  border: 1px solid #bbaaee;
  border-radius: 3px;
  background-image: url(../images/angle-down.png);
  background-repeat: no-repeat;
  background-position: center right 15px;
  padding: 0 15px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 50px;
  color: #737b7d;
  font-size: 13px;
  font-family: 'Lexend Deca';
  background-color: #fff;
}

.ws-error #team-size {
  border-color: red;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.requestform .form-group label {
  z-index: 9999 !important;
}

input::-webkit-input-placeholder {
  color: rgba(55, 54, 88, 0.5) !important;
}
input[placeholder],
[placeholder],
*[placeholder] {
  color: rgba(55, 54, 88, 0.5);
}

.select-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  border: 1px solid #bae;
  border-radius: 5px;
  padding: 16px 18px;
  height: 50px;
  color: #110302;
  font-size: 14px;
  font-family: 'Lexend Deca';
  &.active {
    a {
      opacity: 1;
    }
  }
  .select-first {
    opacity: 0.4;
    text-decoration: none;
    color: #110302;
    text-transform: capitalize;
  }
  .arrow-btn {
    position: relative;
    &::after {
      content: "";
      clear: both;
      display: block;
      background: url(../images/angle-down.png) no-repeat right center;
      width: 13px;
      height: 7px;
      position: absolute;
      top: 6px;
      right: 0;
    }
    &.rotate {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &.input-field {
    &.verror {
      border-color: #e74c3c;
    }
  }
  small {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}
.select-list {
  position: relative;
  ul {
    list-style-type: none;
    background: #ffffff;
    box-shadow: 0px 13px 25px rgba(103, 84, 226, 0.2);
    border-radius: 0px 0px 0px 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    display: none;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: scroll;

    li {
      padding: 7px 18px;
      color: #373658;
      font-size: 14px;
      cursor: pointer;
      position: relative;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;
      font-family: 'Lexend Deca';
      &:hover,
      &.active {
        background-color: #8e6afa;
        color: #fff;
        opacity: 1;
        font-weight: 500;
      }
    }
    &.open-close {
      display: block;
    }
    em {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      border: 1px $white solid;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      font-size: 12px;
      font-weight: 700;
      text-transform: lowercase;
      &:hover ~ .info {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.note {
  display: block;
  font-size: 10px;
  color: #110302;
  font-weight: 500;
}

.form-group .user-input {
  position: relative;
}

.form-group .user-input .pcode-prefix {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  outline: 0;
  width: 100px;
  background: none;
  padding-left: 45px;
  color: #fff;
  color: #000;
  z-index: 9;
}

.iti__arrow,
.iti__arrow--up {
  margin-left: 45px;
}

.iti__flag-container {
  height: 50px;
}

.iti__selected-flag {
  width: 105px !important;
}
.banner-form .form-wrap input#cont_phpne {
  padding: 18px 18px 18px 85px;
  padding-left: 115px;
  position: absolute;
  top: 0;
}

li.iti__country {
  z-index: 9999;
}
.flg-container {
  z-index: -9;
  pointer-events: none;
}

#phone-error {
  position: absolute;
  bottom: -74px;
}

.ws-error input#cont_phpne {
  border-color: red;
}

/*Form section END*/

/*Feature Form Start From Here*/

.feature-form {
  .popup-content {
    width: 50%;
  }
  .form-wrap {
    .form-group {
      width: 33.33%;
    }
    .width-full {
      width: 100%;
      position: relative;
    }
    textarea.input-field {
      height: 50px;
      border: 0;
      padding: 0;
    }
    .captForm {
      margin: 28px 0 0;
      .quizQ {
        width: 148px;
        background: url(../images/line-image2.png) no-repeat top 8px left 15px;
        padding: 0 18px;
        &:after {
          display: none;
        }
      }
      .form-capt {
        display: flex;
      }
      .quizAns {
        width: 58px;
        margin-left: 33px;
        &:before {
          left: -45px;
        }
        .error {
          text-align: center;
        }
      }
    }
    .btn {
      margin: 28px 0 0;
    }
    input#fcont_phpne {
      padding: 18px 18px 18px 115px;
      position: absolute;
      top: 0;
    }
  }

  .ws-error .user-textarea {
    border-color: red;
  }
  .hold-on {
    background: #efefef;
    color: #000;
  }
  .hold-on:hover {
    cursor: wait;
    background: #efefef;
    color: #000;
  }
}

/*Feature Form End Here*/

.thank-section {
  width: 100%;
  padding: 50px 0;
  background: #624DE3;
  text-align: center;
  color: #fff;
  h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 15px;
  }
  p {
    color: #fff;
  }
}
/*Thanks Page Start*/

/*Thanks Page End*/

ul li {
  list-style: none !important;
}
.p-bt {
  padding-bottom: 50px;
}
.column-three {
  flex-basis: 33.33%;
  padding: 15px;
}


.mt40 {
  margin-top: 45px;
}
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mt0 {
  padding-top: 0;
}

.mob-image {
  width: 100%;
  display: none;
  margin: 0 0 10px;
  text-align: center;
}

.text-column.active {
  box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
  background: #fff;
}

.page {
  display: none;
}

.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnSc {
  width: 100%;
  text-align: center;
  p {
    font-size: 14px;
    font-weight: 500;
    color: #6b7097;
    line-height: 20px;
  }
  a {
    padding: 14px 70px;
    margin: 8px 0;
  }
  small {
    font-size: 12px;
    color: #6b7097;
    display: block;
  }
  .ctbtn {
    padding: 17px 30px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    min-width: 213px;
    background: #624DE3;
    border-color: #624DE3;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    font-weight: $medium_weight;
    &:hover {
      background: #051441;
      border-color: #051441;
      color:$white;
    }
  }
  
  .ctasec {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: baseline;
  
    .devide {
      padding: 0 10px;
      display: inline-block;
      position: relative;
      color: rgba(68, 97, 215, 0.5);
      font-size: 12px;
  
      &:before {
        content: "";
        clear: both;
        display: block;
        width: 1px;
        height: 16px;
        position: absolute;
        background: rgba(68, 97, 215, 0.5);
        top: -20px;
        left: 19px;
      }
      &:after {
        content: "";
        content: "";
        clear: both;
        display: block;
        width: 1px;
        height: 16px;
        background: rgba(68, 97, 215, 0.5);
        position: absolute;
        bottom: -20px;
        left: 19px;
      }
    }

    .nccr{font-size: 13px;
      margin: 20px 0 0;
     
       display:block; text-align: center;}
  
    .nobg {
      background: none;
      border: none;
      color: #624DE3;
      text-decoration: underline;
      padding: 0;
      min-width: auto;
      &:hover {
        background: none;
        color: #051441;
      }
    }

    
  }
}

.ctbtn {
  padding: 17px 30px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  min-width: 213px;
  background: #624DE3;
  border-color: #624DE3;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: $medium_weight;
  border-radius: 30px;
  &:hover {
    background: #051441;
    border-color: #051441;
    color:$white;
  }
}

.ctasec {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;

  .devide {
    padding: 0 10px;
    display: inline-block;
    position: relative;
    color: rgba(68, 97, 215, 0.5);
    font-size: 12px;

    &:before {
      content: "";
      clear: both;
      display: block;
      width: 1px;
      height: 16px;
      position: absolute;
      background: rgba(68, 97, 215, 0.5);
      top: -20px;
      left: 19px;
    }
    &:after {
      content: "";
      content: "";
      clear: both;
      display: block;
      width: 1px;
      height: 16px;
      background: rgba(68, 97, 215, 0.5);
      position: absolute;
      bottom: -20px;
      left: 19px;
    }
  }

  .nccr{font-size: 13px; display:block;
    margin: 20px 0 0;
    text-align: center;}

  .nobg {
    background: none;
    border: none;
    color: #624DE3;
    text-decoration: underline;
    padding: 0;
    min-width: auto;
    &:hover {
      background: none;
      color: #051441;
    }
  }
}

.case-section, .inner-banner, .start-joureny{
  .ctasec {
    .devide {
      color: rgba(255, 255, 215, 0.5);
      &:before {
        background: rgba(255, 255, 255, 0.5);
      }
      &:after {
        background: rgba(255, 255, 255, 0.5);
      }
    }
    .ctbtn{
      &:hover{background:#fff; color: #624DE3;}
    }
    .nobg {
      color: #fff;
      &:hover {
        background: none;
        color: #624DE3;
      }
    }
  }
}

.case-section{
  .ctasec {
    .ctbtn{background:#051441;
      &:hover{background:#fff; color: #624DE3;}
    }
    .nobg {background:none;
    &:hover{background: none; color:#fff; opacity:0.8;}
    }
    
  }
}





img {
  max-width: 100%;
  height: auto;
}
.body__wrapper {
  overflow: hidden;
}
section {
  padding: 120px 0;
  position: relative;
  @media screen and (max-width: ($lgscreen-size - 1)) {
    padding: 100px 0;
  }
  @media screen and (max-width: ($smscreen-size - 1)) {
    padding: 60px 0;
  }
}


.container {max-width:1440px; margin:0 auto; padding-left:80px; padding-right:80px; position:relative;
@media screen and (max-width: ($xlscreen-size - 1)) {padding-right:30px; padding-left:30px;}
@media screen and (max-width: ($smscreen-size - 1)) {padding-right:15px; padding-left:15px;}
}

.flex_row {display:flex; flex-wrap:wrap; justify-content:space-between;}




.mt80 {margin-top:80px;}
.mt70 {margin-top:70px;}


.btnSc .bgwhite:hover {color:#624DE3; background:#fff;}
.for-link-white .small_anchor:before{content: ""; position:absolute; right:-25px;
top:8px; background: url(../images/arrow-icon.png) no-repeat; width: 11px;
height: 11px; transition: all 0.2s ease-in-out;}

.for-link-white .small_anchor::after, .for-link-blue .small_anchor::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    right: 0;
}
.link-text .small_anchor:hover::before {
    right: -40px;
}
.whitetxt{color:#fff;
p, h2, h3, a{color:#fff;}
.top-section p,h2{color: #fff !important;}
.top-section a{text-decoration: underline;}
.top-section a:hover{color:#000;}
}

.small_anchor:hover{color:$white;}



@media screen and (max-width: ($mdscreen-size - 1)) {
html, body {overflow-x:hidden;}
}

.testmHome:before {
        content: "";
        position: absolute;
        width: 180px;
        height: 139px;
        top: -100px;
        background: url("../images/dots_bg.png");
        right: 50px;
        background-repeat: no-repeat;
        z-index: 1;
@media screen and (max-width: ($mdscreen-size - 1)) {
    background-size:100%; width:80px; height:60px; top: -45px;

}

}


.actionBtn {display:flex; align-items:center; text-align:center; margin-top:40px;
.primary_btn1{padding: 14px 24px 16px; border-radius: 30px;}
.primary_btn2{padding: 14px 24px 15px; border-radius: 30px;}
a:hover{text-decoration: none;}
}
.actionBtn.center {justify-content:center;
a{margin: 0 8px;}
}

.primary_btn1 {height:60px; background:#624DE3; color:#fff; text-align:center; font-weight:$medium_weight; font-size:18px;
line-height:28px; padding:14px 45px 16px; border:1px solid #624DE3; display:inline-block; border-radius: 8px;
&:hover{background:#051441; border-color:#051441; color:#fff;}
}
.primary_btn2 {height: 60px; border:1px solid #624DE3; color:#624DE3; text-align:center; font-weight:$medium_weight; font-size:18px;
  line-height:28px; padding:14px 50px 15px; margin-left: 15px;  border-radius: 8px;
&:hover{background-color: #051441; border-color: #051441; color: #fff;}
}

.btnbg2 {background:#051441; border:1px solid #051441 ;
&:hover{background: #fff; border-color: #fff; color:#624DE3;}
}

.btnwhite {color: #fff; border-color: #fff;
&:hover{color: #624DE3; border-color: #fff; background-color: #fff;}
}
.no-border {border: 0;}

section a.small_anchor:hover:after {opacity: 0 !important; transition: all 0.2s ease-in-out;}

.inline {
h2, h3, h4, h5, h6, p {display: inline; margin: 0;}
}
.inline.mb20 {margin-bottom:20px;}
.inline.mb40 {margin-bottom: 40px;}



.mb60 {margin-bottom: 60px;}

a:hover h3,
.inline a:hover {
    color: #051441;
    text-decoration: underline;
}



.max-width-250 {
    max-width: 250px;
}

.max-width-184 {
    max-width: 184px;
}

.ws-journey {
    align-items: start;
    gap: 4px;

    a {
        display: inline-block;
    }

    small {
        display: block;
        margin: 8px auto 0;
    }

}

.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}


/*faq section start here*/

.faqsRow {
  .flex_row{padding:0 0 40px;}
    .column {width: 100%;  margin: 0;
        .faq-accordion-item-outer {margin-top:30px;
            margin-left: 0;
            h3 {
                position: relative;
                cursor: pointer;
                padding-left: 30px;
                display: inline-block;
                line-height: 26px;
                margin-bottom: 0;
                margin-top: 0;
                font-size: 20px;
                &::before {
                    content: "";
                    display: inline-block;
                    background: url(../images/left-angle.png) no-repeat;
                    width:15px; height:15px; 
                    position: absolute;
                    left: 0;
                    top:8px;
                    
                    
                }
            }
            .faq-accordion-content {
                display: none;
                padding-left: 30px;
                p{margin:15px 0 0;}
                ul, ol{padding:0;
                    li{color:#5E6373; margin:0 0 2px; padding-left: 20px; position: relative;
                    &:before{content: "";
    position: absolute;
    width: 14px;
    height: 13px;
    top: 7px;
    background: url(../images/check-icon.png) no-repeat;
    left: 0;
}
                    }
               
                }
            }
            &.open {
                .faq-accordion-content {
                    display: block;
                }
                h3 {
                    position: relative;
                    &::before {
                      background: url(../images/angle-top.png) no-repeat; width:15px; height:15px; 
                    }
                }
            }
        }
    }
}

.wsMobile {
    .top-section{margin: 0 0 40px;
    p{padding:0;}
    }
    width: 100%;
    text-align:center;
    color: #fff;
    position: relative;
    overflow: hidden;
    background: linear-gradient(97.28deg, #38B7FF 7.55%, #4669FD 94.13%);



    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/wsmBg-1.png) no-repeat;
        width: 360px;
        height: 360px;
        background-size: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(../images/wsmBg-2.png) no-repeat bottom;
        width: 360px;
        height: 360px;
        background-size: 100%;
    }

    .wsmApp{margin: 0 0 20px; position: relative;
      z-index: 9;
     a{display: inline-block;
    margin: 0 8px;
    @media screen and (max-width: ($lgscreen-size - 1)) { margin: 0 5px;}
    &:hover{opacity: .8;}

    @media screen and (max-width: ($smscreen-size - 1)) {margin:0;}
    }
    }
}


.journey-bg{position: relative;}

.journey-bg .actionBtn.center a {
    margin: 0 8px;
    min-width: 251px;
}

/*faq section end here*/


/*feature detail common section*/


  .align-center{align-items:center;}
  

.trackEm {
    position: relative;
    &.padd-0{padding:0;}
    &:before {
        background:#FCFBFF;
        content: ' ';
        display: block;
        width: 35%;
        height: 60%;
        position: absolute;
        top: 68px;
        display:none;
    }
    .trackRow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items:top;
        @media screen and (max-width: ($smscreen-size - 1)) {
          margin:0;
        }
        .trackImg {
            width: 54%;
            @media screen and (max-width: ($smscreen-size - 1)) {
        width:100%;
        order: 2;
        margin: 20px 0 0;
    }

    img{border-radius: 20px;}
        }
        .trackContent {
            width: 40%;
            @media screen and (max-width: ($smscreen-size - 1)) {
        width:100%;
        order: 1;

      

        h5{
          font-size: 14px;} 
    }
            .row {
                padding: 0 0 30px;
                margin: 0 0 30px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                &:last-child {
                border-bottom: 0;
                padding:0;
                }
                h3{text-transform: capitalize;}
                ul{margin: 15px 0 0; padding: 0;
                 li{color:#5E6373; padding-left: 30px; position: relative; margin:10px 0 0;
                 &:before{content: '';
    display: inline-block;
    background: url(../images/list-icon-small.png) no-repeat;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 0;
    position: absolute;}

  

                 }
                }

              

               


            }

            h3 {display: flex;
    align-items: center;
            i {
    background: url(../images/list-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 14px;

    @media screen and (max-width: ($smscreen-size - 1)) {
        width:25px;
    height:25px;
    margin-right: 10px; background-size: 100%;
    }
}
a{color: #110302;
&:hover{color:$blue; text-decoration: underline;}
}
            }

           
            h5{color:$blue;     margin: 0 0 5px;
              font-size: 16px;} 
        }
    }
}

.page-template-tpl-cmn-pillarpage .trackEm {padding-top:0;}

.timeline {background:#FCFBFF;

    .trackRow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:0;
        .trackImg {
            width: 50%;
            @media screen and (max-width: ($smscreen-size - 1)) {
        width:100%;
        margin: 0 0 20px;
    }
        }
        .trackContent {
            width: 42%;
            counter-reset: hsds-ordered-list;
            @media screen and (max-width: ($smscreen-size - 1)) {
        width:100%;
        padding-left: 10px;

    }
            .row {
                padding-bottom:40px;
                padding-left:40px;
                padding-top: 0;
                position: relative;
                border-left: 1px solid rgba(37, 48, 83, .3);
                @media screen and (max-width: ($smscreen-size - 1)) {
        padding-bottom:30px;
                padding-left:30px;
    }
h5{margin:0;}
h3{text-transform: capitalize;}
    ul{margin: 15px 0 0; padding: 0;
                 li{color:#5E6373; padding-left: 30px; position: relative;
                 &:before{content: '';
    display: inline-block;
    background: url(../images/list-icon-small.png) no-repeat;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 0;
    position: absolute;}
                 }
                }
                &:before {
                    font-family: ProximaNova-Bold, Helvetica Neue, sans-serif;
                    font-size:16px;
                    text-align: center;
                    color: #294dff;
                    content: counter(hsds-ordered-list);
                    counter-increment: hsds-ordered-list;
                    display: block;
                    position: absolute;
                    width:32px;
                    height:32px;
                    line-height:32px;
                    border-radius: 100%;
                    left: -16px;
                    top: 0;
                    border: 1px solid #CAC9CC;
                    background: #fff;
                    color: #624DE3;
@media screen and (max-width: ($smscreen-size - 1)) {
        width:30px;
        font-size: 14px;
                    height:30px;
                    line-height:30px;
                    border-radius: 100%;
                    left: -13px;
    }


                }
                &:last-child {
                    border-left: 0;
                    padding-bottom:0;
                }
            }

            a{color: $blue;
            &:hover{text-decoration: underline; color: #110302;}
            }
            
            
        }
    }
}

.testimonial {display:none;}

.p50{padding-top:50px;
  @media screen and (max-width: ($smscreen-size - 1)) {padding-top: 20px;}
}


.question-list {
    padding:0;
    overflow:auto; 
    border-right: 1px solid #EDEDED;
   }
   .question-list li {
    position: relative;
   
   }
   .question-list li a {
    color:#2D2D2D;
    font-weight:500;
    text-decoration:none; 
    padding:10px; 
    display: block;
   }
   
   
   .question-list li a.active,
   .question-list li a:hover {
   background:#F5F3FE;
   }
   
   .question-list li a.active:after{content: ''; width: 5px; height:100%; background: #624DE3; 
   border-radius:100px; position: absolute; top: 0; right:0;}
   
   .buyers-guide {
    overflow:hidden;
    position:relative;
   
   }
   .buyers-guide-question {
    float:left;
    margin-right: 50px;
    width: 340px;
    background-color:#fff;
    margin-top: 30px;
   }
   .buyers-guide-question h2{
       margin-bottom: 15px;
   }
   
   
   .buyers-guide-answer-part {
    width:calc(100% - 390px);
    float:right
   }
   
   
   .guide-answer ul.listype strong{color:#333333;}
   .guide-answer  p strong{color:#333333;}
   .guide-answer ul.listype li{margin:0 0 18px;}
   .guide-answer ul {
    padding-left: 20px;
    margin-top: 0;
   
   
   }
   .guide-answer ul li{list-style: disc !important; color: #5E6373; margin: 0 0 5px;}
   .guide-answer ol{padding-left: 0;}
   .number-speak-section{background:#e7eef9;}
   .guide-answer ul li strong{color:#333;}
   
   .buyers-guide-answer {
    border-bottom: 1px solid #ededed;
    padding: 0 0 20px;
  
    .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    .alignleft {
      margin: 0px 40px 40px 0;
    }
    .alignright {
      margin: 0px 40px 40px 0;
    }
    img {
      margin: 40px 0;
    }
  }
  
  

   .buyers-guide-answer h3{ margin-bottom:0; padding-top:80px; padding-bottom: 20px;}
   .buyers-guide-answer:last-child { 
    border-bottom:none;
    margin-bottom:0
   }
 
   .buyers-guide-question.sticky {
    position:fixed;
    top:80px;

   }
   .buyers-guide-question.sticky.btomfixed {
    bottom:100px;
    top:auto;
    position:absolute
   }
   .company-listing .pagination-block,
   .software-listing .pagination-block {
    padding:5px 0 15px
   }
   .guide-answer p {
    margin:0 0 15px!important;
   
   }
   .buyers-guide-answer a{color:#624DE3;}
   .guide-answer a:hover{color:#2D2D2D;}
   
   
   .guide-answer h3 {
    padding:10px 0 12px;
    margin:0!important
   }
   .guide-answer h4 {
    padding:0 0 5px;
    line-height:26px;
    margin:0!important
   }
/*feature detail common section*/

.actionBtn small{display: block; margin: 0 auto;}
.actionBtn a{display: block !important; margin:0 5px 8px;}
.actionBtn div{margin:0 10px;}
.actionBtn.center a{margin:0 0 8px;}
.for-link-white, .for-link-white p{color: #fff !important;}
.bglight{background-color: #F7F6F9;}
.journey-bg{background:#624DE3; width: 100%;
.top-section{margin: 0 0 40px;
p{color: #fff}
}
.actionBtn.center a {margin: 0 8px; min-width: 251px;}
small{margin: 8px auto 0};

.column-three {flex-basis:33.33%; padding:15px;}





@media(max-width:479px){
.actionBtn.center a {margin:0 3px;}
.actionBtn div{margin: 0 auto 15px; width: 100%;}

}

}

@media only screen and (max-width: 1440px) {
.primary_btn1 {padding: 14px 30px 16px;}
section{padding: 80px 0;}
.captForm .quizQ{background-size:60px; background-position: center left 15px;}
}
@media(max-width:1600px) {
.banner-form .popup-content .top-section h2{font-size:25px; line-height:34px; margin:8px 0 10px;}
.banner-form .popup-content{padding:10px 30px 20px; width:60%;}
.banner-form .form-wrap label{margin: 0 0 5px; font-size: 13px;}
.banner-form .form-wrap input{height:45px;}
.banner-form .form-wrap input{height:50px;}
.banner-form textarea.input-field{height:90px;}
.banner-form .form-wrap .form-group{margin:0 0 12px;}
.error, .errors{font-size:12px; margin:5px 0 0;}
.closeicon{background-size: 100%; top: 10px; width:22px; height:22px;}
.banner-form .popup-content .top-section{margin:0 0 20px;}
.select-box .error{bottom: -20px;}
.closeicon{top:15px;}

#phone-error{bottom: -68px;}

.feature-form .iti__flag-container{height: 50px;}
#phoneno{bottom: -68px;}
}
@media(max-width:1440px) {
section{padding: 80px 0;}


.banner-form .phone-wrap:before{top: 8px;}
.captForm .quizQ #j-quiz{width: 65%;}
.banner-form .popup-content .top-section{margin: 0 0 20px;}
.banner-form .popup-content .top-section .linebrk{display:none;}
.banner-form .form-wrap input{font-size:13px; height:40px; padding: 0 15px 0;}

.mt100 {margin-top: 60px;}
.select-list ul li{font-size:13px;}
.banner-form textarea.input-field{height:90px; font-size: 13px; padding:15px;}
.select-box{height:40px; padding: 11px 15px; font-size: 13px;}
.captForm .quizQ{height: 40px;
  line-height: 40px;     font-size: 18px;}
  .captForm .quizQ .refreshbtn{top: 13px; background-size: 100%; width:20px;}
  .captForm .quizQ:after{height: 22px;}
  .captForm .quizAns:before {font-size: 19px; top: 10px;}
  .banner-form .btn{height:40px; padding:8px; font-size: 15px;}
  .captForm{margin:0;}

 .iti__flag-container {
  height: 40px;
}
#phone-error {
  bottom: -59px;
}
#phoneno{ bottom: -59px;}
.feature-form .iti__flag-container{ height: 40px;}
.feature-form .form-wrap .captForm {margin: 23px 0 0;}
.feature-form .form-wrap .captForm .quizQ{width:120px; background-size: 63px;
  background-position: 14px 6px;}
.feature-form .form-wrap .btn {margin: 23px 0 0;}
.feature-form .captForm .quizQ .refreshbtn{top: 11px;}
}

@media(max-width:1380px) {.closeicon {top:8px;}
 .banner-form .popup-content{overflow-y: scroll; height:95%;}



}

@media(max-width:1140px) {
.primary_btn1,.primary_btn2 {height: initial; padding:10px 25px 11px; min-width:160px;}

.slide_shape_section:before{display:none;}
.linebrk{display: none;}



 .regBtn .primary_btn1{line-height: 1.4 !important; padding: 10px 15px !important; font-size:15px !important;}
 .testmHome::before {background-size:100%; width:100px; height:100px; top: -40px; }


 .feature-form .form-wrap .form-group {width: 50%;}
 .feature-form .form-wrap .width-full{width:100%;}
 
}

@media(max-width:979px) {

.wsMobile .top-section p{padding:0 0;}
section{padding:50px 0;}




.time-data .column-three{padding:10px;}

.buyers-guide{flex-wrap: wrap;}
.buyers-guide-question{width: 100%; margin-right: 0;}
.toc-list{border-right: 0;}
.question-list{border: 1px solid #EDEDED;}
.buyers-guide-answer-part{width: 100%;}

.buyers-guide-answer {
padding:0 0 15px;
.alignleft {
    margin: 0px 20px 20px 0;
  }
  .alignright {
    margin: 0px 20px 20px 0;
  }
  img {
    margin:25px 0;
  }
}


.buyers-guide-answer h3{padding:60px 0 20px;}
.banner-form .form-wrap label{font-size:13px; margin:0 0 6px;}
.banner-form .form-wrap input{font-size:13px; padding:0 12px;}
.select-list ul li{font-size:13px;}
.note{width:100%; text-align:center;}
.banner-form textarea.input-field{padding:12px; font-size: 13px;}
.banner-form .popup-content{width:90%;}
.thank-section h1{font-size: 26px; line-height: 35px; margin: 0 0 10px;}
.thank-section{padding:30px 0;}
.switch{font-size:13px;}


.journey-bg .actionBtn div{margin:10px 0 0;}

}

@media(max-width:767px) {

.mob-image{display: block;}
.text-column.active{box-shadow: none;}


.wsMobile:after {width: 50%;}
.wsMobile:before {width: 50%;}


.actionBtn {margin:30px 0; flex-wrap:wrap;
 div{margin-right:5px}   
.primary_btn1{padding:10px 20px; line-height: initial; height: initial;}
.primary_btn2{padding:10px 20px; line-height: initial; height: initial;}
}
.btnSc a{padding:14px 30px 13px; line-height: initial; height: initial;}

.primary_btn1{font-size:14px; padding:14px 20px 13px; min-width:120px;}
.primary_btn2{font-size:14px; padding:14px 20px 13px; min-width:120px;}
.faqsRow .column .faq-accordion-item-outer h3{line-height:23px; padding-left: 22px;} 
.faqsRow .column .faq-accordion-item-outer{margin-top: 15px;} 
.faqsRow .column .faq-accordion-item-outer.open .faq-accordion-content{padding-left: 22px;}
.column-three {flex-basis: 100%; padding: 20px;}
.mt70{margin: 40px 0 0;}
.mt40{margin-top:15px;}
.mt80{margin: 50px 0 0;}
.mt100{margin:60px 0 0;}
.journey-bg .actionBtn div{width: 48%;}
.journey-bg .actionBtn.center a{margin: 0 0 0; min-width: auto;}
.journey-bg .actionBtn .primary_btn1{padding:14px 10px 14px;}
.journey-bg .actionBtn .primary_btn2{padding:14px 10px 13px;}
.journey-bg small{font-size:11px;}
.journey-bg{padding: 50px 0;}
.journey-bg .top-section{margin: 0 0 30px;}
.time-data .column-three{margin: 0 auto 10px;}
.closeicon{background-size: 100%; width: 20px; height:20px; right:7px; top:7px;}
.banner-form .form-wrap .form-group{margin: 0 0 5px;}
.banner-form .popup-content p{font-size:16px;}
.banner-form  .btn{min-width:initial; padding:0 35px; height:45px; font-size:16px;}
.banner-form .captForm .form-group{width: 100%;}
.banner-form .justify{justify-content:center;}
.captForm .quizQ{background-size:100px;}
.banner-form .popup-content .top-section{margin:0 0 15px;}
.banner-form .form-wrap input, .form-group #team-size{height:38px;}
.banner-form .form-wrap .form-group{margin: 0 0 5px;}
.banner-form .phone-wrap .field{top: 15px;}
.banner-form .phone-wrap::before {top:10px; height:25px;}
.captForm .quizQ{height:38px; line-height:38px;}
.captForm .quizQ::after {top: 9px; height: 19px;}
.captForm .quizQ .refreshbtn{top:10px;}
.banner-form .popup-content .top-section h2{font-size:22px; line-height:28px;}
.banner-form .popup-wrapper{top:0;}
.select-box{height: 38px; padding: 10px 18px;}
.banner-form textarea.input-field{height:80px;}
.banner-form .btn{margin:10px 0;}
.banner-form .form-wrap .form-group.width-full{margin:20px 0 0;}
.feature-form .form-wrap .form-group{margin: 0 0 10px;}
.feature-form .form-wrap .form-group.width-full{margin: 0 0 10px;}
.iti__flag-container{height:38px;}
.feature-form .form-wrap .btn{margin:20px auto 0;}
.feature-form .iti__flag-container {height: 38px;}
.ctbtn{padding:12px 18px; font-size: 16px; min-width: initial;}
.btnSc .ctbtn, .ctbtn{padding:12px 18px; font-size: 15px; min-width: initial;}
.faqsRow .column .faq-accordion-item-outer h3{font-size: 16px;}

}

@media(max-width:479px) {

.banner-form  .form-wrap .form-group, .banner-form .form-wrap .form-group-d{width:100%;}   
.captForm .quizQ{background-size:70px;}
#captchaerror {width: 85px;}
 input:focus{font-size:16px !important;}
 .banner-form textarea.input-field:focus{font-size:16px !important;}
 .banner-form .form-wrap .form-group.companygroup{margin:48px 0 0;}
 #phone-error, #phoneno {bottom: -56px;}
 .banner-form .form-wrap .form-group.width-full {margin:15px 0 0;}
 .feature-form .form-wrap .form-group.width-full{margin:0 0 10px;}
#help-ul{margin:10px 0 0;}
.captForm {margin: 15px 0 0;}
.hero-banner br{display:none;}

}
.av-device {padding:0 22px;
  display: inline-flex;
  align-items: center;
  position: relative;

  span {
    margin-right: 5px;
  }

  i {
    background: url(../images/av-icon01.svg) no-repeat;
    width: 23px;
    height: 28px;
    display: block;
    margin: auto;
    margin-left: 15px;
    position: relative;
    &.icon2 {
      background: url(../images/av-icon02.svg) no-repeat;
      width: 31px;
      height: 17px;
    }
    &.icon3 {
      background: url(../images/av-icon03.svg) no-repeat;
      width: 24px;
      height: 24px;
    }
    &.icon4 {
      background: url(../images/av-icon04.svg) no-repeat;
      width: 21px;
      height: 24px;
    }
    &.icon5 {
      background: url(../images/av-icon05.svg) no-repeat;
      width: 21px;
      height: 25px;
    }
  }

  &:before{content: "";
    width: 53px;
    height: 1px;
    background: #A06ED1;
    margin-right:22px;}
    &:after{content: "";
      width: 53px;
      height: 1px;
      background: #A06ED1;
      margin-left:22px;}
    
}

@media (max-width: 767px) {
  .av-device {margin:0 0 10px; padding:0;
    &:before{display:none;}
    &:after{display:none;}
    span {
      font-size: 15px;
    }

    i {
      margin-left: 12px;
    }
  }
}





/*Downlaod form start from here*/
.dis-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dwnload {
  padding: 90px 0;
  background: url(../images/down-bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .dis-flex {
    justify-content: space-between;
    .dwnleft {
      flex-basis: 65%;
      h2,
      p {
        color: #fff;
      }
    }
    .dwnright {
      flex-basis: 30%;
      text-align: right;
      a {
        background: #ffffff;
        color: #4334a4;
        border-color: #fff;
        &:hover {
          background: #051441;
          border-color: #051441;
          color: #fff;
        }
      }
    }
  }
}
.down-form {
  .popup-content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to left, #fff 65%, #643bdf 35%);
    .leftsc {
      background: #643bdf;
      flex-basis: 35%;
      padding: 60px 0 60px 28px;
      border-radius: 15px 0px 0px 15px;
      .lftwrap {
        background: url(../images/blue-bg.webp);
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        padding: 30px 20px;
        min-height: 332px;
        .ebook {
          display: inline-block;
          background: #00b7c9;
          color: #fff;
          padding: 3px 10px;
          font-size: 10px;
          width: auto;
          border-radius: 2px 0 0 2px;
          text-align: right;
          position: absolute;
          right: 0;
        }
      }
      h3 {
        margin: 50px 0 0;
        color: #fff;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 700;
      }
      p {
        color: #fff;
        font-size: 12px;
        line-height: 1.2;
        margin: 5px 0 0;
      }
      .smllogo {
        margin: 45px 0 0;
        display: block;
      }
    }
    .rightsc {
      flex-basis: 65%;
      padding: 50px 60px 50px 40px;
      border-radius: 0 15px 15px 0;
      .top-section {
        margin: 0;
        text-align: left;
        h2 {
          text-transform: uppercase;
          color: #110302;
          margin: 0;
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      .form-wrap {
        margin: 40px 0 0;
        .form-group {
          width: 100%;
          padding: 0;
          .btn {
            margin: 10px 0 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .down-form {
    .popup-content {
      width: 55%;
      .leftsc {
        padding: 40px 0 40px 28px;
      }
      .rightsc {
        padding: 40px 50px 40px 40px;
        .top-section {
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
        .form-wrap {
          margin: 30px 0 0;
        }
      }
    }
  }
}

/*Downlaod form End  here*/






