.grade-solution {
  .solution-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Explicitly set 3 columns */
    gap: 20px;

    .solution-card {
      background: #e7e3ff;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 30px 40px 20px #0000000d;

      transition: all 0.3s ease-in-out;
      color: var(--color-dark);
      transition: transform 0.3s ease;
      img {
        margin: 20px 0;
        display: block;
        width: 100%;
      }

      h3 {
        color: $dark-grey;
      }

      ul {
        margin: 20px 0 0;
        li {
          font-weight: 500;
          margin: 0 0 15px;
          padding-left: 32px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            background: url(../images/listing.svg) no-repeat;
            width: 22px;
            height: 22px;
            background-size: 100%;
          }
        }
      }

      &:nth-child(2n) {
        background: $white;
        box-shadow: 0px 30px 40px 20px #0000000d;
      }
      &:nth-child(3n) {
        background: #fff8e8;
      }
    }
  }
}

/*Media Query Start From Here*/
@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 979px) {
  .grade-solution {
    .solution-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .grade-solution {
    .solution-grid {
      grid-template-columns: repeat(1, 1fr);
      .solution-card {
        ul {
          margin: 15px 0 0;
          li {
            padding-left: 28px;
            &:before {
              content: "";
              width: 18px;
              height: 18px;
              top: 3px;
            }
          }
        }
      }
    }
  }
}
