.feature-scroller {
  display: flex;
  justify-content: center;

  .feature-wrap {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    justify-content: space-between;
    .left-panel {
      flex-basis: 50%;
      position: sticky;
      top: 150px;
      height: fit-content;

      .button-common {
        .cmn-democta {
          justify-content: left;
        }
      }
    }

    .right-panel {
      flex-basis: 42%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .content-box {
        display: flex;
        flex-direction: column;

        background: #6f57fd;
        border-radius: 30px;
        padding: 25px 15px;

        .img-sec {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .text-box {
          padding: 0 20px;

          h3 {
            color: $white;
          }
          p {
            color: rgba(255, 255, 255, 0.9);
          }
          ul {
            li {
              position: relative;
              color: rgba(255, 255, 255, 0.8);
              padding-left: 28px;
              margin: 8px 0 0;
              line-height: 22px;

              &:before {
                content: "";
                display: inline-block;
                background: url(../images/list-circle-white.svg) no-repeat;
                width: 18px;
                height: 18px;
                top: 2px;
                left: 0;
                position: absolute;
              }
            }
          }
        }

        &:nth-child(2n) {
          background: #f76918;
        }
      }
    }
  }
}

/*Media Query Start From Here*/
@media (max-width: 1440px) {
  .feature-scroller {
    padding: 0;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 980px) {
  .feature-scroller {
    .feature-wrap {
      gap: 15px;
      padding-left: 25px;
      padding-right: 25px;
      .left-panel {
        flex-basis: 60%;
      }
      .right-panel {
        flex-basis: 38%;
        gap: 30px;
        .content-box {
          .text-box {
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .feature-scroller {
    .feature-wrap {
      gap: 0;
      flex-wrap: wrap;
      border-radius: 20px;
      padding: 30px 20px;
      .left-panel {
        flex-basis: 100%;
        position: initial;
        top: 150px;
        height: initial;
      }
      .right-panel {
        flex-basis: 100%;
        gap: 20px;
        .content-box {
          border-radius: 20px;
          .text-box {
            padding: 0;
          }
        }
      }
    }
  }
}

/*Media Query Ends Here*/
