.step-section {
  .step-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    .step-left {
      width: 50%;
    }
    .step-content {
      width: 45%;
      counter-reset: hsds-ordered-list;

      .row {
        padding-bottom: 40px;
        padding-left: 40px;
        padding-top: 0;
        position: relative;
        border-left: 1px solid rgba(37, 48, 83, 0.3);

        h5 {
          margin: 0;
        }
        h3 {
          text-transform: capitalize;
        }
        ul {
          margin: 15px 0 0;
          padding: 0;
          li {
            color: #5e6373;
            padding-left: 30px;
            position: relative;
            &:before {
              content: "";
              display: inline-block;
              background: url(../images/list-icon-small.png) no-repeat;
              width: 30px;
              height: 30px;
              top: 3px;
              left: 0;
              position: absolute;
            }
          }
        }
        &:before {
          font-size: 16px;
          text-align: center;
          color: $lightblue;
          content: counter(hsds-ordered-list);
          counter-increment: hsds-ordered-list;
          display: block;
          font-weight: $medium_weight;
          position: absolute;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 100%;
          left: -16px;
          top: 0;
          border: 1px solid #cac9cc;
          background: #fff;
        }
        &:last-child {
          border-left: 0;
          padding-bottom: 0;
        }
      }

      a {
        color: $blue;
        &:hover {
          text-decoration: underline;
          color: $navyblue;
        }
      }
    }
  }
}

/*Media Query Start From Here*/
@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 980px) {
}

@media (max-width: 767px) {
  .step-section {
    .step-row {
      .step-left {
        width: 100%;
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
      .step-content {
        width: 100%;
        margin: 30px 0 0;

        .row {
          padding-bottom: 30px;
          padding-left: 30px;
          &:before {
            width: 30px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            border-radius: 100%;
            left: -13px;
          }
        }

        a {
          color: $blue;
          &:hover {
            text-decoration: underline;
            color: $navyblue;
          }
        }
      }
    }
  }
}

/*Media Query Ends Here*/
