.header-two .header-item-left .large .dark {
  display: block;
}
.header-two .header-item-left .large .light {
  display: none;
}
.header-two{background:#fff;}
.header-two .header-item-right .menu ul li.menu-item-has-children a {
  color: #05164d;
}
.header-two
  .header-item-right
  .menu
  ul
  li.menu-item-has-children
  a.mst-link:before {
  background: url(../header-images/angle-icon.svg) no-repeat;
}
.header-two .header-item-right .cta-wrap .login a.bg-none,
.header-two:hover .header-item-right .cta-wrap .login a.bg-none:hover,
.header-two.shady .header-item-right .cta-wrap .login a.bg-none:hover {
  background: transparent;
  border-color: transparent;
  opacity: 0.8;
  color: #05164d;
}
.header-two .header-item-right .cta-wrap .login a {
  background: #6754e2;
  color: #fff;
  border: 1px solid #6754e2;
  font-weight: 500;
}
.header-two:hover .header-item-right .cta-wrap .login a, .header-two.shady .header-item-right .cta-wrap .login a{font-weight: 500;}
.header-two .header-item-right .cta-wrap .login a.for-free{font-weight: 500;}
.header-two .header-item-right .cta-wrap .login a.for-free:after {
  background: url(../header-images/purple-arrow.svg) no-repeat;
}
.header-two .header-item-right .cta-wrap .login a.for-free {
  border-color: #6754e2;
  color: #6754e2;
  background: transparent;
}

/*Menu Related SCSS ends here*/

@media screen and (max-width: 1139px) {
  .header-two{background: #4231ac;}
  .header-two .header-item-left .large .dark {
    display: none;
  }
  .header-two .header-item-left .large .light {
    display: block;
  }
  .header-two .header-item-right .menu ul li.menu-item-has-children a {
    color: #fff;
  }
  .header-two .header-item-right .cta-wrap .login {
    margin-left: 0;
  }
  .header-two .header-item-right .cta-wrap .login a {
    background: #fff;
    color: #05164d;
    border-radius: 30px;
    padding: 15px 25px;
    line-height: 1;
    font-size: 16px;
    border: 1px solid #fff;

    cursor: pointer;
  }
  .header-two .header-item-right .cta-wrap .login a.bg-none {
    background: transparent;
    border-color: #fff;

    color: #fff;
    padding: 15px 25px;
  }
  .header-two .header-item-right .cta-wrap .login a.bg-none:hover {
    background: #051441;
    border-color: #051441;
    opacity: 1;
  }
  .header-two .header-item-right .cta-wrap .login a.for-free {
    height: initial;
    background: transparent;
    border-color: #fff;
    color: #fff;
  }
  .header-two .header-item-right .cta-wrap .login a.for-free:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-left: 7px;
    vertical-align: middle;
    background: url(../header-images/menu-arrow.svg) no-repeat;
  }
  .header-two .header-item-right .cta-wrap .login a:hover {
    background: #051441;
    border-color: #051441;
    color: #fff;
  }
  .header-two .header-item-right .cta-wrap.large-reso {
    display: none;
  }
  .header-two .header-item-right .cta-wrap.small-reso {
    display: block;
  }
  .header-two:hover,
  .header-two.shady {
    background: #6754e2;
  }

  .header-two:hover
    .header-item-right
    .menu
    ul
    li.menu-item-has-children
    a:before,
  .header-two.shady
    .header-item-right
    .menu
    ul
    li.menu-item-has-children
    a:before {
    background: url(../header-images/angle-icon.svg) no-repeat;
  }
  .header-two:hover .header-item-right .cta-wrap .login,
  .header-two.shady .header-item-right .cta-wrap .login {
    margin-left: 0;
  }
  .header-two:hover .header-item-right .cta-wrap .login a,
  .header-two.shady .header-item-right .cta-wrap .login a {
    background: #fff;
    color: #05164d;
    border-radius: 30px;
    padding: 15px 25px;
    line-height: 1;
    font-size: 16px;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .header-two:hover .header-item-right .cta-wrap .login a.bg-none,
  .header-two.shady .header-item-right .cta-wrap .login a.bg-none {
    background: transparent;
    border-color: #fff;
    font-weight: 500;
    color: #fff;
    padding: 15px 25px;
  }
  .header-two:hover .header-item-right .cta-wrap .login a.bg-none:hover,
  .header-two.shady .header-item-right .cta-wrap .login a.bg-none:hover {
    background: #051441;
    border-color: #051441;
    opacity: 1;
    color: #fff;
  }
  .header-two:hover .header-item-right .cta-wrap .login a.for-free,
  .header-two.shady .header-item-right .cta-wrap .login a.for-free {
    height: initial;
    background: transparent;
    color: #fff;
    border-color: #fff;
    font-weight: 400;
  }
  .header-two:hover .header-item-right .cta-wrap .login a.for-free:after,
  .header-two.shady .header-item-right .cta-wrap .login a.for-free:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-left: 7px;
    vertical-align: middle;
    background: url(../header-images/menu-arrow.svg) no-repeat;
  }
  .header-two:hover .header-item-right .cta-wrap .login a:hover,
  .header-two.shady .header-item-right .cta-wrap .login a:hover {
    background: #051441;
    border-color: #051441;
    color: #fff;
  }
  .header-two:hover .header-item-right .cta-wrap.large-reso,
  .header-two.shady .header-item-right .cta-wrap.large-reso {
    display: none;
  }
  .header-two:hover .header-item-right .cta-wrap.small-reso,
  .header-two.shady .header-item-right .cta-wrap.small-reso {
    display: block;
  }
}
