@import "global-section";
@import "footer";
@import "_menu-v4";
.career_detail_banner {
    position: relative;
    margin-top: 45px;
    text-align: center;
    @media screen and (min-width: $lgscreen-size) {
        &:before {
            content: "";
            position: absolute;
            width: 122px;
            height: 187px;
            background: url("../images/dots_bg.png");
            background-repeat: no-repeat;
            z-index: 1;
            right: 0;
            bottom: 0;
        }
    }
    .banner_buttons {
        text-align: center;
        button {
            padding: 10px 50px;
            min-width: 160px;
            background: $white;
            border: none;
            font-size: 16px;
            font-family: $base_font_family;
            line-height: 23px;
            color: $grey;
            margin: 0 8px;
            @media screen and (max-width: ($mdscreen-size - 1)) {
                margin: 10px 0;
            }
            i {
                margin-right: 8px;
            }
        }
    }
    h1 {
        margin-bottom: 20px;
    }
    .link_apply {
        background-color: $blue;
        border: none;
        color: white;
        padding: 8px 30px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 50px;
        line-height: 24px;
    }
}

.trianglefaq {
    &-left {
        width: 100px;
        height: 90px;
        display: block;
        left: 3%;
        background: url("../images/feature-sprite.png");
        margin: 0 auto;
        position: absolute;
        top: 24%;
        @media screen and (max-width: $mdscreen-size) {
            display: none;
        }
    }
}

.circledetailcareer {
    &-left {
        width: 140px;
        height: 95px;
        background: url("../images/feature-sprite.png");
        position: absolute;
        left: -20px;
        background-position: -10px -60px;
        background-size: 150px;
        @media screen and (max-width: $mdscreen-size) {
            display: none;
        }
    }
    &-right {
        width: 140px;
        height: 95px;
        background: url("../images/feature-sprite.png");
        position: absolute;
        right: -35px;
        background-position: -10px -60px;
        background-size: 150px;
        top: 60%;
        @media screen and (max-width: $mdscreen-size) {
            display: none;
        }
    }
}

.faqsRow p a{
    color: #5D2BFF;
}
.faqsRow p a:hover{
   text-decoration: underline;
}

.faqsRow.wfull .column {
    width: 100%;
    margin: 0;
    &:nth-child(2){
    margin-top: 30px;
    }
}
.faqsRow .column ul li{
    list-style: disc;
    color: #5E6373;
}
.background_lightblue{
    padding-top: 60px;
    padding-bottom: 60px;
}
.background_lightblue h2{
    margin-top: 0;
}
.nrmbtn{
    color: #fff;
    text-decoration: underline;
}


