@import "global-section";
@import "footer";
@import "_menu-v4";
.career_banner {
    position: relative;
    background-color: $dark_blue;
    @media screen and (min-width: $mdscreen-size) {
        &:before {
            content: "";
            position: absolute;
            height: 185px;
            top: 60%;
            background: url("../images/dots_bg.png");
            z-index: 1;
            width: 120px;
            background-repeat: no-repeat;
            transform: translateY(-60%);
        }
        padding-bottom: 80px;
        padding-top: 80px;
        margin-top: 85px;
    }
    .container {
        max-width: 1000px;
        padding-right: 20px;
        padding-left: 20px;
        h1 {
            margin-bottom: 20px;
        }
    }
}

.trianglefaq {
    &-left {
        width: 100px;
        height: 90px;
        top: 40%;
        background: url("../images/feature-sprite.png");
        position: absolute;
        right: 50px;
        @media screen and (max-width: $mdscreen-size) {
            display: none;
        }
    }
}

.circlefaq {
    &-right {
        width: 140px;
        height: 95px;
        top: 50px;
        background: url("../images/feature-sprite.png");
        position: absolute;
        right: 10px;
        background-position: -10px -60px;
        background-size: 150px;
        @media screen and (max-width: $mdscreen-size) {
            display: none;
        }
    }
}

.opening_section {
    position: relative;
    .career_head {
        text-align: center;
        border-bottom: 2px solid $blue;
        width: fit-content;
        margin: auto;
        justify-content: center;
        margin-bottom: 50px;
    }
    .card {
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding: 35px;
        margin-top: 30px;
        background: #ffffff;
        .link {
            text-decoration: none;
            color: $blue;
            font-size: 20px;
            line-height: 24px;
        }
        h5 {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

.faqsRow p a{
    color: #624DE3;
}
.faqsRow p a:hover{
   text-decoration: underline;
}

.faqsRow.wfull .column {
    width: 100%;
    margin: 0;
    &:nth-child(2){
    margin-top: 30px;
    }
}
.faqsRow .column ul li{
    list-style: disc;
    color: #5E6373;
}
.background_lightblue{
    padding-top: 60px;
    padding-bottom: 60px;
}
.background_lightblue h2{
    margin-top: 0;
}
.nrmbtn{
    color: #fff;
    text-decoration: underline;
}