@import "global-section";
@import "footer";
@import "_menu-v4";
@import "common-banner";

/*Banner section*/

.hero-banner{padding: 130px 0 180px;}

.userguide {
  padding: 0 0 80px;
}
.question-list li a {
  padding: 10px 10px 10px 20px;
}
.buyers-guide-question h3 {
  margin: 0 0 25px;
  color: rgba(37, 48, 83, 1);
  font-weight: 600;
  font-size: 30px;
}
.guide-answer {
  text-align: left;
}

.question-list {
  border-right: 0;
}
.question-list li a.active:after {
  left: 0;
}

.question-list li {
  margin: 0 0 3px;
}
.question-list li a.active:after {
  display: none;
}
.question-list li a {
  color: rgba(45, 45, 45, 1);
}
.buyers-guide-question {
  width: 325px;
  margin-top: 55px;
  margin-right: 60px;
}
.buyers-guide-answer-part {
  width: calc(100% - 385px);
}

.question-list li a.active,
.question-list li a:hover {
  border-radius: 7px;
  color: rgba(33, 33, 33, 1);
}
.buyers-guide-answer h3 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-top: 0;
  @media screen and (max-width: ($lgscreen-size)) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (max-width: ($smscreen-size - 1)) {
    font-size: 24px;
    line-height: 28px;
  }
}

.buyers-guide-answer {
  padding: 50px 0;
  border-bottom: 1px dotted rgba(65, 65, 65, 0.3);
  table {
    margin: 40px 0 0;
    overflow: hidden;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgba(98, 77, 227, 0.3);
    border-radius: 15px 15px 0 0;
  }

  p{margin:0 0 15px;}

  th {
    color: rgba(5, 22, 77, 1);
    font-weight: 500;
    font-size: 20px;
  }
  small {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    display: block;
  }

  th,
  td {
    text-align: center;
    padding: 13px;
    border-right: 1px solid rgba(103, 84, 226, 0.3);
    width: 35%; 
     color:rgba(47, 58, 94, 0.8);
     &:nth-child(2){width:25%;}
    &:last-child{width:40%;}
  }
  th{color: rgba(5, 22, 77, 1);}

  td:first-child{font-weight: 500; color:rgba(65, 65, 65, 1);}

  th:first-child,
  td:first-child {
    text-align: left;
  }
  th:last-child,
  td:last-child {
    border-right: 0;
  }



  tr:nth-child(even) {
    background-color: #F9F9F9;
  }

  tr:nth-child(2){background:#EFECFF;}
  tr:nth-child(2) td{padding:18px 13px; border-right:0;}

  .tabl-devide{display:flex;
    .tbcol{ padding-right:30px; position: relative;
      &.none{padding-right:0;}
      h3{text-transform: uppercase; color:rgba(103, 84, 226, 1); font-size: 12px; line-height: 18px; margin:0 0 5px !important;     padding: 0;}
      .mon{font-weight: 700; font-size: 18px;
      .sm{color:rgba(65, 65, 65,0.9); font-size: 14px; font-weight: normal;}
      }
      &:after{content:''; width:1px; height:32px;    top: 8px;
        right: 15px; background:rgba(103, 84, 226, 0.21); position: absolute;}
      &:last-child{padding-right:0;
      &:after{display: none;}
      }
    }
  }

  .tool-wrap{display:flex; align-items: center; justify-content: center;}
  .tool-tip-wrap {
    position: relative;
    padding-left:5px;
 
    .tolltip{    display: none;
      font-size: 11px;
      font-weight: 500;
      position: absolute;
      top: 32px;
      left: -75px;
      width: 200px;
      border-radius: 3px;
      background: #525F7F;
      color: #ffffff !important;
      padding: 8px;
      z-index: 9;}
      .info-img{margin:0;  vertical-align: middle;
      }

      &:hover {
        .tolltip{display: block;
          cursor: pointer;}
      }
      
}

  .smalltext{color:rgba(65, 65, 65, 0.9); font-size: 14px;}

  .gttouch{padding:18px; background:rgba(103, 84, 226, 1); text-align: center; color:rgba(255, 255, 255, 0.9); border-radius:0 0 15px 15px;
  a{font-weight: 500; text-decoration: underline; ; color:rgba(255, 255, 255, 0.9);
  &:hover{color:#fff; text-decoration: none;}
  }
  }

  blockquote {
    margin: 40px 0 0;
    display: block;
    background: rgba(247, 246, 255, 1);
    border-radius: 15px;
    color: rgba(5, 22, 77, 0.7);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding: 15px 20px;
  }

  .process-step {
    position: relative;
    margin: 50px 0 0;
    .step-sec {
      margin: 0 0 40px;
      position: relative;
      align-items: flex-start;
      .step-num {
        flex-basis: 38px;
        margin-right: 25px;
        height: 38px;
        border-radius: 50%;
        background: rgba(240, 237, 255, 1);
        display: flex;
        color: rgba(47, 58, 94, 1);
        font-weight: 600;
        align-items: center;
        justify-content: center;
        width: 38px;

        img {
          margin: 0;
        }
      }
      .step-desc {
        flex-basis: calc(100% - 65px);
        .step-no {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          color: #000;
          opacity: 0.3;
          display: block;
          margin: 0 0 5px;
        }
        h4 {
          margin: 0 0 15px;
        }
        ul {
          margin: 25px 0 0;
          padding-left: 0;
          li {
            position: relative;
            flex-basis: 100%;
            padding-left: 15px;
            margin: 0 0 10px;
            line-height: 26px;
            list-style: none !important;
            a {
              font-style: italic;
              font-weight: 500;
            }

            &:before {
              content: "";
              width: 5px;
              height: 5px;
              background-color: rgba(103, 84, 226, 1);
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 9px;
            }
          }
        }
      }
    }

    &:before {
      content: "";
      content: "";
      position: absolute;
      left: 20px;
      top: 40px;
      border-right: 1px dashed rgba(65, 65, 65, 0.3);
      width: 1px;
      background-size: 100%;
      height: 22%;
    }
  }
}

.ready-earn {
  padding: 60px 0;
  position: relative;
  background: url(../images/earn-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .dis-flex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    .earnleft {
      flex-basis: 65%;
      text-align: left;
      h2 {
        font-weight: 600;
        margin: 0;
        color: #fff;
      }

      @media screen and (max-width: ($smscreen-size - 1)) {
        flex-basis: 100%;
        text-align: center;
      }
    }
    .earnrit {
      flex-basis: 30%;
      @media screen and (max-width: ($smscreen-size - 1)) {
        flex-basis: 100%;
        text-align: center;
        margin: 20px 0 0;
      }
      text-align: right;
      .primary_btn1 {
        background: transparent;
        color: #fff;
        border-color: #fff;
        @media screen and (max-width: ($smscreen-size - 1)) {
          padding: 10px 20px 9px;
        }
        &:hover {
          background: #051441;
          color: #fff;
          border-color: #051441;
        }
      }
    }
    @media screen and (max-width: ($smscreen-size - 1)) {
      justify-content: center;
    }
  }

  @media screen and (max-width: ($smscreen-size - 1)) {
    padding: 40px 0;
  }
}

img.info-img:hover + span.tolltip{display:block; cursor: pointer;}

.page-template-tpl-data-retention .buyers-guide-answer .gttouch a{cursor: default;}
.crisp-loaded  .buyers-guide-answer .gttouch a{cursor: pointer;}

.page-template-tpl-data-retention  .earnrit .primary_btn1{cursor: default;}
.crisp-loaded  .earnrit .primary_btn1{cursor: pointer;}

.page-template-tpl-data-retention .hero-banner .inner-wrap .actionBtn .primary_btn2{position:relative; z-index:99;}

@media (max-width: 1024px) {

.hero-banner{padding:120px 0 180px;}

}

@media (max-width: 1440px) {
  .userguide {
    padding: 0 0 70px;
  }
  .buyers-guide-answer .tabl-devide .tbcol .mon .sm{font-size: 13px;}
}

@media (max-width: 1380px) {
.buyers-guide-answer .tabl-devide .tbcol .mon .sm{font-size: 12px;}
}

@media (max-width: 979px) {
  .userguide {
    padding: 0 0 40px;
  }

  .buyers-guide-question {
    width: 100%;
    margin-right: 0;
  }

  .buyers-guide-question h3 {
    font-size: 25px;
    margin: 0 0 20px;
  }
  .question-list {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
    border-radius: 7px;
  }
  .buyers-guide-answer-part {
    width: 100%;
  }
  .buyers-guide-answer {
    padding: 30px 0;
  }
  .buyers-guide-answer h3 {
    font-size: 20px;
  }
  .buyers-guide-answer th,
  .buyers-guide-answer td {
    width: auto;
  }
  .buyers-guide-answer table {
    font-size: 13px;
  }
  .buyers-guide-answer .process-step .step-sec {
    margin: 0 0 15px;
  }
  .buyers-guide-answer .process-step .step-sec .step-desc ul {
    margin: 10px 0 0;
  }
  .buyers-guide-answer .process-step .step-sec .step-desc ul li {
    margin: 0 0 5px;
  }
  .faqsRow .flex_row {
    padding: 0;
  }

  .buyers-guide-answer th{font-size: 15px;}
  .buyers-guide-answer .smalltext{font-size: 13px;}
  .buyers-guide-answer .tool-tip-wrap .tolltip{top: 24px;  left: -140px;  width: 200px; width:180px;}
  .buyers-guide-answer .gttouch {padding:15px;}
  
}

@media (max-width: 767px) {
  .hero-banner .inner-wrap .actionBtn {
    justify-content: center;
  }
  .buyers-guide-answer th, .buyers-guide-answer td{padding: 11px;}
  .buyers-guide-answer table {
    font-size: 12px;
}
}


@media (max-width: 479px) {

  .buyers-guide-answer table {
    display: block;
    overflow-x: auto;
    width: 100%;  
    -webkit-overflow-scrolling: touch;  /* Smoother scrolling on iOS */
  }
    
  }