@import "global-section";
@import "footer";
@import "_menu-v4";
@import "common-banner";

.hero-banner {
  &:after {
    background: url(../images/inner-banner-bg2.png) no-repeat;
    background-size: 100% 100%;
  }
}

.downloads {
  padding-top: 50px;
  background: #f7faff;
  @media screen and (max-width: ($smscreen-size - 1)) {
    padding: 30px 0 20px;
  }

  .flex_row {
    .column {
      flex-basis: 49.3%;
      background: #fcfbff;
      text-align: center;
      padding: 50px 50px 30px;
      border-radius: 15px;
      background: #071542;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -30px;
        bottom: -30px;
        background: url("../images/dshape.png") no-repeat;
        background-size: 100%;
        width: 348px;
        height: 407px;

        @media screen and (max-width: ($smscreen-size - 1)) {
          width: 100px;
          height: 245px;
        }
      }
      @media screen and (max-width: ($lgscreen-size - 1)) {
        padding: 30px;
      }
      @media screen and (max-width: ($smscreen-size - 1)) {
        flex-basis: 100%;
        padding: 30px 20px;
        margin: 20px 0 0;
      }
      h3 {
        color: #fff;
      }
      p {
        min-height: 168px;
        color: #fff;
      }
      .wsdevice {
        margin: 30px 0;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 9;
        @media screen and (max-width: ($lgscreen-size - 1)) {
          margin: 20px 0 0;
        }
        a {
          padding: 0 10px;
          color: #5e6373;
          font-size: 12px;
          color: #fff;
          @media screen and (max-width: ($lgscreen-size - 1)) {
            padding: 0 3px;
            margin: 0 0 20px;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        small {
          display: block;
          margin: 10px 0 0;
          color: #fff;
          @media screen and (max-width: ($lgscreen-size - 1)) {
            margin: 5px 0 0;
          }
        }
      }
      .dImg {
        display: block;
        img {
          vertical-align: top;
        }
      }
    }
    .active {
      background: #5D2BFF;
    }
  }
}

.extension {
  padding-top: 0;
  background: #f7faff;
  @media screen and (max-width: ($smscreen-size - 1)) {
    padding-bottom: 70px;
  }
  .flex_row {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
    padding: 60px;

    @media screen and (max-width: ($smscreen-size - 1)) {
      padding: 30px;
    }

    .column-left {
      flex-basis: 40%;
      @media screen and (max-width: ($smscreen-size - 1)) {
        flex-basis: 100%;
      }
      ul {
        padding: 0;
        margin: 10px 0 0;
        display: flex;
        flex-wrap: wrap;
        li {
          position: relative;
          color: #5e6373;
          padding-left: 30px;
          margin: 8px 0 0;
          width: 46%;
          @media screen and (max-width: ($smscreen-size - 1)) {
            flex-basis: 100%;
          }
          &:before {
            content: "";
            display: inline-block;
            background: url(../images/list-icon-small.png) no-repeat;
            width: 30px;
            height: 30px;
            top: 3px;
            left: 0;
            position: absolute;
          }
        }
      }
      .dimage {
        margin: 25px 0 0;
        small {
          font-size: 12px;
          color: #5e6373;
          display: block;
        }
      }
    }
    .column-right {
      flex-basis: 40%;
      @media screen and (max-width: ($smscreen-size - 1)) {
        flex-basis: 100%;
        margin: 30px 0 0;
      }
    }
  }
}
