@import "_default";
@import "_form-default";
@import "form-county";
@import "_signup-form-popup";
@import "_menu-v4";
@import "_trusted-by";
@import "_home-tab";
@import "_why-workstatus";
@import "_workplace-section";
@import "_section-numbers";
@import "_feature-slider";
@import "_persona-section";
@import "_grade-solution";
@import "_work-culture";
@import "_scroller-feature";
@import "_industry-section";
@import "_feature-pricing-section";
@import "_faq-section";
@import "_glider";
@import "_testimonial-section";
@import "_top-rated";
@import "_start-journey";
@import "_footer-section";

/*home css start here*/

.header-two {
  background: $dark-Blue;
}

/*banner scetion */

.banner-section {
  width: 100%;
  padding: 110px 0 0;
  background: $dark-Blue;
  position: relative;
  overflow: hidden;
  text-align: center;

  .flex_row {
    display: flex;
    flex-wrap: wrap;

    .column-content {
      color: $white;
      width: 100%;
      position: relative;

      h1 {
        color: $white;
        font-weight: $medium_weight;
        .highlight {
          font-weight: $bold_weight;
          position: relative;
          display: block;

          &:after {
            content: "";
            position: absolute;
            left: 250px;
            right: 0;
            margin: 0 auto;
            bottom: -6px;
            width: 263px;
            height: 11px;
            background-size: 100%;
            background: url(../images/shape-green.svg) no-repeat;
          }
        }
      }
      p {
        color: $white;
        font-size: 18px;
        line-height: 26px;

        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .videoSc {
    width: 100%;
    position: relative;
    right: 0;
    z-index: 99;
    margin-top: 60px;
    .inner {
      position: relative;
      overflow: hidden;
      pointer-events: none;
      height: 100%;
      .image {
        position: relative;
        background: #597cff;
        height: 645px;
        transition: all 0.3s;
      }
      .cover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        background: center center/cover no-repeat;
        width: 100%;
        height: 100%;
        transition: z-index 0s, opacity 0.3s;
      }
      .image[data-video] video {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .play {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 5;
        cursor: pointer;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: -20px 0 0 -20px;
        }
      }
      .text {
        padding: 4rem 2rem;
        background: #fff;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        transition: all 0.3s;
        h3 {
          color: #333;
          font-size: 3rem;
        }
        p {
          margin: 0 0 1rem;
          color: #757357;
          font-size: 2rem;
        }
      }
    }
    .contbox2 {
      width: 100%;
      position: relative;
      background: transparent;
      overflow: hidden;
    }
    .topVideo {
      width: 100%;
    }
    .topVideo .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    .topVideo .videoWrapper {
      min-height: 440px;
      padding-bottom: initial;
    }
    .srp-1 .videoPoster {
      background-size: cover;
      background-position: center;
      background-color: transparent;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &:hover .inner {
      pointer-events: auto;
      opacity: 1;
    }
    .topVideo button {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      font-size: 0;
      border: none;
      outline: 0;
    }
    .topVideo .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      border: 0;
    }
    .popup-content {
      height: 542px;
      width: 60%;
    }

    .playsc {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: -43px 0 0 -43px;
      transition: 0.4s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        top: -17px;
        left: -16px;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        background: rgba(105, 94, 238, 0.2);
        opacity: 0.5;
        transition: 0.4s ease-in-out;
      }

      .playicon {
        width: 100%;
        height: 100%;
        background: url(../images/homeplay.svg) center center / contain
          no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
        transition: 0.4s ease-in-out;
      }

      &:hover .playicon {
        background: url(../images/playhover.svg) center center / contain
          no-repeat;
      }

      &:hover {
        &:before {
          background: rgba(0, 0, 0, 0.09);
          opacity: 1;
        }
      }
    }
  }
  .videoWrapperActive iframe {
    z-index: 999 !important;
  }

  &:after {
    content: "";
    width: 100%;
    background: url(../images/ftbtm-shape.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: -70px;
    height: 270px;
    background-size: 100% 100%;
    @media screen and (max-width: ($smscreen-size - 1)) {
      display: none;
    }
  }
}

/*Popup Section*/
#myBtn {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 120px;
  z-index: 999;
  height: 120px;
  border: 0;
  background: transparent;
  font-size: 0;
  cursor: pointer;
}

.videoPopup {
  position: relative;
}

.popup-wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.popWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  height: 542px;
  width: 60%;
  position: relative;
}

.close {
  background: url("../images/cross-icon.png") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  float: right;
  z-index: 1;
  position: absolute;
  right: -36px;
  top: 0;
  border-radius: 100%;
}

.close:hover,
.close:focus {
  opacity: 0.5;
  cursor: pointer;
}

/*Popup Section End*/

/*Popup Section End*/

/*banner end*/

.cmn-pricing {
  background: $bglight;
}

/*home css end here*/

@media (max-width: 1920px) {
}

@media (max-width: 1620px) {
}

@media (max-width: 1440px) {
  .popup-content {
    height: 450px;
  }
}

@media (max-width: 1160px) {
  .banner-section {
    .videoSc {
      .topVideo {
        .videoWrapper {
          min-height: 360px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 979px) {
  .banner-section {
    padding: 100px 0 50px;
    .flex_row {
      .column-content {
        h1 {
          .highlight {
            &:after {
              left: 134px;
              bottom: -11px;
              width: 200px;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
    .videoSc {
      margin-top: 40px;

      .srp-1 {
        .videoPoster {
          background-size: cover;
        }
      }

      .topVideo .videoWrapper {
        min-height: 250px;
        padding-bottom: initial;
      }

      .popup-content {
        width: 90%;
        height: 450px;

        .close {
          top: -30px;
          right: -1px;
        }
      }

      .playsc {
        top: 70%;

        margin-left: -20px;
        width: 50px;
        height: 50px;

        &::before {
          top: -11px;
          left: -10px;
          width: 70px;
          height: 70px;
        }
      }
    }

    &:after {
      display: none;
    }
  }

  #myBtn {
    top: 33%;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
}
