@import "global-section";
@import "footer";
@import "_menu-v4";
@import "common-banner";
.legal-section {
  padding: 50px 0 100px;
  @media screen and (max-width: ($customscreen-size - 1)) {padding:50px 0 80px;}
  @media screen and (max-width: ($lgscreen-size - 1)) {padding:50px 0;}
  .legal_row {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    @media screen and (max-width: ($mdscreen-size - 1)) {
      flex-flow: column;
    }
    .tab {
      display: flex;
      flex-flow: column;
      width:30%;
      @media screen and (max-width: ($lgscreen-size - 1)) {width:32%;}
      @media screen and (max-width: ($mdscreen-size - 1)) {width:100%; margin:0 0 30px;}
      h2 {
        margin: 0 0 30px;
        @media screen and (max-width: ($lgscreen-size - 1)) { margin: 0 0 20px;}
        @media screen and (max-width: ($mdscreen-size - 1)) {margin: 0 0 10px;}
      }
      ul{padding:0; margin:0;
      .tablinks {
        border: none;
        background: transparent;
        font-size: 16px;
        line-height: 23px;
        text-align: left;
        margin:14px 0;
        font-family: $base_font_family;
        padding: 0;
        @media screen and (max-width: ($mdscreen-size - 1)) {margin:5px 0;}
        a {
          color: $grey;
          padding: 0 10px;
          transition: all 0.5s ease 0s;
        }
        &.active {
          a {
            color: #6754e2;
            border-left: 3px solid #6754e2;
          }
        }
        &:hover {
          a {
            color: #6754e2;
            border-left: 3px solid #6754e2;
          }
        }
      }
    }
  }
    .tabcontent {
      &:not(:nth-child(2)) {
        display: none;
      }
      @media screen and (min-width: $mdscreen-size) {
        width: 65%;
      }
      .tabcontent {
        &-header {
          margin-bottom: 25px;

          h2 {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 0;
            @media screen and (max-width: ($lgscreen-size - 1)) {font-size:22px;}
          }
          h6 {
            color: #6754e2;
            font-size: 14px;
            font-weight: $regular_weight;
          }
          p {
            font-size: 16px;
            line-height: 24px;
            color: #5e6373;
            font-weight: normal;
          }
        }
        &-content {
          .primary_btn {
            margin-top: 20px;
          }
          h3 {
            margin: 30px 0 10px;
            @media screen and (max-width: ($mdscreen-size - 1)) {margin:15px 0 10px;}
          }
          h4 {
            text-transform: capitalize;
          }
          p {
            margin-bottom: 15px;
            a {
              color: #6754e2;
              font-weight: 600;
            }

            span {
              color: #110302;
              font-weight: 600;
            }

            &.boldtxt {
              color: #666e86;
              font-weight: 600;
            }
          }
          h5 {
            margin-bottom: 20px;
          }
          ol {
            color: $grey;
            list-style-type: none;
            padding: 0;
            li {
              margin-bottom: 10px;
            }
          }

          ul {
            color: $grey;
            padding: 0;
            margin: 0 0 20px;
            li {
              margin-bottom: 10px;
              position: relative;
              padding-left: 25px;
              @media screen and (max-width: ($mdscreen-size - 1)) {padding-left:15px;}
              &:before {
                content: "";
                width: 9px;
                height: 9px;
                background: #5f7d95;
                position: absolute;
                top: 10px;
                left: 0;
                border-radius: 100%;
                @media screen and (max-width: ($mdscreen-size - 1)) {width:7px; height:7px; top:6px;}
              }
            }
          }
        }
      }
    }
  }
}
.tabcontent-content a {
  color: #6754e2;
  text-decoration: none;
  font-weight: 600;
}
.tabcontent-content p strong {
  font-weight: 600;
  color: #6754e2;
}
.tabcontent-content a:hover {
  color: #051441;
  text-decoration: underline;
}
.tabcontent-content a.primary_btn{color:#fff !important; text-decoration:none;     border-radius: 8px;
&:hover{color: #fff !important; background: #051441 !important;
  border-color: #051441 !important;
}

}


