@import "global";
@import "footer";
@import "header";
$light_orange: #fce9d2;
$light_pink: #ffdcdd;
$extra_light_blue: #cdd7ff;
$light_green: #d2f4a8;
@mixin selector {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../images/pricing-sprite.png);
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 300px;
    @media screen and (max-width: ($mdscreen-size - 1)) {
        width: 50px;
        height: 50px;
        background-size: 150px;
    }
}

.price_section {
    position: relative;
    >div {
        flex-flow: column;
        &:before {
            @include selector;
            top: 0;
            left: -10px;
            background-position: -140px -300px;
            @media screen and (max-width: $mdscreen-size) {
                display: none;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 100px;
            height: 106px;
            top: 0;
            background: url(../images/dots_bg.png);
            right: 0px;
            background-repeat: no-repeat;
            z-index: 1;
            @media screen and (max-width: ($lgscreen-size)) {
                display: none;
            }
        }
        h1 {
            position: relative;
            margin-bottom: 20px;
            &:after {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                background: url(../images/pricing-sprite.png);
                background-repeat: no-repeat;
                z-index: 1;
                top: -50px;
                right: 10%;
                background-position: -509px -692px;
                border-radius: 50%;
                @media screen and (max-width: $mdscreen-size) {
                    display: none;
                }
            }
        }
        .priceRow {
            .tab {
                background-color: $blue;
                padding: 2px;
                border-radius: 100px;
                display: table;
                margin: auto;
                button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 10px 20px;
                    transition: 0.3s;
                    font-size: 21px;
                    color: $white;
                    border-radius: 130px;
                }
                button.active {
                    background-color: $white;
                    color: $blue;
                }
            }
            .tabcontent {
                display: none;
                padding: 80px 0;
                @media screen and (max-width: ($mdscreen-size - 1)) {
                    padding: 40px 0;
                }
                .priceCard {
                    display: flex;
                    justify-content: space-around;
                    @media screen and (max-width: ($lgscreen-size - 1)) {
                        display: block;
                    }
                    .column {
                        transition: transform 0.5s;
                        transform: scale(1);
                        @media screen and (min-width: $lgscreen-size) {
                            width: 24.5%;
                        }
                        @media screen and (min-device-width: $mdscreen-size) and (max-device-width: $lgscreen-size) {
                            display: inline-block;
                            width: 49%;
                            margin-bottom: 40px;
                        }
                        &.col-3 {
                            @media screen and (min-width: $lgscreen-size) {
                                width: 32%;
                            }
                            @media screen and (min-device-width: $mdscreen-size) and (max-device-width: $lgscreen-size) {
                                width: 49%;
                            }
                        }
                        &:nth-child(1) {
                            .card-header {
                                background: $light_orange;
                            }
                        }
                        &:nth-child(2) {
                            .card-header {
                                background: $light_pink;
                            }
                        }
                        &:nth-child(3) {
                            .card-header {
                                background: $extra_light_blue;
                            }
                        }
                        &:nth-child(4) {
                            .card-header {
                                background: $light_green;
                            }
                        }
                        .priceCard-footer {
                            padding: 30px;
                            @media screen and (max-width: ($mdscreen-size - 1)) {
                                margin-bottom: 30px;
                            }
                        }
                        .price_btn {
                            color: $blue;
                            background-color: $white;
                            font-size: 16px;
                            white-space: nowrap;
                            text-transform: capitalize;
                            line-height: 20px;
                            padding: 17px 28px;
                            text-decoration: none;
                            transition: 0.3s ease;
                            display: block;
                            border: 2px solid $blue;
                            text-align: center;
                            border-radius: 8px;
                            &:hover{
                                background-color: #051441;
                                color: #fff;
                                border-color: #051441;
                            }
                            @media screen and (max-width: 767px) {
                                padding: 15px 60px;
                            }
                        }
                        &.recomended-style {
                            transform: scale(1.02);
                            border: 3px #624DE3 solid;
                            box-shadow: 2px 12px 40px 9px rgba(14, 21, 36, 0.13);
                            border-radius: 8px;
                            .card-header {
                                font-weight: 700 !important;
                                background: $extra_light_blue;
                            }
                            .price_btn {
                                color: $white;
                                background-color: $blue;
                                &:hover{
                                    background-color: #051441;
                                    border-color: #051441;
                                }
                            }
                            @media screen and (max-width: ($mdscreen-size - 1)) {
                                margin-bottom: 50px;
                            }
                        }
                        .card {
                            border: 2px solid rgba(184, 210, 245, 0.35);
                            border-radius: 8px;
                            .card-header {
                                font-size: 24px;
                                line-height: 34px;
                                padding: 18px 25px;
                                text-transform: uppercase;
                                font-weight: 500;
                                border-radius: 8px 8px 0 0;
                                color: #4A4C55;
                            }
                            .card-body {
                                .card-body-header {
                                    padding: 30px 15px;
                                    .price-p {
                                        margin-bottom: 30px;
                                    }
                                    p {
                                        font-size: 16px;
                                        margin: 0;
                                        line-height: 22px;
                                        color: #4A4C55;
                                        text-align: left;
                                        &.user_text {
                                            color: $blue;
                                            margin-bottom: 40px;
                                        }
                                        
                                        &.text_small {
                                            font-size: 13px;
                                            line-height: 19px;
                                            text-align: center;
                                            margin-top: 5px;
                                        }
                                        &.card-plan {
                                            padding-bottom: 0;
                                            font-size: 20px;
                                            margin-bottom: 5px;
                                            span {
                                                top: 0;
                                                left: 0;
                                            }
                                        }
                                    }
                                    .card-plan {
                                        padding: 0 0 18px 0;
                                        margin: 0;
                                        color: #4A4C55;
                                        font-size: 26px;
                                        font-weight: 500;
                                        span {
                                            font-size: 16px;
                                            position: relative;
                                            @media screen and (max-width: $smscreen-size) {
                                                left: 5px;
                                            }
                                        }
                                    }
                                }
                                .list-unstyled {
                                    list-style: none;
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        padding: 15px 20px;
                                        border-top: 2px solid #b8d2f5;
                                        font-size: 16px;
                                        color: #4A4C55;
                                        &.itemDisabled {
                                            opacity: 0.1;
                                            text-decoration: line-through;
                                            .tooltip {
                                                &:hover {
                                                    .tooltiptext {
                                                        visibility: hidden;
                                                    }
                                                }
                                            }
                                        }
                                        .tooltip {
                                            position: relative;
                                            float: right;
                                            i {
                                                width: 18px;
                                                height: 18px;
                                                line-height: 18px;
                                                font-size: 12px;
                                                text-align: center;
                                                border: 2px solid #000;
                                                border-radius: 50%;
                                                vertical-align: middle;
                                                cursor: pointer;
                                            }
                                            .tooltiptext {
                                                visibility: hidden;
                                                background: $white;
                                                width: 150px;
                                                color: $blue;
                                                border: 2px solid $blue;
                                                text-align: center;
                                                border-radius: 8px;
                                                padding: 5px;
                                                position: absolute;
                                                z-index: 1;
                                                top: -10px;
                                                right: 105%;
                                                font-size: 12px;
                                            }
                                            &:hover {
                                                .tooltiptext {
                                                    visibility: visible;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pricePartners {
            display: flex;
            justify-content: center;
            &>div {
                i {
                    width: 180px;
                    height: 125px;
                    display: block;
                    border-radius: 8px;
                    background: url("../images/pricing-sprite.png");
                    margin: 0 auto;
                    background-size: 165%;
                    @media screen and (max-width: ($mdscreen-size - 1)) {}
                    &.guarantee {
                        background-position: -120px -20px;
                        @media screen and (max-width: ($mdscreen-size - 1)) {
                            background-position: -130px -10px;
                        }
                    }
                    &.moneyBack {
                        background-position: -140px -170px;
                        @media screen and (max-width: ($mdscreen-size - 1)) {
                            background-position: -140px -170px;
                        }
                    }
                }
            }
        }
    }
}

.partnerlogo_section {
    background: #f7f7f7;
    position: relative;
    h3 {
        text-align: center;
    }
    i {
        width: 179px;
        height: 125px;
        display: block;
        border-radius: 8px;
        background: url("../images/user-report-sprite.png") 0 0 no-repeat;
        margin: 0 auto;
        background-color: #fff;
        &.boost {
            background-position: -5px 5px;
        }
        &.bbb {
            background-position: -185px 0;
        }
        &.kw {
            background-position: -370px 5px;
        }
        &.verizon {
            background-position: -530px 5px;
        }
        &.ericsson {
            background-position: -720px 5px;
        }
        &.thrive {
            background-position: -900px 5px;
        }
    }
    .container_big {
        .flex_row {
            &>div {
                background: $white;
                @media screen and (max-width: ($mdscreen-size - 1)) {
                    width: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.faqsRow {
    h2 {
        text-align: center;
        margin-bottom: 60px;
    }
    p {
        a{
            color: #624DE3;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &.wfull {
        .column {
            width: 100%;
            margin: 0;
            &:nth-child(2){
            margin-top: 30px;
            }
        }
    }
    .column {
        ul {
            li{
                list-style: disc;
                color: #5E6373;
            }
        }
    }
}
.background_lightblue{
    padding-top: 60px;
    padding-bottom: 60px;
}
.background_lightblue h2{
    margin-top: 0;
}
.nrmbtn{
    color: #fff;
    text-decoration: underline;
}
.offer-x{
    width: 100%;
    display: inline-block;
    margin: 20px 0 10px;
    text-align: center;
    color: #5E6373;
    font-size: 16px;
    line-height: 24px;
    strong{
        font-weight: 700;
    }
}

#Annual .priceCard .column h4 span.slash-price{font-size:20px; margin-bottom:5px; display:block;}
#Annual .priceCard .column:first-child h4 span.slash-price{ display:none !important; }
#Annual .card-body-header h4{
    min-height: 68px;
}
#Annual,#Annual2 {
    .column {
        &:first-child {
            .card-plan {
                margin-top: 30px;
                margin-bottom: 28px;
                @media screen and (max-width: $smscreen-size) {
                    margin-top: 0;
                    margin-bottom: 0;
                }

            }
            // .price_btn {
            //     margin-top: 92px;
            // }
        }
    }
}


.priceCard .column h4{
    margin-bottom: 15px;
}

#Annual .priceCard .column:nth-child(3) h4, #Monthly .priceCard .column:nth-child(3) h4{
    margin-top: 56px;
    margin-bottom: 12px;

}

// 28-02-21
.price_section {
    &.price-column-section {
        h1, p {
            text-align: center;
        }
        >div {
            .priceRow {
                #Monthly,#Monthly2,#Monthly3 {
                    display: block;
                }
            }
        }
        .tab-contents {
            margin-top: 60px;
        }
        .package-outer {
            margin-top: 50px;
        }
        .tab-nav {
            display: flex;
            justify-content: space-between;
            position: relative;
            &::before,
            &::after {
                content: "";
                clear: both;
                display: block;
                position: absolute;
                bottom: 0;
                border-bottom: 2px #624DE3 solid;
                width: 100%;
            }
            &::before {
                left: -100%;
            }
            &::after {
                right: -100%;
            }
        }
        .tab-link {
            display: inline-block;
            padding: 20px 40px;
            text-align: center;
            cursor: pointer;
            // border: 2px transparent solid;
            border-bottom: 2px #624DE3 solid;
            flex-basis: 33.333333%;
            h3 {
                color: #333333;
                font-size: 24px;
                margin-bottom: 5px;
            }
            &.is-active {
                border: 2px #624DE3 solid;
                border-bottom: 0;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .tab-content {
            display: none;
        }
        .is-active {
            display: block;
        }
    }
}
.slide_shape_section {
    h2 {
        color: #fff;
    }
}

@media (min-width:1400px){
    .column .card-body-header p{
        padding-right: 10px;
    }
    // .column:nth-child(3) .card-body-header p{
    //     padding-right: 0;
    // }
}

@media (max-width:1200px){
    .partnerlogo_section {
        .flex_row {
            justify-content: center;
        }
        .column {
            padding: 10px;
        }
    }
}

@media (max-width:767px){
    .faqsRow {
        h2 {
            margin-bottom: 30px;
        }
    }
    .price_section {
        &.price-column-section {
            .tab-contents {
                margin-top: 30px;
            }
            .tab-link {
                padding: 12px 4px;
                h3 {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
}
