@import "global-section";
@import "footer";
@import "header-new";
@import "common-banner";

.feature-header .site__header {
  background: #6754e2;
}
.pricing-sec{margin:50px 0 0;}
.s-user {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #2F3A5E;
  display: block;
  text-transform: initial;
}
#pricetabs {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  h1 {
    width: 100%;
    text-align: center;
    text-transform: initial;
    font-weight: 600;
    font-size: 40px;

  }
  ul {
    border: 1px solid #6754e2;
    border-radius: 40px;
    padding: 2px;
    margin: 5px 0 10px;
  }
  li {
    display: inline-block;
    a {
      display: block;
      height: 100%;
      min-width: 146px;
      padding: 0 10px;
      font-weight: 600;
      font-size:18px;
      color: #6754e2;
      border-radius: 40px;
      line-height: 37px;
      text-align: center;
    }
    &.active a {
      background-color: #6754e2;
      color: #fff;
    }
  }
  h6 {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #5e6373;
    strong {
      font-weight: 700;
    }
  }
}

#pricecontent {
  .tab-contents {
    display: none;
    &.active {
      display: block;
    }
  }
  .price-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .column {
      width: 350px;
      box-shadow: 0px 1px 31px rgba(68, 97, 215, 0.16);
      border-radius: 15px;
      padding: 20px 25px 25px;
      margin: 42px 36px 0;
      
      h3 {
        text-transform: uppercase;
        margin:0 0 10px;
      }
      p {
        color: #5e6373;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        margin: 0 0 10px;
        &.text_small {
          font-size: 12px;
          margin: 10px 0 0;
          color: #5e6373;
          text-align: center;
          line-height: 14px;
        }
      }
      .line-though {
        text-decoration: line-through;
        color: rgba(255, 255, 255, 0.8) !important;
        margin:0;
      }
      .line-though.hidden {
        opacity: 0;
        visibility: hidden;
      }
      .amount {
        color: #5e6373;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        strong {
          font-weight: 700;
          font-size: 36px;
          line-height: 140%;
          color: #2f3a5e;
          display:inline-block;
        }
        sub {
          position: relative;
          bottom: 4px;
          left: 5px;
        }
        &.hidden {
          opacity: 0;
          visibility: hidden;
        }
      }
      .price_btn {
        border: 1px solid #624DE3;
        border-radius: 6px;
        color: #6754e2;
        display: block;
        font-weight: 500;
        font-size:18px;
        line-height: 19px;
        text-align: center;
        border-radius:8px;
        padding: 20px 20px;
        margin-top: 15px;
        &:hover {
          background: #051441;
          border-color: #051441;
          color: #fff;
        }
      }
      &:nth-child(2) {
        background-color: #6754e2;
        transform: scale(1.05);
        outline: 1px solid #e4e6ea;
        outline-offset: 2px;
        position: relative;
        &:before {
          content: "";
          background: url(../images/band.png) no-repeat;
          background-size: 100%;
          position: absolute;
          width: 73px;
          height: 73px;
          right: -5px;
          top: -7px;
        }
        h3 {
          color: #fff;
        }
        p {
          color: #fff;
        }
        .amount {
          color: #fff;
          
          strong {
            color: #fff;
            line-height: 130%;
          }
        }
        p.text_small{color:#fff;}
        .price_btn {
          background-color: #fff;
          border-color: #fff;
          color: #6754e2;
          padding:18.8px 20px;
          margin-top:15.5px;
          &:hover {
            background: #051441;
            border-color: #051441;
            color: #fff;
          }
        }
      }
    }
    
  }

  .price-table {
    margin: 80px 0 0;

    .price-row {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr) [3];
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;

      position: relative;
      border-top: 0;

      &:before {
        content: "";
        width: 2px;
        height: 150px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:after {
        content: "";
        width: 1px;
        height: 89px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .columns {
        border-top: 1px solid #e7edf6;
        border-left: 1px solid #e7edf6;
        &:first-child {
          border-top: 0;
        }
        &:nth-child(2) {
          border-radius: 20px 0 0 0;
        }
        &:nth-child(3) {
          position: relative;
          border: 1px solid #6754e2;
          margin-top:-2px;

          &:before {
            content: "";
            background: url(../images/band.png) no-repeat;
            background-size: 100%;
            position: absolute;
            width: 73px;
            height: 73px;
            right: -5px;
            top: -7px;
          }

          .price-header {
            background: #f6f1ff;
          }
        }

        &:last-child {
          border-right: 1px solid #e7edf6;
          border-radius: 0 20px 0 0;
          .price-header {
            border-bottom: 0;
          }
          li:nth-child(2) {
            border-top: 1px solid #e7edf6;
            border-radius: 0 10px 0 0;
            margin-top: -1px;
          }
        }
      }

      .price {
        list-style-type: none;

        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        li {
          border-bottom: 1px solid #e7edf6;
          padding:17px 25px;
          color: #4a4c55;
          text-align: center;
          display:flex;
          min-height: 60px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          .price_btn {
            color: #6754e2;
            background-color: #ffffff;
            white-space: nowrap;
            text-transform: capitalize;
            padding: 12px 20px;
            text-decoration: none;
            transition: 0.3s ease;
            display: inline-block;
            min-width: 190px;
            border: 1px solid #6754e2;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            &:hover {
              background-color: #051441;
              color: #fff;
              border-color: #051441;
            }
          }
          .tryfree{display:block; font-size: 12px; margin:4px 0 0;}
        }

        .price-header {
          min-height:144px;
          padding: 24px 25px;
          div{width:100%;}
          .primary_btn1 {
            height: 45px;
            font-size: 18px;
            line-height: 45px;
            padding: 0 20px;
            border: 0;
            min-width: 170px;
          }
          h2 {
            font-weight: 500;
            margin: 0 0 10px;
            color: #2f3a5e;
          }
          h3 {
            color: #2f3a5e;
            text-transform: uppercase;
            font-weight: 600;
          }
          .card-plan {
            font-size: 33px;
            color: #2f3a5e;
            font-weight: 700;
            span {
              font-size: 14px;
              color: #5e6373;
              font-weight: 400;
            }
          }
        }

        .chkicon {
          background: url(../images/check-image.png) no-repeat;
          display: block;
          width: 25px;
          height: 25px;
          margin: 0 auto;
        }
      }

      .aln-left li {
        text-align: left;
        font-weight: 600;
        justify-content: left;
        align-items: center;
      }

      .aln-left li:nth-child(2) {
        border-top: 1px solid #e7edf6;
        border-radius: 10px 0 0 0;
      }
      .aln-left .price-header {
        border-bottom: 0;
        padding: 0 25px;
      }
    }
  }
}

#pricecontent .price-table .price-row .columns:nth-child(3n) .price_btn {
  background-color: #6754e2;
  color: #fff;
  border-color: #6754e2;
}

#pre-loader {
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  padding:220px 0 120px;
}

.pidx_0{display:none;}

.pidx_2 .tryfree{opacity: 0;}

/*new css Start*/

.partner-sec {
  @media screen and (max-width: ($smscreen-size - 1)) {
    background: #fff;
  }
  .flex_row {
    .colmTxt {
      width: 40%;
      @media screen and (max-width: ($smscreen-size - 1)) {
        width: 100%;
        padding: 0 0 40px;
      }
      .top-section {
        text-align: left;
        margin: 0 0 40px;
        padding: 0;
        @media screen and (max-width: ($smscreen-size - 1)) {
          width: 100%;
          margin: 0 0 20px;
        }
      }
      .partner-logo {
        display: flex;
        .logoImg {
          margin: 0 40px 0 0;
        }
      }
    }

    .productivity {
      width: 55%;
      background: #f7f7f7;
      padding: 70px 50px;
      border-radius: 15px 0px 0px 15px;
      @media screen and (max-width: ($smscreen-size - 1)) {
        width: 100%;
        padding: 30px;
      }
      h3 {
        font-size: 30px;
        line-height: 39px;
        font-weight: 500;

        @media screen and (max-width: ($smscreen-size - 1)) {
          font-size: 20px;
          line-height: 25px;
        }
      }

      .company-logo {
        display: flex;
        padding: 0;
        margin: 30px 0 0;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 31%;
          background: #ffffff;
          padding: 35px;
          margin: 0 0 20px;
          box-shadow: 0px 2px 10px rgba(22, 101, 216, 0.1);
          border-radius: 4px;
          @media screen and (max-width: $lgscreen-size) {
            width: 46%;
          }
          @media screen and (max-width: ($smscreen-size - 1)) {
            padding: 20px;
          }

          i {
            width: 123px;
            height: 52px;
            display: block;
            border-radius: 8px;
            background: url(../images/partner-sprite.webp) no-repeat;
            margin: 0 auto;
            background-color: #fff;
          }

          .icon1 {
            width: 91px;
            background-position: -10px -10px;
          }
          .icon2 {
            width: 47px;
            background-position: -10px -82px;
          }
          .icon3 {
            width: 104px;
            background-position: -10px -154px;
          }
          .icon4 {
            width: 123px;
            background-position: -10px -226px;
          }
          .icon5 {
            width: 123px;
            background-position: -10px -298px;
          }
          .icon6 {
            width: 75px;
            background-position: -10px -370px;
          }
        }
      }
    }
  }
}

.mobBtn{position: relative;
  display:none;
  border:none;
  cursor: pointer;
  margin:20px auto 0;
  font-weight:600;
  background:none;
  &:after{content: "";
    display: inline-block;
    background: url(../images/left-angle.png) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right:-26px;
    top:3px;}
  }
.mobtable{transition: all 0.4s ease-in;border: 1px solid #e7edf6; margin:20px 0 0; border-radius:10px; display:none;

 ul{ padding:0; margin:0; 
  li{display:flex; flex-wrap: wrap; justify-content:space-between; border-bottom: 1px solid #e7edf6;
    padding:10px;
    color: #4a4c55;
    text-align: center; align-items: center;
    span:first-child{flex-basis: 70%; text-align: left;}
    span:last-child{flex-basis: 30%;}
  &:last-child{border-bottom:0;}
  }
.chkicon {
    background: url(../images/check-image.png) no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
  }

}

.mobtable.open {
  display:block;
}

.mobBtn.active:after{background: url(../images/angle-top.png) no-repeat;
 top:6px;}

 #pricecontent .price-cards .column:nth-child(2) .mobBtn{color:#fff;}
 #pricecontent .price-cards .column:nth-child(2) .mobtable ul li{color:#fff;}
 #pricecontent .price-cards .column:nth-child(2) .mobBtn:after{background: url(../images/left-angle-white.png) no-repeat;}
 #pricecontent .price-cards .column:nth-child(2) .mobBtn.active:after{background: url(../images/angle-top-white.png) no-repeat;  top:6px;}

 #pricecontent .price-cards .column:first-child .line-though{display:none;}
/*new css end*/

@media(max-width:1600px) {
  #pricecontent .price-cards .column{margin: 42px 30px 0;}
}

@media (max-width: 1440px) {
  .faqsRow {padding: 80px 0 150px;}
  .price_section {padding: 0 0 80px;}
  .price_section > div .priceRow .tab {top: -255px;}
  .price_section:before {height: 150px;}
  .pricing-sec{padding:120px 0;}
}

@media (max-width: 1140px) {
  #pricecontent .price-cards .column{margin:42px 15px 0;}
  #pricecontent .price-table .price-row .aln-left li{padding:15px 12px;}
  #pricecontent .price-table .price-row .price .price-header h2 {font-size:30px;
  }
}

@media (max-width: 1080px) {

  #pricetabs h1{font-size:30px; line-height:40px;}
  #pricecontent .price-cards .column h3 {font-size:22px;}
  #pricecontent .price-cards .column .amount strong{font-size:28px;}
  #pricecontent .price-cards .column{margin:40px 20px 0;}
  #pricecontent .price-cards .column .price_btn{font-size: 15px; padding:15px; margin:15px auto 0; width:100%;}
  #pricecontent .price-table .price-row .price p{font-size: 15px; line-height:22px;}
  #pricecontent .price-cards .column{width:100%; text-align: center; margin:30px 0 0;}
  #pricecontent .price-cards .column:nth-child(2){transform: none;}
  #pricecontent .price-cards .column .amount.hidden{display:none;}
  #pricecontent .price-table{display:none;}
  .mobBtn{display:block;}
  #pricecontent .price-cards .column .line-though.hidden{display:none;}
  #pricecontent .price-cards .column:nth-child(2) .price_btn{padding:15px;}
}



@media (max-width: 979px) {
  .price-tab .tab-list .tabs li a i {
    display: block;
    margin: 0 auto 10px;
  }
  .price-tab .tab-list .tabs {
    text-align: center;
  }
  .partner-sec .flex_row .productivity {
    padding: 30px;
  }
  .partner-sec .flex_row .productivity .company-logo li {
    width: 100%;
  }
  .faqsRow {
    padding: 0 0 100px;
  }
  #pre-loader {
    font-size: 16px;

  }
}

@media (max-width: 767px) {
  #pre-loader {font-size: 14px; padding:120px 0 30px;}
  .pricing-sec {padding: 120px 0 50px;}
  #pricetabs h1{font-size: 26px; line-height:32px;}
  #pricetabs li a {font-size: 18px; min-width:120px;}
  #pricetabs h6, #pricetabs p {font-size:14px;}
  #pricecontent .price-cards .column h3{font-size:18px;}
  #pricecontent .price-cards .column .amount strong{font-size:24px;}

}

@media (max-width: 479px) {
}
