.product-tab{
  .tab-list{display:flex; align-items:center; justify-content:center;
#tabs {border-radius:4rem; background:#e9eef5; padding: 0;
li {
    display: inline-block;
    a {
      display: block;
      height: 100%;
      padding:15px 30px;
      text-align: center;
      color:#333333;
      font-weight:600;
      transition: 0.3s ease;
    }
  
    &.active a {
      border-radius: 4rem;
      background: #fff;
      box-shadow: 0 0 10px rgba(68, 97, 215, 0.1);
      transition: all 0.2s ease-in-out;
      

    }
  }
}
}
#tab-contents {text-align: center; padding:30px 100px 0;
  .tab-contents {
    display: none;
    &.active {
      display: block;
    }
    .tab-image{display: block; margin:25px auto  0;}
  }
}

}