@import "footer";
@import "_menu-v4";
@import "global";
.resource-filters {
    >div {
        .tab {
            margin: 0 auto 50px;
            padding: 3px;
            transition: 0.3s ease-in;
            text-align: center;
            display: flex;
            width: fit-content;
            @media screen and (max-width: ($mdscreen-size - 1)) {
                flex-flow: column;
            }
            button {
                outline: 0;
                text-decoration: none;
                border: none;
                font-family: Lato;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #000000;
                line-height: 24px;
                background: transparent;
                padding: 15px;
                &.active {
                    background: #ffffff;
                    color: #624DE3;
                    box-shadow: 0px 0px 12px rgba(22, 101, 216, 0.1);
                }
            }
        }
        .tabcontent {
            >div {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .column {
                    @media screen and (min-width: $mdscreen-size) {
                        width: calc(33.3% - 30px);
                    }
                    margin: 15px auto;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 24px rgba(22, 101, 216, 0.1);
                    border-radius: 4px;
                    .content {
                        padding: 30px 15px;
                        h5 {
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            &:not(:nth-child(2)) {
                display: none;
            }
        }
    }
}

.resouces-banner {
    p {
        max-width: 600px;
        margin: 0 auto;
    }
    h1 {
        margin-bottom: 15px;
    }
}

.faqsRow p a{
    color: #624DE3;
}
.faqsRow p a:hover{
   text-decoration: underline;
}

.faqsRow.wfull .column {
    width: 100%;
    margin: 0;
    &:nth-child(2){
    margin-top: 30px;
    }
}
.faqsRow .column ul li{
    list-style: disc;
    color: #5E6373;
}
.background_lightblue{
    padding-top: 60px;
    padding-bottom: 60px;
}
.background_lightblue h2{
    margin-top: 0;
}
.nrmbtn{
    color: #fff;
    text-decoration: underline;
}