@import "global-section";
@import "footer";
@import "_menu-v4";
@import "common-banner";

/*Banner section*/


.inner-banner-bg {
  width: 100%;
  background: #6754e2;
  position: relative;
  height: 530px !important;
  color: #fff;
  &:after {
    display: none;
  }

  h1 {
    font-weight: 700;
  }
  .bannerwrap {
    padding: 140px 0px 70px !important;
  }
  .inner-wrap {
    color: #fff;
    text-align: center;
    h1 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      margin: 0 0 10px;
    }
    a {
      color: #fff;
    }
    .list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 100px;
      @media screen and (max-width: ($lgscreen-size - 1)) {
        padding: 0;
      }
      li {
        display: inline-block;
        position: relative;
        margin: 0 15px 10px;
        &:before {
          content: "";
          display: inline-block;
          width: 14px;
          height: 13px;
          top: 7px;
          margin-right: 15px;
          margin-top: -2px;
          vertical-align: middle;
          background: url(../images/check-icon-white.png) no-repeat;

          @media screen and (max-width: ($smscreen-size - 1)) {
            background-size: 100%;
            width: 12px;
            height: 11px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.partwrap {
  width: 100%;
  margin-top: -78px;
  position: relative;

  .partner-div {
    width: 100%;
    display: flex;
    padding: 10px 20px 25px;
    flex-wrap: wrap;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);

    .part-col {
      flex-basis: 20%;
      text-align: center;
      padding: 0 20px;
      .part-logo {
        background: url(../images/partner-images.png) no-repeat;
        width: 175px;
        height: 55px;
        display: block;
        position: relative;
        margin: 0 auto 10px;

        &.part-logo1 {
          background-position: -10px -35px;
        }
        &.part-logo2 {
          background-position: 10px -90px;
        }
        &.part-logo3 {
          background-position: -10px -144px;
        }
        &.part-logo4 {
          background-position: -10px -215px;
        }
        &.part-logo5 {
          background-position: 0px 6px;
        }
      }

      p {
        font-size: 14px;
        color: #000;
        margin: 0 0 5px;
      }

      .star-icon {
        display: block;
      }
    }
  }
}

.inner-banner-bg {
  width: 100%;
  height: 700px;
  padding: 0;
  background: #533bba;
  color: #fff;
  position: relative;
  .bannerwrap {
    padding: 50px 0px 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resource-banner {
    background: url(../images/resource-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.userguide {
  padding: 80px 120px;
}
.question-list li a {
  padding: 10px 10px 10px 20px;
}
.buyers-guide-question h3 {
  margin: 0 0 25px;
}
.guide-answer {
  text-align: left;
}
.question-list li a.active:after {
  left: 0;
}
.buyers-guide-answer h3 {
  font-size: 36px;
  line-height: 40px;
  color: #333333;
  @media screen and (max-width: ($lgscreen-size)) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (max-width: ($smscreen-size - 1)) {
    font-size: 24px;
    line-height: 28px;
  }
}

.buyers-guide-answer { border-bottom:0 !important; padding:0 !important;
  .rerow {
    border: 1px solid #ecf3fe;
    padding: 25px 0;
    border-radius: 5px;
    .recol {
      border-bottom: 1px solid #ecf3fe;
      padding: 0 20px;
      margin: 0 0 20px;
      h5 {
        font-size: 14px;
        color: #624de3;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      h4 {
        font-size: 22px;
        line-height: 29px;
        margin: 0 0 10px;
        a {
          color: #110302;
          &:hover {
            color: #624de3;
          }
        }
        @media screen and (max-width: ($lgscreen-size)) {
          font-size: 20px;
          line-height: 26px;
        }
        @media screen and (max-width: ($smscreen-size - 1)) {
          font-size: 17px;
          line-height: 24px;
        }
      }
      p {
        color: #5e6373;
        text-transform: inherits;
        a {
          color: #5e6373;
          &:hover {
            color: #624de3;
          }
        }
      }
      &:last-child {
        border: 0;
        margin: 0;
      }
    }
  }
}



@media (max-width: 1024px) {
  .partwrap {
    .partner-div {
      .part-col {
        text-align: center;
        padding: 0 10px;
        .part-logo {
          width: 150px;
          height: 40px;
          background-size: 100%;

          &.part-logo1 {
            background-position: 0 -30px;
          }
          &.part-logo2 {
            background-position: 10px -70px;
          }
          &.part-logo3 {
            background-position: 0px -110px;
          }
          &.part-logo4 {
            background-position: -10px -165px;
          }
          &.part-logo5 {
            background-position: 4px 7px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .userguide {
    padding: 50px 0 80px;
  }
}

@media (max-width: 979px) {
  .userguide {
    padding: 0 0 80px;
  }
  .banner-image {
    padding: 100px 0;
  }

  .banner-image .bnrimg {
    margin: 40px 0 0;
  }
  .partwrap {
    .partner-div {
      justify-content: center;
      padding: 30px 20px 25px;
      .part-col {
        margin: 0 0 15px;
        flex-basis: 33.33%;
      }
    }
  }
}

@media (max-width: 767px) {
  .inner-banner-bg {
    height: auto !important;
  }
  .inner-banner-bg .bannerwrap {
    padding:0px 0 50px !important;
  }
  .banner-image {
    padding: 100px 0 50px;
  }

  .banner-image .bnrimg {
    margin: 25px 0 0;
  }
  .trackRow {
    margin: 0 0 50px;
  }

  .hero-banner .inner-wrap .actionBtn {
    justify-content: space-between;
    margin: 20px 0;
  }
  .hero-banner .inner-wrap p {
    font-size: 16px;
    line-height: 26px;
  }
}
