.product-tab .tab-list {
  display: flex;
  align-items: center;
  justify-content: center; }
  .product-tab .tab-list #tabs {
    border-radius: 4rem;
    background: #e9eef5;
    padding: 0; }
    .product-tab .tab-list #tabs li {
      display: inline-block; }
      .product-tab .tab-list #tabs li a {
        display: block;
        height: 100%;
        padding: 15px 30px;
        text-align: center;
        color: #333333;
        font-weight: 600;
        transition: 0.3s ease; }
      .product-tab .tab-list #tabs li.active a {
        border-radius: 4rem;
        background: #fff;
        box-shadow: 0 0 10px rgba(68, 97, 215, 0.1);
        transition: all 0.2s ease-in-out; }
.product-tab #tab-contents {
  text-align: center;
  padding: 30px 100px 0; }
  .product-tab #tab-contents .tab-contents {
    display: none; }
    .product-tab #tab-contents .tab-contents.active {
      display: block; }
    .product-tab #tab-contents .tab-contents .tab-image {
      display: block;
      margin: 25px auto  0; }
