*/\.htaccess
data/*
__server/*
uploads/*

wp-admin/
wp-includes/
/wp-content/wp-rocket-config/*
/wp-content/cache/*
/wp-content/upgrade/*
/wp-content/upgrade-temp-backup/*
/wp-content/uploads/db-backup/*
/wp-content/uploads/wp-file-manager-pro/*
/wp-content/uploads/*
/wp-content/plugins/*
/wp-content/updraft/*
/wp-content/uploads-webpc/
!wp-content/themes/*
wp-config.php

blog/wp-admin/
blog/wp-includes/
blog/wp-content/wp-rocket-config/*
blog/wp-content/cache/*
blog/wp-content/upgrade/*
blog/wp-content/upgrade-temp-backup/*
blog/wp-content/uploads/db-backup/*
blog/wp-content/uploads/wp-file-manager-pro/*
blog/wp-content/uploads/*
blog/wp-content/plugins/*
blog/wp-content/updraft/*
blog/wp-content/uploads-webpc/
!blog/wp-content/themes/*
blog/wp-config.php

blog/staging/*
!blog/staging/wp-content/
blog/staging/wp-content/*
!blog/staging/wp-content/themes/
blog/staging/wp-content/themes/*
!blog/staging/wp-content/themes/ws-blog/
!blog/staging/wp-content/themes/ws-blog-v2/

l/wp-admin/
l/wp-includes/
l/wp-content/wp-rocket-config/*
l/wp-content/cache/*
l/wp-content/upgrade/*
l/wp-content/upgrade-temp-backup/*
l/wp-content/uploads/db-backup/*
l/wp-content/uploads/wp-file-manager-pro/*
l/wp-content/uploads/*
l/wp-content/plugins/*
l/wp-content/updraft/*
l/wp-content/uploads-webpc/
!l/wp-content/themes/*
l/wp-config.php

l/staging/*
!l/staging/wp-content/
l/staging/wp-content/*
!l/staging/wp-content/themes/
!l/staging/PHPMailer/
!l/staging/sendmail.php
l/staging/wp-content/themes/*
!l/staging/wp-content/themes/ws-landing/

staging/*
!staging/wp-content/
staging/wp-content/*
!staging/wp-content/themes/
staging/wp-content/themes/*
!staging/wp-content/themes/workstatus/

#!l/wp-content/themes/**
# staging/PHPMailer/
# staging/wp-admin/
# staging/wp-includes/
# staging/wp-content/plugins/
# staging/wp-content/updraft/
# staging/wp-content/upgrade/
# staging/wp-content/upgrade-temp-backup/
# staging/wp-content/uploads/
# staging/wp-content/uploads-webpc/
#!staging/wp-content/themes/**
robots.txt
ws.tar.gz
.DS_Store