*/\.htaccess
data/*
__server/*
uploads/*

staging/*
# staging/PHPMailer/
# staging/wp-admin/
# staging/wp-includes/
# staging/wp-content/plugins/
# staging/wp-content/updraft/
# staging/wp-content/upgrade/
# staging/wp-content/upgrade-temp-backup/
# staging/wp-content/uploads/
# staging/wp-content/uploads-webpc/
!staging/wp-content/themes/**

/wp-content/wp-rocket-config/*
/wp-content/cache/*
/wp-content/upgrade/*
/wp-content/upgrade-temp-backup/*
/wp-content/uploads/db-backup/*
/wp-content/uploads/wp-file-manager-pro/*
/wp-content/uploads/*
robots.txt
.DS_Store
