*/\.htaccess
data/*
__server/*
uploads/*

wp-admin/
wp-includes/
/wp-content/wp-rocket-config/*
/wp-content/cache/*
/wp-content/upgrade/*
/wp-content/upgrade-temp-backup/*
/wp-content/uploads/db-backup/*
/wp-content/uploads/wp-file-manager-pro/*
/wp-content/uploads/*
!wp-content/themes/*
wp-config.php

blog/wp-admin/
blog/wp-includes/
blog/wp-content/
!blog/wp-content/themes/*

l/wp-admin/
l/wp-includes/
l/wp-content/
!l/wp-content/themes/**

staging/*
l/
/l/wp-content/plugins/*
#!l/wp-content/themes/**

# staging/PHPMailer/
# staging/wp-admin/
# staging/wp-includes/
# staging/wp-content/plugins/
# staging/wp-content/updraft/
# staging/wp-content/upgrade/
# staging/wp-content/upgrade-temp-backup/
# staging/wp-content/uploads/
# staging/wp-content/uploads-webpc/
!staging/wp-content/themes/**


robots.txt
.DS_Store
