@import "global-section";
@import "footer";
@import "header-new";
@import "common-banner";

.feature-header .site__header {
  transition: 0.5s;
  background: #4231AC;
}



.hero-banner{background: #fff;
  .inner-wrap {
    h1{color:#110302; font-size: 40px;
      line-height: 54px;}
    p{color:#5E6373;}
    .actionBtn{margin:30px 0 0;
      .primary_btn2{color: #fff;
        border-color: #051441;
        background: #051441;
        &:hover{background:#4231AC; border-color:#4231AC;}
        }
    }
  }
}

.hero-banner.no-af-bg:after{background: none; display:none;}
.hero-banner.no-af-bg{padding: 120px 0 50px;}
.ws-pricing{margin:40px 0 0; text-transform: capitalize;
  .price-flex {
    display: flex;
  
    .price-column {
      flex-basis: 25%;
      padding: 0 7px;
  
      .price-box {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #e4e6ea;
        padding: 20px 13px;
        border-radius: 15px;
        margin-right: -1px;
        margin-bottom: 32px;
        color: #4a4c55;
        display: flex;
        flex-direction: column;
        height: 100%;
        .pr-plan {
          min-height: 180px;
          h3 {
            font-size: 22px;
            color: #2f3a5e;
            font-weight: 600;
            margin: 0 0 15px;
            line-height: 1.2;
          }
          .card-plan {
            font-size: 32px;
            color: #2f3a5e;
            font-weight: 600;
            margin: 0 0 20px;
            .prio {
              font-size: 14px;
              font-weight: normal;
            }
          }
          .total {
            background: rgba(103, 84, 226, 0.05);
            color: rgba(5, 22, 77, 0.7);
            padding: 6px 8px;
            width: 200px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            border-radius: 6px;
            margin: 0 0 30px;
            display: flex;
            gap: 5px;
            &.nodata{opacity: 0;
              background: transparent;}
          }
          .b-anu {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: rgba(5, 22, 77, 0.7);
            strong {
              color: #6754e2;
            }
          }
        }
  
        .price_btn {
          color: #6754e2;
          background-color: #ffffff;
          white-space: nowrap;
          text-transform: capitalize;
          padding: 17px 20px;
          text-decoration: none;
          transition: 0.3s ease;
          display: inline-block;
          min-width: 238px;
          border: 1px solid #6754e2;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          border-radius: 100px;
          margin: 0 0 25px;
          &:hover {
            background-color: #624DE3;
            color: #fff;
            border-color: #624DE3;
          }
        }
  
        .price-wrapper {
          flex: 1;
          .price-options {
            display: flex;
            flex-direction: column;
            height: 100%;
            h4 {
              font-size: 18px;
              color: #05164d;
              font-weight: 500;
              line-height: 25px;
              margin: 0 0 25px;
            }
            .option-list {
              flex: 1;
              display: flex;
              flex-direction: column;
              .option {
                color: #4a4c55;
                margin: 0 0 20px;
                position: relative;
                padding: 0 0 0 15px;
                &:before {
                  content: "";
                  width: 5px;
                  height: 5px;
                  background: #4a4c55;
                  border-radius: 100%;
                  position: absolute;
                  left: 0;
                  top: 8px;
                }
              }
  
              .support-options {
                border-top: 1px solid #e7edf6;
                padding-top: 30px;
                min-height: 215px;
                margin-top: auto;
                h4 {
                  color: #05164d;
                }
                p {
                  color: #4a4c55;
                  margin: 0 0 20px;
                }
              }
            }
          }
        }
  
        .price-accordion {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 52px;
          line-height: 50px;
          padding: 0 24px;
          justify-content: flex-start;
          border: 0;
          border-top: 1px solid #e4e6ea;
          min-height: auto;
          border-radius: 0;
          font-weight: 600;
          color: #6754e2;
          background: transparent;
          cursor: pointer;
          display: none;
  
          .icon {
            width: 16px;
            height: 16px;
            color: #253053;
  
            top: 20px;
            right: 22px;
          }
        }
      }
      &:nth-child(3n) {
        margin-top: -15px;
        .price-box {
          background: rgba(242, 240, 255, 0.7);
          .pr-plan {
            h3 {
              margin: 0 0 33px;
            }
            .total {
              background: #fff;
              margin: 0 0 40px;
            }
  
            &:before {
              content: "";
              background: url(../images/band.png) no-repeat;
              background-size: 100%;
              position: absolute;
              width: 73px;
              height: 73px;
              right: -5px;
              top: -7px;
            }
          }
        }
      }
    }
  }
}

.perp{text-transform: lowercase !important;}

.free-price {text-transform: capitalize;
  padding-top: 0;
  .fdflex {
    display: flex;
    border: 1px solid #dfdcff;
    border-radius: 15px;
    align-items: center;
    .colLeft {
      flex-basis: 25%;
      padding: 40px;
      background: #fbfbfe;
      border-right: 1px solid #dfdcff;
      border-radius: 15px 0 0 15px;
      .pr-plan {
        h3 {
          font-size: 22px;
          color: #2f3a5e;
          font-weight: 600;
          margin: 0 0 15px;
          line-height: 1.2;
        }
        .card-plan {
          font-size: 36px;
          color: #2f3a5e;
          font-weight: 600;
          margin: 0 0 20px;
          .prio {
            font-size: 14px;
            font-weight: normal;
          }
        }
        .total {
          background: #fff;
          border: 1px solid #624de31a;
          color: rgba(5, 22, 77, 0.7);
          padding: 6px 8px;
          width: 150px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          border-radius: 6px;
          margin: 0 0 30px;
        }
        .b-anu {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: rgba(5, 22, 77, 0.7);
          strong {
            color: #6754e2;
          }
        }
      }
    }

    .colRit {
      flex-basis: 75%;
      padding: 40px 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cont {
        flex-basis: 60%;
        ul {
          display: flex;
          margin: 0;
          padding: 0;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            color: #4a4c55;
            flex-basis: 48%;
            margin: 0 0 20px;
            position: relative;
            padding: 0 0 0 15px;
            &:before {
              content: "";
              width: 5px;
              height: 5px;
              background: #4a4c55;
              border-radius: 100%;
              position: absolute;
              left: 0;
              top: 8px;
            }
          }
        }
      }

      .btn {
        .price_btn {
          color: #6754e2;
          background-color: #ffffff;
          white-space: nowrap;
          text-transform: capitalize;
          padding: 17px 20px;
          text-decoration: none;
          transition: 0.3s ease;
          display: inline-block;
          min-width: 238px;
          border: 1px solid #6754e2;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          border-radius: 100px;
          margin: 0 0 25px;

          &:hover {
            background-color: #624DE3;
            color: #fff;
            border-color: #624DE3;
          }
        }
      }
    }
  }
}

.comparison-outer {
  position: relative;
  .plan-btn {
    margin: auto;
    max-width: fit-content;
    display: block;
    padding: 16px 40px 16px 20px;
    margin-bottom: 90px;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid rgba(5, 22, 77, 0.2);
    color: #05164d;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      background: url(../images/arrowpr.svg) 0 0 no-repeat;
      background-size: 100%;
      width: 14px;
      height: 17px;
      right: 14px;
      position: absolute;
      top: 16px;
      transform: rotateX(180deg);
    }
    &.rotate {
      &:before {
        top: 25px;
        transform: rotateX(0);
      }
    }
  }
  &:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 30px;
    background: #e7edf6;
    z-index: -1;
  }
}

.comparison-panel {
  padding-top:0;
  position: relative;
  overflow: hidden;
  display:none;
  &.toggle{display:block;}

  .comp-table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    tr {
      th {
        position: relative;
        z-index: 999;
        background-color: #fff;
        color: #253053;
        font-size: 15px;
        font-weight: 600;
        .plan-label {
          display: block;
          color: #2f3a5e;
          margin-bottom: 15px;
        }
        .button {
          color: #6754e2;
          background-color: #ffffff;
          white-space: nowrap;
          text-transform: capitalize;
          padding: 13px 20px;
          text-decoration: none;
          transition: 0.3s ease;
          display: inline-block;
          border: 1px solid #6754e2;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          border-radius: 100px;
          margin: 0 0 10px;
          &:hover {
            background: #6754e2;
            color: #fff;
          }
        }
      }
    }
  }

  .comp-row {
    margin: 60px 0 0;
    h4 {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 25px;
    }

    .comp-tablerow {
      table-layout: fixed;
      width: 100%;
      border-spacing: 0;
      tr {
        td {
          padding: 20px 12px;
          font-size: 15px;
          text-align: center;
          &:first-child {
            text-align: left;
            color: #4a4c55;
          }
          .chkicon {
            background: url(../images/check-mark.svg) no-repeat;
            display: block;
            width: 21px;
            height: 20px;
            margin: 0 auto;
          }
        }
      }
      tr:nth-child(odd) td {
        background-color: #f8f5ff;
      }
    }
  }
}

.comp-table-sticky.sticky {
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.comp-table-sticky.sticky .comp-table {
  width: 80%;
  margin-left: 10%;
}

.comp-table-sticky.sticky.btomfixed {
  bottom: 100px;
  top: auto;
  position: absolute;
}

.option-data {
  background: #fcfbfe;
  .addons-row {
    display: flex;
    flex-wrap: wrap;
    .addond-col {
      flex-basis: 33.33%;
      padding: 0 12px;
      margin: 0 0 24px;
      min-height: initial;
      .add-box {
        border: 1px solid #e4e6ea;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .topDiv {
          padding: 20px;
          text-align: center;
          background: #fff;
          border-radius: 20px;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .icon {
            width: 40px;
          }
          .tcon {
            width: calc(100% - 50px);
            text-align: left;
            h4 {
              margin: 0;
            }
            .price {
              font-weight: 500;
            }
            .unit {
              font-size: 14px;
            }
          }
        }
        .bottomDiv {
          background: #f4efff;
          border-radius: 0 0 15px 15px;
          padding: 20px;
          height: 100%;
          ul {
            margin: 0;
            padding: 0;
            li {
              margin: 0 0 15px;
              padding-left: 25px;
              position: relative;
              &:before {
                content: "";
                background: url(../images/chek-li.png) no-repeat;
                position: absolute;
                left: 0;
                top: 4px;
                width: 17px;
                height: 17px;
                margin: 0 auto;
              }
            }

            ul {
              padding: 0 0 0 25px;
              li {
                position: relative;
                padding: 0 0 0 15px;
                &:before {
                  content: "";
                  width: 5px;
                  height: 5px;
                  background: #4a4c55;
                  border-radius: 100%;
                  position: absolute;
                  left: 0;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.all-partners {background-color: #F7F6F9;
  .part-row {
    grid-gap: 15px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    .part-col {
      text-align: center;
      border-radius: 10px;
      border: 1px solid #eadfff;
      background: #fff;
      padding: 17px 30px;

      .img-wrap {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: block;
        }
      }

      .star {
        background: url(../images/part-star.png) no-repeat center;
        width: 91px;
        margin: 0 auto;
        height: 16px;
        transition: all 0.3s ease-in-out;
        display: block;
      }
    }
  }
}



@media (max-width: 1420px) {

  .ws-pricing{
    .price-flex {
      .price-column {
        .price-box {
          .pr-plan {min-height: 172px;
            .card-plan {
              font-size:30px;
            }
            
          }
          .price_btn {
            min-width:100%;
          }
        }
      }
    }
  }

  .option-data .addons-row .addond-col .add-box .topDiv .tcon h4{font-size: 18px;}

}



@media (max-width: 1280px) {

  .ws-pricing{
    .price-flex {
      .price-column {
        padding: 0 5px;
        .price-box {
          padding: 15px;
          .pr-plan {
            min-height: 180px;
            h3 {
              font-size: 18px;
            }
            .card-plan {
              font-size:31px;
              margin: 0 0 15px;
              .prio {
                font-size: 12px;
              }
            }
            .total {
              padding:4px 8px;
              font-size: 12px;
              margin: 0 0 15px;
            }
            .b-anu {
              font-size: 12px;
              line-height: 18px;
            }
          }
    
          .price_btn {
            padding: 14px 20px;
            min-width:100%;
            font-size: 16px;
            margin: 0 0 20px;
          }
    
          .price-wrapper {
            .price-options {
              h4 {
                font-size: 16px;
                margin: 0 0 20px;
              }
              .option-list {
                .option {
                  margin: 0 0 15px;
                  font-size: 15px;
                }
    
                .support-options {
                  padding-top: 25px;
                  
                  p {
                    margin: 0 0 15px;
                    font-size: 15px;
                  }
                }
              }
            }
          }
    
        }
        &:nth-child(3n) {
          .price-box {
            .price_btn{margin-top: 15px;}
          }
        }
      }
    }
  }


  .free-price {
    .fdflex {
      .colLeft {
        padding:30px;
        min-height: 237px;
        .pr-plan {
          h3 {
            font-size: 18px;
          }
          .card-plan {
            font-size: 35px;
            margin: 0 0 15px;
            .prio {
              font-size: 12px;
            }
          }
          .total {
            padding: 4px 8px;
    font-size: 12px;
    margin: 0 0 15px;
          }
          .b-anu {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
  
      .colRit {
        padding:30px 60px;
        .cont {
          ul {
            li {
              font-size: 15px;
              margin: 0 0 15px;
            }
          }
        }
  
        .btn {
          .price_btn {
            padding: 14px 20px;
            min-width: 200px;
            font-size: 16px;
            margin: 0 0 20px;
          }
        }
      }
    }
  }

  .comparison-outer{
    .plan-btn{font-size: 16px; margin-bottom:60px;}
  } 


  .option-data {
    .addons-row {
      .addond-col {
        padding: 0 10px;
        margin: 0 0 20px;
        .add-box {
          .topDiv {
            .tcon {
              h4{font-size: 18px;}
              .price{font-size: 15px;}
              .unit {
                font-size: 12px;
              }
            }
          }
          .bottomDiv{
            ul{
              li{font-size: 15px;     margin: 0 0 10px;
              &:before{background-size: 100%; top: 6px;
                width: 13px;
                height: 13px;}
              }
            }
          } 
        }
      }
    }
  }
  
  
    .all-partners {
      .part-row {
        grid-template-columns: repeat(4, 1fr);
        .part-col {
          padding: 15px 20px;
        }
      }
    }


    
  

}





@media (max-width:1024px) {

  .hero-banner .inner-wrap h1 {
    font-size: 30px;
    line-height: 40px;
}

  .ws-pricing{
    .price-flex {flex-wrap: wrap;
      .price-column {
        flex-basis: 50%;
        margin:0 0 30px;
        padding:0 15px;
        .price-box {
          padding:20px;
        
          .pr-plan{min-height:150px;}
          .price-wrapper {
            .price-options {
             display: none;
             &.is-visible{display: block;}
            }
          }
          .price-accordion{display: block; width:100%; font-size: 15px;  text-align: left;
          &:after{content: "";
            display: inline-block;
            background: url(../images/arrowpr.svg) 0 0 no-repeat;
              background-size: auto;
            background-size: 100%;
            width: 14px;
            height: 17px;
            right: 14px;
            position: absolute;
            top: 16px;
            transform: rotateX(180deg);}
          }
    
        }
        &:nth-child(3n) {
          .price-box {margin-top:15px;
            .pr-plan{
              h3{margin:0 0 15px;}
            }
            .price_btn{margin-top:0;}
          }
        }
      }
    }
  }



  .free-price {
    .fdflex {
      .colLeft {flex-basis: 30%;
        padding:25px;
        min-height: 324px;
        
      }
  
      .colRit {flex-basis: 70%;
        padding:25px 40px;
        .cont {
          ul {
            li {
              font-size: 15px;
              margin: 0 0 15px;
              flex-basis: 100%;
            }
          }
        }
  
        .btn {
          .price_btn {
            padding: 14px 20px;
            min-width: 200px;
            font-size: 16px;
            margin: 0 0 20px;
          }
        }
      }
    }
  } 



  .comparison-panel {
    padding-top:0;
    .comp-table {
      tr {
        th {
          .button {
            padding: 11px 15px;
            font-size: 14px;
            
          }
        }
      }
    }
  
    .comp-row {
      margin: 60px 0 0;
      h4 {
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 25px;
      }
  
      .comp-tablerow {
        table-layout: fixed;
        width: 100%;
        border-spacing: 0;
        tr {
          td {
            padding: 20px 12px;
            font-size: 15px;
            text-align: center;
            &:first-child {
              text-align: left;
              color: #4a4c55;
            }
            .chkicon {
              background: url(../images/check-mark.svg) no-repeat;
              display: block;
              width: 21px;
              height: 20px;
              margin: 0 auto;
            }
          }
        }
        tr:nth-child(odd) td {
          background-color: #f8f5ff;
        }
      }
    }
  }


  .option-data {
    .addons-row {
      .addond-col {
        flex-basis:33.33%;
        padding: 0 10px;
        margin: 0 0 20px;
        .add-box {
          
          .topDiv {
         flex-wrap: wrap;
  
            .icon {
              width:100%;
            }
            .tcon {
              width:100%;
              text-align:center;
              
            }
          }
        }
      }
    }
  }

}
 


@media (max-width: 767px) {


  .ws-pricing{
    .price-flex {
      .price-column {
        flex-basis: 100%;
        margin:0 0 30px;
        padding:0 10px;
        .price-box {
          .pr-plan{min-height:initial; padding:0 0 20px;}
          .price-wrapper {
            .price-options {
             display: none;
             &.is-visible{display: block;}
            .option-list{
              .support-options{    min-height: initial; padding-top:15px;}
            }
             

            }
          }
          
    
        }
        &:nth-child(3n) {
          .price-box {margin-top:10px;
          }
        }
      }
    }
  }

  .free-price {
    .fdflex {flex-wrap: wrap;
      
      .colLeft {flex-basis:100%;
       padding:20px;
        min-height: initial;
        
      }
      .colRit {flex-basis:100%; flex-wrap: wrap; ; padding:20px;
        .cont {flex-basis: 100%;
          ul {
            li {
              font-size: 15px;
              margin: 0 0 15px;
              flex-basis: 100%;
            }
          }
        }
  
        .btn {margin:20px 0 0; width:100%; text-align: center;
          .price_btn {
            padding: 12px 20px;
            min-width: 250px;
            font-size: 14px;
            margin:0;
          }
        }
      }
    }
  }


.comparison-outer, .comparison-panel{display:none;}


.option-data {
    .addons-row {
      .addond-col {
        flex-basis:100%;
        min-height: initial;
      }
    }
  }


  .all-partners {padding-bottom:80px;
    .part-row {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4px;
      .part-col {
        padding: 10px 10px;
        .star{background-size: 100%; width:80px;}
      }
    }
  }

  .hero-banner.no-af-bg{padding: 110px 0 30px;}
 


}

  
 



