.banner-section {
  .two-box {
    .flex-2 {
      &.content-section {
        flex-basis: 50%;
      }
      &.banner-form {
        flex-basis: 37%;

        .col {
          background: #fff;
          box-shadow: 0px 4px 35px rgba(22, 101, 216, 0.1);
          border-radius: 30px;
          padding: 35px 30px;
        }
        h3 {
          font-size: 25px;
          color: #000000;
          font-weight: 600;
          text-align: center;
          text-transform: capitalize;
        }

        .form-wrap {
          display: block;
          margin: 20px 0 0;
          .form-group {
            width: 100%;
            display: block;
            position: relative;
            padding: 0 10px;
            margin: 0 0 20px;
            input {
              height: 40px;
              width: 100%;
              border: 0;
              border-bottom: 1px solid #ebe5fe;
              border-radius: 0;
              font-weight: 400;
              color: #525f7f;

              font-size: 14px;
              font-family: "Noto Sans";
              &:focus {
                border-bottom: 1px solid #643bdf;
                background: none !important;
              }
              .user-input:focus {
                border-bottom: 1px solid #643bdf;
                background: none !important;
              }
            }
            input#vs_cont_phpne {
              padding-left: 130px;
            }
            .padd {
              margin: 0 0 20px;
              p {
                position: relative;
                font-size: 12px !important;
                padding-left: 25px;
                color: #525f7f !important;
                margin: 0;
                text-align: left;
                line-height: initial;
              }
              .mcheck {
                position: absolute;
                width: 15px !important;
                height: 15px !important;
                top: 1px;
                left: 0;
              }

              input[type="checkbox"]:checked {
                background-color: #643bdf;
              }
              a {
                color:#6754E2;
                &:hover {
                  color: #110302;
                }
              }
            }
            .captForm {
              margin: 10px 0 20px;
              .quizQ {
                width: 122px;
                height: 40px;
                line-height: 40px;
                color: #525f7f;
                background-size: 70px;
                #vs_j-quiz {
                  padding: 0 15px;
                }
              }
              .quizAns {
                width: 50px;
                &:before {
                  top: 6px;
                  left: -50px;
                }
                input {
                  height: 40px;
                  border: 1px solid #6754e2;
                  border-radius: 8px;
                }
                .error{width:300px !important;}
              }
            }
            #captchaerror {
              width: 200px;
              line-height: 1.4;
            }
            input::-webkit-input-placeholder {
              color: #525f7f !important;
            }
            input:-moz-placeholder {
              color: #525f7f !important;
            }

            .btn {
              background: #201f3a;
              border: 1px solid #201f3a;
              width: 100%;
              margin: 20px 0 0;
              height: 50px;
              border-radius: 8px;
              color: $white;
              cursor: pointer;
              min-width: auto;
              &:hover {
                color: #201f3a;
                background: transparent;
              }
            }

            #help-ul {
              display: none;
            }

            .iti__country-list {
              width: 390px;
              font-size: 16px;
            }
            .iti__selected-flag {
              padding: 7px 10px;
              width: 100px !important;
            }
            .iti__arrow,
            .iti__arrow--up {
              margin-left: 48px;
            }
            
            input#cont_phpne {
              padding-left: 130px;
            }
          }
        }
      }
    }
  }

  .form-group.ws-error input,
.select-box.ws-error {
  border-color: red !important;
}
}

@media (max-width: 1160px) {
  .banner-section {
    .two-box {
      .flex-2 {
        &.content-section {
          flex-basis: 40%;
        }
        &.banner-form {
          flex-basis: 45%;
          width: 45%;
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .banner-section {
    .two-box {
      .flex-2 {
        &.content-section {
          flex-basis: 100%;
          padding: 0;
        }
        &.banner-form {
          flex-basis: 100%;
          width: 100%;
          margin: 30px 0 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner-section {
    .two-box {
      .flex-2 {
        &.banner-form {
          .col {
            padding: 20px 20px;
          }
          h3 {
            font-size: 20px;
          }

          .form-wrap {
            .form-group {
              margin: 0 0 15px;
              .padd {
                p {
                  font-size: 11px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
