//
// Variables
//
$headingColor: #253053;
$bg-blue: #624DE3;
$grey: rgba(51, 51, 51, 0.4);
$black: #000;
$white: #fff;
$dark-blue: #201f3a;
$blue: #624DE3;
$darkBlue: #243141;
$navyblue:#051441;
$bglight: linear-gradient(
  90deg,
  rgba(237, 241, 255, 1) 28%,
  rgba(247, 252, 255, 1) 72%
);

@media only screen and (min-width: 768px) {
  // fonts
  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Regular.eot");
    src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans-Regular.woff2") format("woff2"),
      url("../fonts/NotoSans-Regular.woff") format("woff"),
      url("../fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Bold.eot");
    src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans-Bold.woff2") format("woff2"),
      url("../fonts/NotoSans-Bold.woff") format("woff"),
      url("../fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Medium.eot");
    src: url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans-Medium.woff2") format("woff2"),
      url("../fonts/NotoSans-Medium.woff") format("woff"),
      url("../fonts/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-SemiBold.eot");
    src: url("../fonts/NotoSans-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/NotoSans-SemiBold.woff2") format("woff2"),
      url("../fonts/NotoSans-SemiBold.woff") format("woff"),
      url("../fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

// default classes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #282a30;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  font-family: "Noto Sans";
}
html {
  scroll-behavior: smooth;
}

.bg-light {
  background: $bglight;
}

h1 {
  font-size: 42px;
  line-height: 53px;
  color: $darkBlue;
  font-weight: bold;
  margin: 0 0 10px;
}
.blue {
  color: $blue;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: $headingColor;
}
h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: $headingColor;
}
h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $headingColor;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 18px;
  line-height: 30px;
  color: #4a4c55;
  font-weight: normal;
}

a {
  color: $grey;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  position: relative;
}

.strong,
strong {
  font-weight: 600;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.item-end {
  align-items: flex-end;
}
.justify-sb {
  justify-content: space-between;
}
.block {
  display: block;
}

.flex-2 {
  flex-basis: 50%;
  &:first-child {
    padding-right: 20px;
  }
}
.flex-3 {
  flex-basis: 33.33%;
}
.flex-4 {
  flex-basis: 25%;
}
.flex-5 {
  flex-basis: 20%;
}
.padding-t-150 {
  padding-top: 150px;
}
.padding-t-120 {
  padding-top: 120px;
}
.padding-b-120 {
  padding-bottom: 120px;
}
.padding-t-70 {
  padding-top: 70px;
}

.padding-t-80 {
  padding-top: 80px;
}

.padding-b-80 {
  padding-bottom: 80px;
}

.padding-t-40 {
  padding-top: 40px;
}
.padding-b-150 {
  padding-bottom: 150px;
}

.padding-t-100 {
  padding-top: 100px;
}

.padding-b-100 {
  padding-bottom: 100px;
}
.padding-b-70 {
  padding-bottom: 70px;
}
.margin-t-100 {
  margin-top: 100px;
}
.margin-t-80 {
  margin-top: 80px;
}
.margin-t-70 {
  margin-top: 70px;
}
.margin-t-60 {
  margin-top: 60px;
}
.margin-t-50 {
  margin-top: 40px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.head-txt {
  margin: auto;
  p {
    font-size: 18px;
    color: #0e0b3d;
    line-height: 27px;
    margin: 5px 0 0;
  }
  a {
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}
.btn {
  background: $blue;
  padding: 11px 28px;
  color: $white;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $blue;
  &:hover {
    background-color: $black;
    border-color: $black;
  }
}

.input-field {
  color: $grey;
}
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

// for form country

::placeholder {
  color: $grey;
  font-family: "Noto Sans";
  text-transform: capitalize;
}
input,
textarea {
  font-family: "Noto Sans";
  font-weight: 500;
}
input::-webkit-input-placeholder {
  color: $grey;
}
input:-moz-placeholder {
  color: $grey;
}

// Day Theme style

@media (max-width: 1780px) {
  .container {
    max-width: 1520px;
  }
  h1 {
    font-size: 34px;
    line-height: 45px;
  }
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1380px;
  }
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
    line-height: 45px;
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .padding-b-150 {
    padding-bottom: 100px;
  }
  .padding-t-150 {
    padding-top: 100px;
  }
  .padding-t-120 {
    padding-top: 100px;
  }
  .padding-b-120 {
    padding-bottom: 100px;
  }
  .margin-t-100 {
    margin-top: 70px;
  }
  .margin-t-80 {
    margin-top: 60px;
  }
  .padding-t-70 {
    padding-top: 50px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1260px;
  }
  .margin-t-50 {
    margin-top: 30px;
  }

  .padding-b-100 {
    padding-bottom: 80px;
  }
  .margin-t-70 {
    margin-top: 50px;
  }

  .head-txt p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
  .padding-b-70 {
    padding-bottom: 30px;
  }
  .padding-t-100 {
    padding-top: 80px;
  }

  .padding-t-80 {
    padding-top: 60px;
  }

  .padding-b-80 {
    padding-bottom: 60px;
  }
}

@media (max-width: 1320px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 35px;
  }
  .container {
    max-width: 1160px;
  }
  .padding-t-120 {
    padding-top: 80px;
  }
  .padding-b-120 {
    padding-bottom: 80px;
  }
}

@media (max-width: 1024px) {
  .padding-t-150 {
    padding-top: 80px;
  }

  .padding-b-150 {
    padding-bottom: 80px;
  }
  .padding-t-120 {
    padding-top: 70px;
  }
  .padding-b-120 {
    padding-bottom: 70px;
  }
}

@media (max-width: 979px) {
  .padding-t-150 {
    padding-top: 60px;
  }
  .padding-b-150 {
    padding-bottom: 60px;
  }
  .padding-t-70 {
    padding-top: 50px;
  }
  .padding-b-70 {
    padding-bottom: 50px;
  }
  .margin-t-100,
  .margin-t-80,
  .margin-t-70,
  .margin-t-60 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
  }
  ::placeholder,
  input,
  textarea {
    font-family: sans-serif;
  }

  .padding-b-150 {
    padding-bottom: 50px;
  }
  .padding-t-150 {
    padding-top: 50px;
  }
  .padding-t-120 {
    padding-top: 50px;
  }
  .padding-b-120 {
    padding-bottom: 50px;
  }

  .padding-t-100 {
    padding-top: 50px;
  }

  .padding-b-100 {
    padding-bottom: 50px;
  }

  .padding-t-70 {
    padding-top: 40px;
  }

  .margin-t-100,
  .margin-t-80,
  .margin-t-70,
  .margin-t-60 {
    margin-top: 30px;
  }

  h1 {
    font-size: 26px;
    line-height: 35px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .btn {
    padding: 8px 20px;
    font-size: 14px;
  }
  .head-txt p {
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0 0;
  }
  .flex-2 {
    flex-basis: 100%;
    &:first-child {
      padding-right: 0;
    }
  }

  .flex-5 {
    flex-basis: 33.33%;
  }
  .flex-3 {
    flex-basis: 100%;
  }
  .flex-4 {
    flex-basis: 100%;
  }
  .flex-5 {
    flex-basis: 100%;
  }
}

@media (max-width: 373px) {
  .btn {
    padding: 5px 15px;
    font-size: 12px;
  }
}
