header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.main-header {
  position: fixed;
  width: 100%;
  background: transparent;
  padding: 18px 0;
  .header-item-left {
    .logo-a {
      display: block;
    }
    .logo-b {
      display: none;
    }
    img{display: block;}
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-item-right {
      ul {
        li {
          list-style: none;
          display: inline-block;
          margin: 0 20px;
          a {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            &:hover {
              color: $dark-blue;
            }
          }

          &.bookdemo {
            margin-right: 10px;
            a {
              color: $dark-blue;
              background: $white;
              background: $white;
              font-weight: 500;
              &:hover {
                background-color: $black;
                border-color: $black;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.bg {
    background: $bglight;
    .header-item-left {
      .logo-a {
        display: none;
      }
      .logo-b {
        display: block;
      }
    }

    .top-nav {
      .header-item-right {
        ul {
          li {
            a {
              color: $dark-blue;
              &:hover {
                color: $blue;
              }
            }
            &.bookdemo {
              a {
                color: $dark-blue;
                &:hover {
                  color: $white;
                }
              }
            }
          }
        }
        
      }
    }
  }
}

@media (max-width: 1440px) {
  .main-header {
    .top-nav {
      .header-item-right {
        ul {
          li {
            margin: 0 15px;

            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .header-item-left img {
    width: 190px;
  }
}

@media (max-width: 1160px) {
  .main-header {
    padding: 15px 0;

    .top-nav {
      .header-item-right {
        ul {
          li {
            margin: 0 12px;
            a {
              font-size: 14px;
            }

            .btn {
              padding: 9px 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .main-header {
    .top-nav {
      .header-item-right {
        ul {
          li {
            a {
              display: none;
            }

            &.bookdemo {
              a {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-header {
    .top-nav {
      .header-item-left img {
        width: 180px;
      }
      .header-item-right {
        ul {
          li {
            margin: 0;
            a {
              font-size: 11px;
            }

            .btn {
              padding:10px 10px;
              line-height: initial;
            }

            &.bookdemo {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
  
}

@media (max-width: 373px) {
  .main-header {
    .top-nav {
      .header-item-right {
        ul {
          li {
            a {
              font-size: 10px;
            }

            .btn {
              padding: 3px 4px;
            }
          }
        }
      }
    }
  }
}
