@import "_default";
@import "_header-ver6";
@import "glider";
@import "form-county";
@import "form-section";
@import "popup-form";
@import "_banner-form";
@import "_feature-section";
@import "_version6.2banner";

.slide-item {
  display: none;
}
.slide-item.glider-slide {
  display: block;
}
/*Banner Section Css Start Form here*/
.banner-section {
  background: linear-gradient(90.04deg, #4d3bc2 0.04%, #6754e2 111.58%);
  
  padding: 140px 0 80px;
  position: relative;
  display: flex;
  align-items: center;
  .yellow-btn {
    display: none;
  }
  .two-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .flex-2 {
      flex-basis: 40%;
      &.image-sec {
        flex-basis: 60%;
        text-align: right;
      }
    }
  }
  h1 {
    color: $white;
    .blue {
      color: #75e8f0;
    }
  }
  p {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    margin-bottom: 5px;
  }
  ul {
    margin-top: 20px;
    list-style-type: none;
    li {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $white;
      margin: 0 0 10px;
      padding-left: 30px;
      position: relative;
      &:last-child {
        margin: 0;
      }
      &::before {
        content: "";
        clear: both;
        display: block;
        background: url(../images/green-circle.svg) top center no-repeat;
        background-size: 100%;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
  .btn {
    min-width: 380px;
    background: $white;
    margin: 40px 0 0;
    color: $dark-blue;
    font-weight: 500;
    &:hover {
      background: $dark-blue;
      color: $white;
    }
  }
  .iti__country-list {
    li {
      &:before {
        display: none !important;
      }
    }
  }
}

.badge-wrap {
  margin: 25px 0 0;
  &.desktop {
    display: block;
  }
  &.mobile {
    display: none;
  }
  h3 {
    color: $white;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      width: 37px;
      height: 1px;
      background: #fff;
      margin-left: 15px;
      display: inline-block;
    }
  }
  .badges {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [5];
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    position: relative;
    margin: 5px 0 0;

    .col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;

      .badgebar {
        width: 100%;
        font-weight: 500;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        picture {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        i {
          width: 78px;
          height: 13px;
          display: block;
          margin: 5px auto 0;
          background: url(../images/star-rating04.png) no-repeat;
        }
        .icon1 {
          background: url(../images/star-rating.png) no-repeat;
        }
        .icon2 {
          background: url(../images/star-rating02.png) no-repeat;
        }
        .icon3 {
          background: url(../images/star-rating03.png) no-repeat;
        }
      }
    }
  }
}

.banner-div {
  padding: 140px 0 200px;
}
.banner-img {
  width: 100%;
  text-align: center;
  margin-top: -140px;
  margin-bottom:70px;
}
/*Banner Section Css End here*/
/*Trusted Companies Section Css start from here*/
.trusted-comp {
  h3 {
    color: #9e9daa;
    font-size: 18px;
    .black {
      color: #3b3b3f;
    }
  }
  .dis-flex {
    justify-content: center;
    padding: 35px 0 0;
    .flex-4 {
      flex-basis: 20%;
      text-align: center;
      .comp-logo {
        display: flex;
        height: 62px;
        align-items: center;
        justify-content: center;
      }
      p {
        font-size: 14px;
        color: $black;
        strong {
          font-weight: 600;
        }
      }
      .rating-star {
        display: block;
        margin: 0 auto;
        width: 111px;
        height: 17px;
        background: url(../images/rating-01.svg) 0 0 no-repeat;
      }
      &:nth-child(2) .rating-star {
        background: url(../images/rating-02.svg) 0 0 no-repeat;
      }
      &:nth-child(3) .rating-star {
        background: url(../images/rating-03.svg) 0 0 no-repeat;
      }
      &:nth-child(4) .rating-star {
        background: url(../images/rating-04.svg) 0 0 no-repeat;
      }
    }
  }
}
/*Trusted Companies Section Css end  here*/
/*Counter Section Start From Here*/
.count-box-section {
  padding: 0 20px;
  .container {
    padding: 40px 0;
    border-radius: 20px;
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
    color: #253053;
  }
  .count-box-outer {
  }
  .count-box-big {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #253053;
    display: block;
  }
  .count-box-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #253053;
    display: block;
  }
  .count-box {
    position: relative;
    text-align: center;
    border-right: 1px solid #dfdfdf;
    &:last-child {
      border-right: 0;
    }
  }
}
/*Counter Section E Here*/
/*Customer Reviews Section Start From Here*/
.customer-testimonial-section {
  .customer-testimonial-slider {
    margin-top: 40px;
    .glider-dots {
      margin-top: 20px;
      .glider-dot {
        width: 14px;
        height: 14px;
        color: #d9d9d9;
        margin: 5px;
        &.active {
          background: #253053;
        }
      }
    }
  }
  .content-box-outer {
    height: 100%;
    transition: all 0.3s ease-in-out;
    background: #f8faff;
    border: 1px solid rgba(237, 241, 255, 0.28);
    border-radius: 20px;
    position: relative;
  }
  .glider-slide {
    margin: 30px 15px;
    &:nth-child(2n) p:before {
      background: url(../images/slide-star-02.svg) 0 0 no-repeat;
    }
  }
  .content-box {
    position: relative;
    padding: 60px 50px 0;
    p {
      font-size: 14px;
      line-height: 24px;
      color: #333030;
      padding-top: 30px;
      position: relative;
      min-height: 222px;
      &::before {
        content: "";
        clear: both;
        display: block;
        width: 110px;
        height: 18px;
        background: url(../images/slide-star-01.svg) 0 0 no-repeat;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .cust-img-box {
    position: relative;
    padding: 20px 50px 30px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .profile {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
  .profile-text {
    width: calc(100% - 48px);
  }
  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333030;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    color: #737b7d;
  }
}
.ctasec {
  .btn {
    min-width: 215px;
    margin-top: 30px;
  }
}
/*Customer Reviews Section Ends  Here*/
/*Learn About the App Start From Here*/
.learn-app {
  .prod-tabs {
    #tabs {
      list-style-type: none;
      width: 90%;
      margin: 0 auto;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: rgba(195, 191, 254, 0.15);
        border-radius: 55px;
        li {
          flex-basis: 20%;
          display: inline-block;
          margin: 0;
          padding: 0;
          margin: 0;
          a {
            display: flex;
            height: 100%;
            padding: 20px 12px;
            margin: 0 5px 0 0;
            color: #282a30;
            border-radius: 55px;
            position: relative;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: 500;
            .icon {
              margin-right: 8px;
              margin-top: -1px;
            }
          }
          &:last-child a {
            margin-right: 0;
          }
          &:hover a,
          &.active a {
            background: #ffffff;
          }
        }
      }
    }
    #tab-contents {
      .tab-contents {
        padding: 10px;
        display: none;
        .dis-flex {
          align-items: center;
          .content-box {
            padding-left: 20px;
            h3 {
              color: #0e0b3d;
              margin: 0 0 10px;
            }
          }
          p {
            line-height: 27px;
            margin: 0 0 10px;
            font-weight: 400;
          }
          ul {
            margin-top: 15px;
            li {
              margin: 0 0 10px;
              color: #4a4c55;
              list-style-position: inside;
            }
          }
          &:hover {
            background: none;
          }
        }
        &.active {
          display: block;
        }
      }
    }
  }
}
/*Learn About the App Ends Here*/
/*How WorkStatus May Help Start From Here*/
.ws-help {
  background: #201f3a;
  h2,
  p {
    color: $white;
  }
  .help-row {
    .help-col {
      padding: 0 20px 20px 0;
      &:nth-child(3n) {
        padding-right: 0;
      }
      .box {
        background: #1a1936;
        border-radius: 20px;
        padding: 50px;
        h3 {
          font-weight: 500;
        }
        h3,
        p {
          color: $white;
          margin: 20px 0 0;
        }
        img {
          display: block;
        }
        ul {
          margin: 10px 0 0;
          li {
            margin: 10px 0 0;
            color: $white;
            color: #fff;
            margin: 0 0 10px;
            padding-left: 30px;
            position: relative;
            list-style: none;
            &:before {
              content: "";
              clear: both;
              display: block;
              background: url(../images/white-check.svg) top center no-repeat;
              background-size: 100%;
              width: 16px;
              height: 16px;
              position: absolute;
              top: 5px;
              left: 0;
            }
          }
        }
      }
    }
  }
}
/*How WorkStatus May Help Ends Here*/
/*Pricing Tabs Start From Here*/
.pricing-tabs {
  #pricetabs {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    ul {
      margin: 0;
      border: 1px solid #6754e2;
      border-radius: 40px;
      padding: 2px;
      margin: 5px 0 10px;
    }
    li {
      display: inline-block;
      a {
        display: block;
        height: 100%;
        min-width: 146px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 21px;
        color: #252f54;
        line-height: 37px;
        border-radius: 40px;
        text-align: center;
        position: relative;
        text-decoration: none;
      }
      &.active a {
        color: #fff;
        background-color: #6754e2;
      }
    }
  }
  #pricing-contents {
    .pricing-contents {
      display: none;
      &.active {
        display: block;
      }
    }
    h5 {
      text-align: center;
      color: #5e6373;
      font-size: 21px;
      margin: 20px 0 0;
    }
    strong {
      color: #6754e2;
      font-weight: 600;
    }
    .price-cards {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .column {
        width: 450px;
        background: #6754e2;
        border: 1px solid #f3f1ff;
        border-radius: 15px;
        padding: 50px 30px;
        margin: 40px 20px 0;
        position: relative;
        .toptext {
          text-align: center;
          border-bottom: 1px solid rgba(236, 236, 236, 0.23);
          padding: 0 0 20px;
        }
        h3 {
          color: $white;
          margin: 0 0 10px;
        }
        p {
          color: $white;
          font-size: 14px;
          line-height: 140%;
          margin: 0 0 10px;
        }
        .amount {
          color: $white;
          font-weight: 600;
          font-size: 42px;
          line-height: 58px;
          strong {
            color: $white;
          }
          &.hidden {
            opacity: 0;
            visibility: hidden;
          }
        }
        small {
          font-size: 14px;
          font-weight: 600;
          margin: 5px 0 0;
          display: block;
          color: $white;
        }
        .price_btn {
          border: 1px solid #fff;
          background: #ffffff;
          border-radius: 6px;
          color: #6754e2;
          display: block;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          padding: 20px 20px;
          margin-top: 40px;
          text-decoration: none;
          &:hover {
            background-color: $black;
            border-color: $black;
            color: #fff;
          }
        }
        .bottomtext {
          padding: 25px 10px 0;
          h4 {
            color: $white;
            font-weight: 600;
          }
          ul {
            margin: 20px 0 0;
            li {
              list-style: none;
              color: $white;
              margin: 0 0 15px;
              padding-left: 22px;
              position: relative;
              &:before {
                content: "";
                display: block;
                background: url(../images/checko1-pricing.svg) top center
                  no-repeat;
                background-size: 100%;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 4px;
                left: 0;
              }
              &.icon-cross {
              &:before {
                background: url(../images/cross-pricing.svg) top center
                  no-repeat;
              }
            }
            }
          }
          
        }
        &:first-child {
          &:before {
            content: "";
            background: url(../images/band.png) no-repeat;
            background-size: 100%;
            position: absolute;
            width: 73px;
            height: 73px;
            right: -5px;
            top: -7px;
          }
        }
        &:nth-child(2) {
          position: relative;
          background: linear-gradient(
            90deg,
            rgba(237, 241, 255, 1) 28%,
            rgba(247, 252, 255, 1) 100%
          );
          h3 {
            color: #2f3a5e;
          }
          p {
            color: #333030;
            min-height: 84px;
          }
          .amount {
            color: #fff;
            strong {
              color: #252f54;
              line-height: 130%;
            }
          }
          small {
            color: #252f54;
          }
          p.text_small {
            color: #252f54;
          }
          .price_btn {
            background-color: transparent;
            border-color: #6754e2;
            color: #6754e2;
            &:hover {
              background-color: $black;
              border-color: $black;
              color: #fff;
            }
          }
          .toptext {
            border-bottom: 1px solid #ececec;
          }
          .bottomtext {
            h4 {
              color: #252f54;
            }
            ul {
              li {
                color: #4a4c55;
                &:before {
                  background: url(../images/checko2-pricing.svg) top center
                    no-repeat;
                }
              }
            }
            .f-cross {
              ul {
                margin: 0;
              }
              li {
                &:before {
                  background: url(../images/cross-icon.png) top center no-repeat;
                }
              }
            }
          }
        }
      }
    }
  }
}
#pre-loader {
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  padding: 220px 0 120px;
}
/*Pricing Tabs Ends Here*/
/*Supported Device Start From Here*/
.supported-device {
  .dis-flex {
    .flex-2 {
      h4 {
        color: #0e0b3d;
        position: relative;
        padding: 0 0 8px;
        &:after {
          content: "";
          width: 25px;
          height: 4px;
          position: absolute;
          background: #624de3;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 2px;
        }
      }
      .flex-4 {margin:0 0 10px;
        .device-img {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          font-size: 16px;
          color: #282a30;
          margin: 10px 0 0;
        }
      }
      .flex-6{flex-basis:16.66%; margin:0 0 10px;
        .device-img {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          font-size: 16px;
          color: #282a30;
          margin: 10px 0 0;
        }
      }
    }
  }
}
/*Supported Device Ends Here*/

/*Footer Form Non demo Form*/
.demo-footer-form {
  background: linear-gradient(to left, #fff 50%, #6754e2 50%);
  .popup-wrapper {
    display: block;
    position: initial;
  }
  .popup-content {
    border-radius: 0;
    width: 100%;
    .left-section {
      background: #6754e2;
      padding: 80px 100px 50px 0;
      .performer-box {
        background: #5141b6;
      }
      .badges {
        .col {
          background: #5141b6;
        }
      }
    }
    .right-section {
      padding: 80px 0 50px 50px;
    }
    .btn {
      background: #6754e2;
      cursor: pointer;
      min-width: 384px;
      width: auto;
    }
  }
}
/*Footer Non demo form ends here*/
/*Footer Start Here*/
.footer-sec {
  .footer-top {
    padding: 20px 0;
    background: #201f3a;
    .dis-flex {
      align-items: center;
      .flex-4 {
        text-align: left;
        padding: 0 35px;
        border-right: 1px solid rgba(255, 255, 255, 0.09);
        &:nth-child(2) {
          flex-basis: 40%;
        }
        &:first-child {
          flex-basis: 10%;
          padding-left: 0;
          border-right: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right: 0;
        }
        p {
          font-size: 14px;
          color: rgba(240, 240, 240, 0.5);
          line-height: 26px;
        }
      }
    }
  }
  .footer-bottom {
    color: #282a30;
    padding: 8px 0;
    background: #f5f5f5;
    font-size: 14px;
  }
}
/*Footer Ends Here*/
// Media Query Start From Here
@media (max-width: 1780px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
  .banner-section {
    padding: 120px 0 40px;
    p {
      font-size: 17px;
      line-height: 26px;
    }
    ul {
      margin-top: 15px;
      li {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 8px;
        padding-left: 20px;
        &:before {
          background-size: 100%;
          width: 10px;
          height: 9px;
        }
      }
    }
  }
  .banner-div {
    padding: 120px 0 160px;
  }
  .banner-img {
    margin-top: -120px;
  }
  .count-box-section {
    .count-box-big {
      font-size: 35px;
    }
    .count-box-small {
      font-size: 14px;
      line-height: 26px;
    }
  }
  .customer-testimonial-section {
    .glider-slide {
      margin: 15px 10px;
    }
    .content-box {
      padding: 50px 40px 0;
      p {
        min-height: 250px;
      }
    }
    .cust-img-box {
      padding: 20px 40px 30px;
    }
  }
  .learn-app {
    .prod-tabs {
      #tabs {
        width: 100%;
        ul {
          li {
            a {
              padding: 15px 10px;
              font-size: 14px;
            }
          }
        }
      }
      #tab-contents {
        .tab-contents {
          .dis-flex {
            p {
              line-height: 26px;
            }
          }
        }
      }
    }
  }
  .footer-sec {
    .footer-top {
      .dis-flex {
        .flex-4 {
          p {
            font-size: 12px;
            line-height: 22px;
          }
        }
      }
    }
    .footer-bottom {
      font-size: 13px;
    }
  }
}
@media (max-width: 1280px) {
  .demo-footer-form {
    .popup-content {
      background: #fff;
      overflow-y: hidden;
      .left-section {
        background: #6754e2;
        padding: 40px 60px 50px 0;
      }
      .right-section {
        padding: 40px 0 40px 30px;
      }
    }
  }
}
@media (max-width: 1160px) {
  .banner-section {
    .two-box {
      .flex-2 {
        flex-basis: 50%;
        &.image-sec {
          flex-basis: 50%;
        }
      }
    }
  }
  .pricing-tabs {
    #pricing-contents {
      .price-cards {
        .column {
          width: 45%;
          padding: 20px 25px 40px;
          .toptext {
            padding: 0 0 20px;
          }
          .bottomtext {
            padding: 20px 0 0;
          }
          .amount {
            font-size: 30px;
            line-height: 40px;
          }
          &:nth-child(2) {
            p {
              min-height: 68px;
            }
          }
        }
      }
    }
  }

  .ws-help {
    .help-row {
      .help-col {
        padding: 0 15px 15px 0;
        .box {
          border-radius: 15px;
          padding: 30px 20px;
        }
      }
    }
  }
  .demo-footer-form {
    background: #fff;
    .popup-content {
      .right-section {
        padding: 40px 0;
        overflow: hidden;
      }
    }
  }
  .footer-sec {
    .footer-top {
      .dis-flex {
        .flex-4 {
          padding: 0 20px;
          p {
            font-size: 12px;
            line-height: 22px;
          }
        }
      }
    }
    .footer-bottom {
      font-size: 12px;
    }
  }
  .ctasec {
    .btn {
      margin: 30px 0 0;
    }
  }
}
@media (max-width: 1024px) {
  .customer-testimonial-section {
    .content-box {
      p {
        min-height: 300px;
      }
    }
  }
  .learn-app {
    .prod-tabs {
      #tabs {
        ul {
          li {
            a {
              padding: 12px 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 979px) {
  .banner-section {
    .two-box {
      .flex-2 {
        flex-basis: 100%;
        &.image-sec {
          flex-basis: 100%;
          text-align: center;
          margin: 30px 0 0;
        }
      }
    }
  }
  .customer-testimonial-section {
    .content-box {
      p {
        min-height: 190px;
      }
    }
  }
  .count-box-section {
    .flex-4 {
      flex-basis: 50%;
      margin: 20px 0 0;
    }
  }
  .learn-app {
    .prod-tabs {
      #tabs {
        ul {
          background: none;
          border-radius: none;
          li {
            background: rgba(195, 191, 254, 0.15);
            flex-basis: 25%;
            border-radius: 55px;
            margin: 0 5px 10px 0;
            a {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .ws-help {
    .help-row {
      .help-col {
        flex-basis: 50%;
        &:nth-child(3n) {
          padding-right: 15px;
        }
        &:nth-child(2n) {
          padding-right: 0;
        }
        .box {
          border-radius: 15px;
          padding: 30px 20px;
        }
      }
    }
  }
  .pricing-tabs {
    #pricing-contents {
      .price-cards {
        .column {
          padding: 20px 25px 40px;
          margin: 20px 10px 0;
        }
      }
    }
  }
  .footer-sec {
    .footer-top {
      .dis-flex {
        .flex-4 {
          text-align: center;
          padding: 0;
          margin: 15px 0 0;
          flex-basis: 100%;
          border-right: 0;
          &:nth-child(2) {
            flex-basis: 100%;
          }
          &:first-child {
            flex-basis: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .banner-section {
    padding: 90px 0 40px;
    p {
      font-size: 15px;
      line-height: 24px;
    }
    ul {
      li {
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
  .banner-img {
    display: none;
  }
  .badge-wrap {
    margin: 20x 0 0;
    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
    h3 {
      font-size: 12px;

      &:after {
        content: "";
        width: 20px;
        margin-left: 10px;
      }
    }
    .badges {
      -ms-grid-columns: 1fr [3];
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  }
  .trusted-comp {
    .dis-flex {
      padding: 0;
      .flex-4 {
        flex-basis: 50%;
        padding: 0 10px;
        margin: 25px 0 0;
        .comp-logo {
          height: 50px;
        }
      }
    }
  }
  .count-box-section {
    background: $bglight;
    padding: 40px 0;
    .container {
      padding: 0;
    }
    .margin-t-70 {
      margin-top: 20px;
    }
    h3 {
      font-size: 18px;
    }
    .count-box {
      padding: 10px;
      &:nth-child(2n) {
        border-right: 0;
      }
    }
    .count-box-big {
      font-size: 26px;
    }
    .count-box-small {
      font-size: 13px;
      line-height: 26px;
    }
  }
  .customer-testimonial-section {
    .customer-testimonial-slider {
      margin-top: 20px;
      .glider-dots {
        margin-top: 10px;
        .glider-dot {
          width: 10px;
          height: 10px;
          margin: 3px;
        }
      }
    }
    .glider-slide {
      margin: 15px 0;
    }
    .content-box {
      padding: 35px 30px 0;
      text-align: center;
      p {
        min-height: initial;
        &:before {
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
    .cust-img-box {
      padding: 20px 30px 30px;
    }
    .cust-img-box {
      display: flex;
      justify-content: center;
    }
    .profile-text {
      width: auto;
    }
    .ctasec {
      .btn {
        min-width: auto;
      }
      .devide {
        padding: 0 10px;
        &:before {
          content: "";
          left: 20px;
        }
        &:after {
          content: "";
          left: 20px;
        }
      }
    }
  }
  .learn-app {
    .prod-tabs {
      display: flex;
      #tabs {
        flex-basis: 28%;
        ul {
          li {
            flex-basis: 100%;
            border-radius: 8px;
            a {
              flex-wrap: wrap;
              text-align: center;
              border-radius: 8px;
              line-height: 16px;
              .icon {
                display: block;
                margin: 0 auto 5px;
              }
            }
          }
        }
      }
      #tab-contents {
        margin: 0;
        flex-basis: 72%;
        .tab-contents {
          padding: 0;
          display: none;
          .dis-flex {
            align-items: center;
            .flex-2:first-child {
              order: 2;
            }
            .content-box {
              order: 1;
              padding-left: 20px;
              margin: 0 0 20px;
            }
            p {
              line-height: 22px;
            }
          }
        }
      }
    }
  }
  .ws-help {
    .help-row {
      .help-col {
        flex-basis: 100%;
        padding: 0 0 20px;
        &:nth-child(3n) {
          padding-right: 0;
        }
        &:nth-child(2n) {
          padding-right: 0;
        }
        .box {
          padding: 30px 30px;
        }
      }
    }
  }
  .pricing-tabs {
    #pricetabs {
      li {
        a {
          font-size: 16px;
          min-width: auto;
          padding: 7px 20px;
          line-height: initial;
        }
      }
    }
    #pricing-contents {
      h5 {
        font-size: 16px;
      }
      .price-cards {
        .column {
          width: 100%;
          padding: 20px 30px 30px;
          margin: 0 0 20px;
          .toptext {
            br {
              display: none;
            }
          }
          .bottomtext {
            padding: 20px 0 0;
            ul {
              margin: 15px 0 0;
              li {
                margin: 0 0 10px;
                font-size: 13px;
                &:before {
                  top: 7px;
                }
              }
            }
          }
          &:first-child {
            .price_btn {
              margin-top: 22px;
            }
          }
          &:nth-child(2) {
            transform: none;
            .price_btn {
              padding: 15px;
              margin-top: 22px;
            }
          }
          &:nth-child(3n) {
            margin: 0;
          }
        }
      }
    }
  }
  .supported-device {
    .dis-flex {
      .flex-2 {
        margin: 30px 0 0;
        &:first-child {
          margin: 0;
        }
        .dis-flex {
          margin: 0;
        }
        .flex-4 {
          flex-basis: 48%;
          margin: 25px 0 0;
        }
        .flex-6{flex-basis:33.33%; margin: 25px 0 0;
        }
      }
    }
  }

  .demo-footer-form {
    .popup-content {
      .btn {
        min-width: 200px;
      }
    }
  }
  .ctasec {
    .btn {
      margin: 20px 0 0;
    }
  }
}
@media (max-width: 479px) {
  .demo-footer-form {
    .popup-wrapper {
      .popup-content {
        padding: 0;
        .right-section {
          padding: 40px 0 20px;
        }
      }
    }
  }
}
