.banner-form .form-wrap .width-full,
.error,
.errors {
    text-align: left;
    width: 100%
}

a:-webkit-any-link:focus-visible {
    outline-offset: 1px
}

:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px
}

.select-cat .error {
    width: auto !important
}

.banner-form,
.banner-form .form-group-d .form-group {
    width: 100%
}

.banner-form .popup-wrapper {
    z-index: 999999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6)
}

.banner-form .popWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.banner-form .popup-content {
    background-color: #fefefe;
    padding: 40px 40px 30px;
    height: initial;
    width: 45%;
    position: relative
}

.banner-form .popup-content .top-section {
    margin: 0 0 40px;
    padding: 0
}

.banner-form .popup-content .top-section h2 {
    font-size: 32px;
    line-height: 39px;
    font-weight: 500;
    text-align: center
}

.banner-form .popup-content .purple {
    color: #6754e2
}

.banner-form .popup-content p {
    color: #737b7d;
    font-size: 18px;
    letter-spacing: 0
}

.banner-form .popup-content .padd {
    font-size: 13px;
    margin: 0 0 5px;
    padding: 0 10px
}

.banner-form .popup-content .padd .mcheck {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 0
}

.banner-form .popup-content .padd input[type=checkbox]:checked {
    background-color: #643bdf
}

.banner-form .popup-content .padd p {
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    margin: 0
}

.banner-form .form-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.banner-form .form-wrap .form-group {
    width: 50%;
    padding: 0 10px;
    margin: 0 0 20px
}

.banner-form .form-wrap label {
    font-size: 14px;
    margin: 0 0 12px;
    display: block;
    color: #110302;
    line-height: 1
}

.banner-form .form-wrap .form-group-d {
    width: 48%;
    margin: 0
}

.banner-form .form-wrap input {
    width: 100%;
    border: 1px solid #bae;
    border-radius: 5px;
    padding: 0 18px;
    height: 50px;
    color: #110302;
    font-size: 14px;
    font-family: noto sans, sans-serif;
    font-weight: 500;
    background: #fff;
    margin-bottom: 0 !important;
    letter-spacing: 0 !important
}

.banner-form .form-wrap input::-webkit-input-placeholder {
    color: #110302
}

.banner-form .btn {
    border: 0;
    min-width: 210px;
    background: #643bdf;
    font-family: noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 8px;
    color: #fff;
    height: 52px;
    display: block;
    cursor: pointer;
    border-radius: 0 !important
}

.banner-form .btn:focus,
.banner-form .btn:hover,
.wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn:hover {
    background: #333
}

.banner-form .phone-wrap,
.banner-form .select-box .arrow-btn,
.banner-form .select-list,
.form-group .user-input {
    position: relative
}

.banner-form .phone-wrap .field {
    width: 65px;
    height: auto;
    font-size: 13px;
    left: 15px;
    position: absolute;
    color: #737b7d;
    z-index: 99;
    border: 0;
    background: url(images/angle-down.png) top 7px right 16px no-repeat;
    top: 20px;
    font-family: Muli, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0
}

.banner-form .phone-wrap .field option {
    min-width: 500px;
    border-radius: 0;
    padding: 5px;
    background-color: #fff;
    line-height: 25px
}

.banner-form .phone-wrap input#cont_phpne {
    padding: 3px 15px 0 90px
}

.banner-form .phone-wrap:before {
    content: "";
    height: 35px;
    width: 1px;
    position: absolute;
    top: 10px;
    left: 78px;
    background: #bab9b9
}

.banner-form textarea.input-field {
    width: 100%;
    border: 1px solid #bae;
    border-radius: 5px;
    padding: 18px;
    color: #110302;
    font-size: 14px;
    font-family: noto sans, sans-serif;
    font-weight: 500;
    height: 117px;
    resize: none;
    background: #fff;
    margin: 0 !important
}

textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: rgba(55, 54, 88, .5)
}

.form-group.ws-error .input-field,
.form-group.ws-error input,
.iti.ws-error input,
.select-box.ws-error,
.ws-error #team-size,
.ws-error input#cont_phpne {
    border-color: red
}

.error,
.errors {
    display: block;
    margin: 8px 0 0;
    color: red;
    font-size: 13px
}

.banner-form .select-box .error {
    position: absolute;
    bottom: -25px;
    left: 0
}

.error {
    color: Red
}

.banner-form .select-list ul.open-close,
.invalid+.error {
    display: block
}

.captForm,
.captForm .form-group {
    display: flex
}

.invalid {
    border: 1px solid red !important
}

.invalid.field {
    height: 30%
}

.closeicon {
    background: url("images/cross-black.png") 0 0/100% no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 17px;
    border-radius: 100%;
    cursor: pointer
}

.closeicon:hover {
    opacity: .8
}

.captForm {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0
}

.captForm .quizQ {
    background: url(images/line-image.png) top 8px left 15px no-repeat;
    border: 1px dashed #bae;
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 4px;
    width: 210px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .5px
}

.captForm .quizQ #j-quiz {
    width: 70%;
    display: block;
    text-align: center;
    word-spacing: 8px;
    color: #4a4c55
}

.captForm .quizQ .refreshbtn {
    background: url(images/refresh-button.png) no-repeat;
    width: 24px;
    height: 20px;
    margin-right: 14px;
    position: absolute;
    top: 16px;
    right: 0;
    padding-left: 20px;
    cursor: pointer;
    transition: .5s
}

.captForm .quizQ .refreshbtn:active {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    opacity: .8
}

.captForm .quizQ:after {
    content: "";
    width: 1px;
    height: 32px;
    position: absolute;
    background: #bab9b9;
    top: 10px;
    right: 52px;
    margin: 0 auto
}

.banner-form .hold-on,
.banner-form .hold-on:hover {
    background: #efefef;
    color: #000
}

.captForm .quizAns {
    width: 70px;
    margin-left: 50px;
    position: relative
}

.captForm .quizAns input {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .5px;
    color: #000;
    font-family: noto sans, sans-serif
}

.captForm .quizAns ::-webkit-input-placeholder {
    color: #000
}

.captForm .quizAns:before {
    content: "=";
    position: absolute;
    font-size: 20px;
    top: 14px;
    left: -59px;
    width: 100%;
    text-align: center;
    margin: 0 auto
}

.captForm input {
    position: relative;
    z-index: 99999;
    text-align: center
}

#captchaerror {
    width: 100px
}

.banner-form .hold-on:hover {
    cursor: wait
}

.banner-form .justify {
    justify-content: end
}

.captForm input::-webkit-input-placeholder {
    color: #737b7d
}

.captForm ::-moz-placeholder {
    color: #737b7d
}

.form-group #team-size::-moz-placeholder {
    color: #737b7d
}

.form-group #team-size {
    width: 100%;
    position: relative;
    border: 1px solid #bae;
    border-radius: 3px;
    background-image: url(images/angle-down.png);
    background-repeat: no-repeat;
    background-position: center right 15px;
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    color: #737b7d;
    font-size: 13px;
    font-family: noto sans, sans-serif;
    background-color: #fff
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 0 !important
}

.requestform .form-group label {
    z-index: 9999 !important
}

input::-webkit-input-placeholder {
    color: rgba(55, 54, 88, .5) !important
}

[placeholder],
input[placeholder] {
    color: rgba(55, 54, 88, .5)
}

.banner-form .select-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    border: 1px solid #bae;
    border-radius: 5px;
    padding: 16px 18px;
    height: 50px;
    color: #110302;
    font-size: 14px;
    font-family: noto sans, sans-serif
}

.banner-form .select-box.active a {
    opacity: 1
}

.banner-form .select-box .select-first {
    opacity: .4;
    text-decoration: none;
    color: #110302;
    text-transform: capitalize;
    font-family: noto sans, sans-serif
}

.banner-form .select-box .arrow-btn::after {
    content: "";
    clear: both;
    display: block;
    background: url(images/angle-down.png) right center no-repeat;
    width: 13px;
    height: 7px;
    position: absolute;
    top: 6px;
    right: 0
}

.select-box .arrow-btn.rotate::after {
    transform: rotate(180deg)
}

.banner-form .select-box.input-field.verror {
    border-color: #e74c3c
}

.banner-form .select-box small {
    position: absolute;
    bottom: -20px;
    left: 0
}

.banner-form .select-list ul {
    list-style-type: none;
    background: #fff;
    box-shadow: 0 13px 25px rgba(103, 84, 226, .2);
    border-radius: 0 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    display: none;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: scroll
}

.banner-form .select-list ul li {
    padding: 7px 18px;
    color: #373658;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    transition: .3s ease-in-out;
    text-transform: capitalize;
    font-family: noto sans, sans-serif
}

.banner-form .select-list ul li.active,
.banner-form .select-list ul li:hover {
    background-color: #8e6afa;
    color: #fff;
    opacity: 1;
    font-weight: 500
}

.banner-form .select-list ul em {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: lowercase
}

.banner-form .select-list ul em:hover~.info {
    opacity: 1;
    visibility: visible
}

.note {
    display: block;
    font-size: 10px;
    color: #110302;
    font-weight: 500
}

.form-group .user-input .pcode-prefix {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    width: 100px;
    background: 0 0;
    padding-left: 45px;
    color: #000;
    z-index: 9
}

.iti__arrow,
.iti__arrow--up {
    margin-left: 45px !important
}

.iti__flag-container {
    height: 50px
}

.iti__selected-flag {
    width: 105px !important
}

.banner-form .form-wrap input#cont_phpne {
    padding: 18px 18px 18px 115px;
    position: absolute;
    top: 0
}

li.iti__country {
    z-index: 9999
}

.flg-container {
    z-index: -9;
    pointer-events: none
}

#phone-error {
    position: absolute;
    bottom: -74px
}



.wsf-signup .popup-content .right-section .form-wrap .form-group label.info-lbl{pointer-events: inherit;}
.wsf-signup .tool-tip-wrap {
    position: relative;
}

.wsf-signup .info-lbl span.tolltip {
    display: none;
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    top: -157px;
    left: -135px;
    width: 200px;
    border-radius: 3px;
    background: #525F7F;
    color: #ffffff !important;
    padding: 8px;
}

.wsf-signup .info-lbl span.tolltip:after {
    content: '';
    background: url(images/pols.png) no-repeat;
    width: 10px;
    height: 8px;
    position: absolute;
    bottom: -5px;
    right: 53px;
}

img.info-img{cursor: pointer;}

img.info-img:hover + span.tolltip {
    display: block;
    cursor: pointer;
}


img.info-img:hover .wsf-signup .info-lbl span.tolltip  {
    display: block;
    cursor: pointer;
}



@media(max-width:1600px) {
    .banner-form .popup-content .top-section h2 {
        font-size: 25px;
        line-height: 34px;
        margin: 8px 0 10px
    }
    .banner-form textarea.input-field {
        height: 90px
    }
    .banner-form .popup-content {
        padding: 10px 30px 20px;
        width: 60%
    }
    .banner-form .form-wrap label {
        margin: 0 0 5px;
        font-size: 13px
    }
    .banner-form .form-wrap input,
    .feature-form .iti__flag-container {
        height: 50px
    }
    .banner-form .form-wrap .form-group {
        margin: 0 0 12px
    }
    .error,
    .errors {
        font-size: 12px;
        margin: 5px 0 0
    }
    .closeicon {
        background-size: 100%;
        width: 22px;
        height: 22px;
        top: 15px
    }
    .banner-form .popup-content .top-section {
        margin: 0 0 30px
    }
    .banner-form .select-box .error {
        bottom: -20px
    }
    #phone-error,
    #phoneno {
        bottom: -68px
    }
    .stickysec {
        bottom: 16%
    }
}

@media(max-width:1440px) {
    .banner-form .phone-wrap:before {
        top: 8px
    }
    .captForm .quizQ #j-quiz {
        width: 65%
    }
    .banner-form .popup-content .top-section {
        margin: 0 0 20px
    }
    .banner-form .popup-content .top-section .linebrk {
        display: none
    }
    .banner-form .form-wrap input {
        font-size: 13px;
        height: 40px;
        padding: 0 15px
    }
    .banner-form .form-wrap label {
        font-size: 13px;
        margin: 0 0 6px
    }
    .select-list ul li {
        font-size: 13px
    }
    .banner-form textarea.input-field {
        height: 90px;
        font-size: 13px;
        padding: 15px
    }
    .banner-form .select-box {
        height: 40px;
        padding: 11px 15px;
        font-size: 13px
    }
    .captForm .quizQ {
        height: 40px;
        line-height: 40px;
        font-size: 18px
    }
    .captForm .quizQ .refreshbtn {
        top: 13px;
        background-size: 100%;
        width: 20px
    }
    .captForm .quizQ:after {
        height: 22px
    }
    .captForm .quizAns:before {
        font-size: 19px;
        top: 10px
    }
    .banner-form .btn {
        height: 40px;
        padding: 8px;
        font-size: 15px
    }
    .banner-form .popup-content {
        padding: 20px 30px
    }
    .captForm {
        margin: 0
    }
    .iti__flag-container {
        height: 40px
    }
    #phone-error,
    #phoneno {
        bottom: -59px
    }
    .closeicon {
        background-size: 100%;
        top: 15px;
        width: 22px;
        height: 22px;
        right: 30px
    }
    .logo img,
    .logo-white img {
        width: 190px
    }
}

@media(max-width:1380px) {
    .banner-form .popup-content {
        overflow-y: scroll;
        height: 95%
    }
}

@media(max-width:1140px) {
    .banner-form .popup-content {
        overflow-y: scroll;
        height: 95%
    }
}

@media(max-width:1160px) {
.wsf-signup .info-lbl span.tolltip{  top: -155px;
    left: 0;}

}

@media(max-width:979px) {
    .banner-form .form-wrap label {
        font-size: 13px;
        margin: 0 0 6px
    }
    .banner-form .form-wrap input {
        font-size: 13px;
        padding: 0 12px
    }
    .select-list ul li,
    .switch {
        font-size: 13px
    }
    .note {
        width: 100%;
        text-align: center
    }
    .banner-form textarea.input-field {
        padding: 12px;
        font-size: 13px
    }
    .banner-form .popup-content {
        width: 90%
    }
    .thank-section h1 {
        font-size: 26px;
        line-height: 35px;
        margin: 0 0 10px
    }
    .thank-section {
        padding: 30px 0
    }
}

@media(max-width:767px) {
    .banner-form .popup-content p {
        font-size: 16px
    }
    .banner-form .btn {
        min-width: initial;
        padding: 0 35px;
        height: 45px;
        font-size: 16px;
        margin: 10px 0
    }
    .banner-form .captForm .form-group {
        width: 100%
    }
    .banner-form .justify {
        justify-content: center
    }
    .captForm .quizQ {
        background-size: 100px;
        height: 38px;
        line-height: 38px
    }
    .banner-form .popup-content .top-section {
        margin: 0 0 15px
    }
    .banner-form .form-wrap input,
    .form-group #team-size {
        height: 38px
    }
    .banner-form .form-wrap .form-group {
        margin: 0 0 5px
    }
    .banner-form .phone-wrap .field {
        top: 15px
    }
    .banner-form .phone-wrap::before {
        top: 10px;
        height: 25px
    }
    .captForm .quizQ::after {
        top: 9px;
        height: 19px
    }
    .captForm .quizQ .refreshbtn {
        top: 10px
    }
    .banner-form .popup-content .top-section h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
        font-weight: 500
    }
    .banner-form .popup-wrapper {
        top: 0
    }
    .banner-form .select-box {
        height: 38px;
        padding: 10px 18px
    }
    .banner-form textarea.input-field {
        height: 80px
    }
    .banner-form .form-wrap .form-group.width-full {
        margin: 20px 0 0
    }
    .logo img,
    .logo-white img {
        width: 180px
    }



}

@media(max-width:479px) {
    .banner-form .form-wrap .form-group,
    .banner-form .form-wrap .form-group-d {
        width: 100%
    }
    .captForm .quizQ {
        background-size: 70px
    }
    #captchaerror {
        width: 85px
    }
    .banner-form textarea.input-field:focus,
    input:focus {
        font-size: 16px !important
    }
    .banner-form .form-wrap .form-group.companygroup {
        margin: 48px 0 0
    }
    #phone-error,
    #phoneno {
        bottom: -56px
    }
    #help-ul {
        margin: 10px 0 0
    }
    .banner-form .form-wrap .form-group.width-full,
    .captForm {
        margin: 15px 0 0
    }
}

.wsf-signup .popup-content {
    width: 1150px !important;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    height: initial
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .padd,
.wsf-signup .popup-content.p-0 {
    padding: 0 !important
}

.wsf-signup .popup-content:after {
    background: url(images/shape-04.png) 0 0/100% no-repeat;
    content: "";
    width: 670px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0
}

.wsf-signup .popup-content .cross-icon {
    position: absolute;
    right: 22px;
    cursor: pointer;
    top: 12px
}

.wsf-signup .popup-content .left-section {
    flex-basis: 56%;
    background: #4535a7;
    padding: 40px 40px 90px;
    position: relative
}

.wsf-signup .popup-content .left-section .content {
    margin-top: 60px
}

.wsf-signup .popup-content .left-section .content h2 {
    color: #fff;
    font-weight: 800;
    margin: 0 0 15px;
    font-size: 36px;
    line-height: 46px
}

.wsf-signup .popup-content .left-section .content .lt-blue {
    color: #75e8f0
}

.wsf-signup .popup-content .left-section .content p {
    font-weight: 500;
    color: #fff;
    margin: 0 0 30px;
    font-size: 18px
}

.wsf-signup .popup-content .left-section .content h3 {
    color: #fff !important;
    font-weight: 600
}

.wsf-signup .popup-content .left-section .performer-box {
    background: rgba(0, 0, 0, .11);
    border: 1px solid rgba(255, 255, 255, .19);
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 45px 0 0;
    justify-content: space-between
}

.wsf-signup .popup-content .left-section .performer-box .list-box ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.wsf-signup .popup-content .left-section .performer-box .list-box ul li {
    position: relative;
    padding-left: 24px;
    margin: 0 0 15px;
    color: #fff
}

.wsf-signup .popup-content .left-section .performer-box .list-box ul li:before {
    background: url(images/check-small.png) no-repeat;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 0
}

.wsf-signup .popup-content .left-section .performer-box .list-box ul li:last-child {
    margin: 0
}

.wsf-signup .popup-content .left-section .performer-box .second_box {
    margin-left: 10px
}

.wsf-signup .popup-content .left-section .badges {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr[4];
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    position: relative;
    margin: 60px 0 0
}

.wsf-signup .popup-content .left-section .badges .col {
    border: 1px solid rgba(255, 255, 255, .19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    padding: 10px 17px 10px 12px;
    background: rgba(0, 0, 0, .11)
}

.wsf-signup .popup-content .left-section .badges .col .leftbar {
    width: 80%;
    border-right: 1px solid rgba(255, 255, 255, .19);
    text-align: left
}

.wsf-signup .popup-content .left-section .badges .col .leftbar i {
    background: url(images/star-rating2.png) no-repeat;
    width: 67px;
    height: 11px;
    display: block;
    margin-top: 8px
}

.wsf-signup .popup-content .left-section .badges .col .leftbar .icon1 {
    width: 67px;
    background: url(images/star-rating.png) no-repeat
}

.wsf-signup .popup-content .left-section .badges .col .leftbar .icon2 {
    background: url(images/star-rating3.png) no-repeat
}

.wsf-signup .popup-content .left-section .badges .col .leftbar .icon3 {
    background: url(images/star-rating4.png) no-repeat
}

.wsf-signup .popup-content .left-section .badges .col .leftbar .icon4 {
    width: 67px
}

.wsf-signup .popup-content .left-section .badges .ritbar {
    width: 20%;
    font-weight: 500;
    color: #9cf1fc;
    font-size: 14px;
    padding-left: 10px;
    display: flex
}

.wsf-signup .popup-content .left-section:before {
    background: url(images/shape-05.png) no-repeat;
    content: "";
    width: 63px;
    height: 69px;
    position: absolute;
    bottom: 0;
    left: 0
}

.wsf-signup .popup-content .left-section:after {
    background: url(images/shape-06.png) no-repeat;
    content: "";
    width: 49px;
    height: 74px;
    position: absolute;
    bottom: 0;
    right: 30px
}

.wsf-signup .popup-content .right-section {
    flex-basis: 48%;
    padding: 40px 30px;
    height: 100%
}

.wsf-signup .popup-content .right-section h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #00234b;
    margin-bottom: 30px;
    padding-left: 10px
}

.wsf-signup .popup-content .right-section .form-wrap .form-group {
    width: 100%;
    margin: 0 0 18px;
    position: relative
}

.wsf-signup .popup-content .right-section .form-wrap .form-group.w-45 {
    width: 60%
}

.wsf-signup .popup-content .right-section .form-wrap .form-group.w-55 {
    width: 40%
}

.wsf-signup .popup-content .right-section .form-wrap .form-group label {
    position: absolute;
    top: 11px;
    left: 10px;
    pointer-events: none;
    font-size: 14px;
    font-family: "Noto Sans";
    color: #525f7f;
    line-height: 19px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    display: block;
    padding:0 5px;
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .infiled {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #cbd3dc;
    font-size: 14px;
    font-family: "Noto Sans";
    color: #525f7f;
    line-height: 19px;
    border-radius: 0;
    padding: 8px 5px;
    font-weight: 400;
    height: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    padding-right: 25px;
}

select.infield{margin: 0 0 15px;}

.wsf-signup .popup-content .right-section .form-wrap .form-group .infiled:focus~label,
.wsf-signup .popup-content .right-section .form-wrap .form-group .infiled:not(:placeholder-shown)~label {
    top: -14px;
              font-size: 12px;
              color: #546181;
              transition: all 0.3s ease-in-out;
}

.wsf-signup .popup-content .right-section .form-wrap .form-group input.infiled:not(:placeholder-shown)+label+.error {
    margin-bottom: 15px !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group input:-webkit-autofill,
.wsf-signup .popup-content .right-section .form-wrap .form-group input:-webkit-autofill:active,
.wsf-signup .popup-content .right-section .form-wrap .form-group input:-webkit-autofill:focus,
.wsf-signup .popup-content .right-section .form-wrap .form-group input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 40px #fff inset !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group ::placeholder {
    color: #525f7f !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group input:-moz-placeholder {
    color: #525f7f !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group select {
    background-color: fff;
    background-image: url(images/select-icon.png);
    background-repeat: no-repeat;
    background-position: center right 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: .3s ease-in-out
}

.wsf-signup .popup-content .right-section .form-wrap .form-group option {
    padding: 0 10px;
    font-family: "Noto Sans"
}

.wsf-signup .popup-content .right-section .form-wrap .form-group i {
    position: absolute;
    top: 10px;
    right: 10px
}

.wsf-signup .popup-content .right-section .form-wrap .form-group input[type=password]+i .eye,
.wsf-signup .popup-content .right-section .form-wrap .form-group input[type=text]+i .eye-slash {
    display: none
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .nice-select:after {
    border: 0 !important;
    content: "";
    display: block;
    margin-top: 0 !important;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 39% !important;
    transform-origin: 0% !important;
    transform: none !important;
    transition: .15s ease-in-out;
    background: url(images/select-icon.png) center right 0 no-repeat;
    appearance: none;
    width: 12px !important;
    height: 7px !important;
    appearance: none
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .nice-select.open .nice-select-dropdown {
    width: 100% !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .nice-select .list {
    margin: 0 !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .comment-input {
    height: 40px;
    resize: none
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .padd p {
    font-size: 12px;
    color: #525f7f;
    font-weight: 400
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .padd p a {
    color: #624de3
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .padd p a:hover {
    text-decoration: underline
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn {
    width: 100%;
    border-radius: 8px;
    font-family: "Noto Sans";
    background: #00c1c7;
    padding: 16px 28px;
    color: #fff;
    border: 0;
    font-size: 16px;
    margin: 20px 0 0
}

.wsf-signup .popup-content .right-section .form-wrap .form-group button:disabled,
.wsf-signup .popup-content .right-section .form-wrap .form-group button[disabled=disabled] {
    background: #333 !important
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .infiled::-webkit-input-placeholder {
    color: #212121;
    font-size: 16px;
    opacity: 0
}

.wsf-signup .popup-content .right-section .form-wrap .form-group .infiled::-moz-placeholder {
    color: #212121;
    font-size: 16px;
    opacity: 0
}

.wsf-signup .popup-content .right-section .form-wrap .ws-error .infiled {
    border-bottom: 1px solid red
}

.wsf-signup .popup-content .right-section .form-wrap .ws-error label {
    color: red
}

.wsf-signup .ws-error .infiled {
    border-bottom: solid red
}

.wsf-signup .error,
.wsf-signup .errors {
    margin: 6px 0 0 !important;
    text-align: right;
    font-size: 10px !important;
}

.wsf-signup .popup-content .right-section .form-wrap .form-group select.infiled{margin: 0 0 15px;}



#ws-apimsg.success {
    margin-top: 10px;
    display: inline-block;
    color: #007600
}

.super-form .popWrap {
    text-align: center
}

.super-form .popup-content {
    width: 770px;
    border-radius: 30px;
    height: auto;
    overflow: hidden;
    padding: 40px 60px
}

.super-form .popup-content .cross-icon {
    position: absolute;
    right: 22px;
    cursor: pointer;
    top: 20px
}

.super-form .popup-content img {
    margin: 0 0 20px
}

.super-form .popup-content h2 {
    font-weight: 600;
    color: #110302;
    line-height: 1.2
}

.super-form .popup-content p {
    color: #333;
    font-size: 16px
}

.super-form .ctasec {
    margin: 30px 0 0
}

.super-form .ctasec a {
    min-width: 478px;
    font-size: 16px;
    font-weight: 400;
    background: #624de3;
    border-radius: 10px;
    border: 1px solid #624de3 !important
}

.super-form .ctasec .bkdemo {
    margin: 15px 0 0;
    background: 0 0;
    color: #624de3
}

.super-form .ctasec a:hover {
    background: #333;
    color: #fff;
    border-color: #333 !important
}



@media (max-width:1024px) {
    .super-form .popup-content {
        padding: 20px 30px
    }
    .super-form .ctasec {
        margin: 20px 0 0
    }
}


@media (max-width: 1380px) {
    .inv-pop .popup-content{overflow-y: initial;
        height: auto; }
}


@media (max-width:1140px) {
  

    .inv-pop .popup-content{overflow-y: initial;
        height: auto; width:90%; padding:15px;}
        .inv-pop .popup-content .closeicon-vc{top:-21px;}
}





/*Media Query Start from here*/
@media (max-width: 1600px) {
    .wsf-signup .popup-content .left-section {
        padding: 30px 30px 50px;
   }
    .wsf-signup .popup-content .left-section .content {
        margin-top: 45px;
   }
    .wsf-signup .popup-content .left-section .content p {
        font-size: 16px;
   }
    .wsf-signup .popup-content .left-section .content h3 {
        font-size: 18px;
   }
    .wsf-signup .popup-content .left-section .performer-box {
        margin: 30px 0 0;
        padding: 20px;
   }
    .wsf-signup .popup-content .left-section .badges {
        margin: 40px 0 0;
   }
    .wsf-signup .popup-content .right-section {
        height: 600px;
        padding: 30px;
   }
    .wsf-signup .popup-content .right-section h2 {
        margin-bottom: 20px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group {
        margin-bottom: 15px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .infiled {
        height: 35px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .comment-input {
        height: 40px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn {
        margin: 15px 0 0;
   }
    .wsf-signup .popup-content:after {
        background-size: 100% 100%;
        height: 180px;
   }
}
@media (max-width: 1440px) {
    .wsf-signup .popup-content .left-section {
        padding: 30px 30px 50px;
   }
    .wsf-signup .popup-content .left-section .content {
        margin-top: 35px;
   }
    .wsf-signup .popup-content .left-section .content p {
        font-size: 16px;
   }
    .wsf-signup .popup-content .left-section .content h3 {
        font-size: 18px;
   }
    .wsf-signup .popup-content .left-section .performer-box {
        margin: 30px 0 0;
        padding: 20px;
   }
    .wsf-signup .popup-content .right-section {
        height: 600px;
        padding: 30px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group {
        margin-bottom: 14px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .infiled {
        height: 35px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .comment-input {
        height: 40px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn {
        margin: 15px 0 0;
   }
    .wsf-signup .popup-content:after {
        background-size: 100% 100%;
        height: 180px;
   }
}
@media (max-width: 1380px) {
    .wsf-signup .popup-content {
        width: 1120px !important;
        overflow-y: hidden !important;
        height: initial !important;
   }
}
@media (max-width: 1280px) {
    .wsf-signup .form-wrap {
        padding-bottom: 50px;
   }
    .wsf-signup .popup-content {
        overflow-y: scroll !important;
        height: 90% !important;
        background: -webkit-linear-gradient(left, #4535a7 55.3%, white 39.1%);
   }
    .wsf-signup .popup-content h2 {
        font-size: 30px;
        line-height: 40px;
   }
    .wsf-signup .popup-content .left-section .performer-box {
        margin: 20px 0 0;
   }
    .wsf-signup .popup-content .left-section .performer-box ul li {
        margin: 0 0 10px;
   }
    .wsf-signup .popup-content .left-section .badges {
        margin: 30px 0 0;
   }
    .wsf-signup .popup-content .left-section .content {
        margin-top: 30px;
   }
    .wsf-signup .popup-content .left-section .content p {
        margin: 0 0 20px;
   }
    .wsf-signup .popup-content .left-section:before {
        display: none;
   }
    .wsf-signup .popup-content .left-section:after {
        display: none;
   }
    .wsf-signup .popup-content:after {
        height: 100px;
   }
}
@media (max-width: 1160px) {
    .wsf-signup .popup-content {
        width: 90% !important;
        background: #fff;
        flex-wrap: wrap;
   }
    .wsf-signup .popup-content .left-section {
        display: none;
   }
    .wsf-signup .popup-content .right-section {
        flex-basis: 100%;
        padding: 40px 20px;
        height: auto !important;
   }
    .wsf-signup .popup-content .right-section h2 {
        text-align: center;
        margin: 0 0 15px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group {
        padding: 0 10px !important;
        margin-bottom: 10px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .infiled {
        padding: 6px 0;
   }
    .wsf-signup .popup-content .right-section.signup-success .sucmsg {
        padding-top: 0;
   }
    .wsf-signup .popup-content .right-section.signup-success .sucmsg p {
        font-size: 14px;
   }
    .wsf-signup .popup-content:after {
        display: none;
   }
    .wsf-signup .info-lbl span.tolltip {
        top: -155px;
        left: 0;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group label {
        left: 5px;
   }
}
@media (max-width: 979px) {
    .wsf-signup .popup-content {
        width: 95% !important;
        overflow-y: scroll !important;
        height: 90% !important;
   }
}
@media (max-width: 767px) {
    .wsf-signup .form-wrap {
        padding-bottom: 0;
   }
    .wsf-signup .popup-content {
        width: 90% !important;
   }
    .wsf-signup .popup-content .padd .mcheck {
        top: 0;
   }
    .wsf-signup .popup-content .right-section {
        height: initial;
   }

   .wsf-signup .popup-content .right-section .form-wrap .form-group label{font-family: "arial";}
   .wsf-signup .popup-content .right-section .form-wrap .form-group .infiled{font-family: "arial";}
   .wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn{font-family: "arial";}
   .wsf-signup .info-lbl span.tolltip{font-weight: 700;}


   .super-form .popup-content {
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    overflow-y: scroll;
    height: 550px;
}
.super-form .popup-content img {
    margin: 0 0 15px;
}
.super-form .popup-content p {
    font-size: 14px;
}
.super-form .ctasec a {
    min-width: 100%;
    font-size: 14px;
}

}
@media (max-width: 479px) {
    .wsf-signup .popup-content .right-section .form-wrap .form-group .infiled {
        font-size: 13px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group label {
        font-size: 13px;
   }
    .wsf-signup .popup-content .right-section .form-wrap .form-group .submtbtn {
        padding: 12px 28px;
   }
    .infiled:focus {
        font-size: 13px !important;
   }
}
@media (max-width: 479px) {
    .wsf-signup .popup-content {
        width: 90% !important;
        overflow-y: hidden !important;
        height: initial !important;
   }
}
/*Media Query Start Ends here*/



.inv-pop .popWrap .popup-content {width: 60%;
    height: 500px;
    box-shadow: 0px 10px 50px rgba(68, 97, 215, 0.1);
    background: #fff;
    padding: 0;
    text-align: center;
    position: relative;}

.inv-pop .popWrap .popup-content .closeicon-vc{background: url(images/cross-black.png) no-repeat;
    right: -34px;
    top: 3px;
    width: 30px !important;
    height: 30px !important;
    font-size: 0;     position: absolute; cursor: pointer;}

    .inv-pop .popWrap .popup-content iframe{    width: 100%;
        height: 100%;
        border: 0;}


@media (max-width: 1440px) {
    .inv-pop .popWrap .popup-content {        width: 60%;
        height: 420px;}

}

@media (max-width: 1280px) {
    .inv-pop .popWrap .popup-content{width: 60%;
        height: 80%;}   
}

@media (max-width: 1024px) {
    .inv-pop .popWrap .popup-content  {
        width: 95%;
        height:60%;
    }

    .inv-pop .popWrap .popup-content .closeicon-vc{  right: 0;   top: -24px;
        width: 25px !important;
        height: 25px !important;
}
}

