.flex_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.site__footer {
    background-color: #1d1c35;
}
.site__footer .flex_row {
    padding: 30px 0;
    position: relative;
}
.site__footer .flex_row .fcol1,
.site__footer .flex_row .fcol2 {
    width: calc(15% - 10px);
}
.site__footer .flex_row .fcol3 {
    width: calc(10% - 10px);
}
.site__footer .flex_row .fcol4 {
    width: calc(16% - 10px);
}
.site__footer .flex_row .fcol5 {
    width: calc(12% - 10px);
}
.site__footer .flex_row .fcol6 {
    width: calc(20% - 10px);
}
.site__footer .flex_row .fcol6 .phone {
    pointer-events: none;
}
.site__footer .footer-sec .footer-top {
    padding: 20px 0;
    background: #201f3a;
    border-radius: 5px;
}
.site__footer .footer-sec .footer-top .dis-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4 {
    flex-basis: 25%;
    text-align: left;
    padding: 0 23px;
    border-right: 1px solid rgba(255, 255, 255, 0.09);
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4:nth-child(2) {
    flex-basis: 40%;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4:first-child {
    flex-basis: 10%;
    border-right: 0;
    padding-right: 10px;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4:last-child {
    border-right: 0;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4 .addwrap {
    display: flex;
    align-items: center;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4 .addwrap img {
    margin-right: 10px;
}
.site__footer .footer-sec .footer-top .dis-flex .flex-4 p {
    font-size: 14px;
    color: #f0f0f0a3;
    line-height: 26px;
    font-weight: 500;
}
.site__footer .footer-sec .footer-bottom {
    color: #282a30;
    padding: 8px 0;
    background: #f5f5f5;
    font-size: 14px;
}
.site__footer .column ul {
    padding-left: 0;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.site__footer .column li {
    margin: 10px 0 0;
    line-height: 1.4;
}
.site__footer .column li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}
.site__footer .column li a:hover {
    text-decoration: underline;
    color: #fff;
}
.site__footer .column h6,
.site__footer .column p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
}
.site__footer .copyright,
.site__footer .copyright a {
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1023px) {
    .site__footer .fcol6 {
        text-align: left;
    }
}
.site__footer .fcol6 .social_icons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.site__footer .fcol6 .social_icons i {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    background: url(../images/social-sprite.png) no-repeat #1d1c35;
    width: 35px;
    height: 34px;
    margin-right: 8px;
    margin-top: 5px;
    display: block;
}
.site__footer .fcol6 .social_icons i:hover {
    background-color: #624de3;
    color: #1d1c35;
}
.site__footer .fcol6 .social_icons .icon1 {
    background-position: -1px -30px;
}
.site__footer .fcol6 .social_icons .icon2 {
    background-position: -2px -65px;
}
.site__footer .fcol6 .social_icons .icon3 {
    background-position: -1px -102px;
}
.site__footer .fcol6 .social_icons .icon4 {
    background-position: -2px 1px;
}
.site__footer .fcol6 .social_icons .icon5 {
    background-position: -1px -137px;
}
.site__footer .bottom-links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0 40px;
    justify-content: space-between;
}
.site__footer .bottom-links .ftwrap {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
    .site__footer .bottom-links {
        justify-content: center;
    }
}
.site__footer .copyright {
    font-size: 14px;
}
@media screen and (max-width: 576px) {
    .site__footer .bottom-links {
        flex-direction: column;
        padding: 20px 0;
    }
    .site__footer .copyright {
        font-size: 12px;
        margin-top: 0;
        text-align: center;
    }
}
.site__footer .privacy-links {
    margin: 0 0 0 8px;
    padding: 0;
    line-height: initial !important;
}
.site__footer .privacy-links > li {
    display: inline-block;
    margin: 0 4px 0 0;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}
.site__footer .privacy-links > li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}
.site__footer .privacy-links > li a:hover {
    text-decoration: underline;
    color: #fff;
}
.site__footer .privacy-links .hide {
    color: rgba(255, 255, 255, 0.3);
}
.site__footer .rate-us-section {
    margin-left: auto;
    transition: 0.3s ease-in-out;
}
.site__footer .rate-us-section .star-outer {
    margin: 0 0 8px;
}
.site__footer .rate-us-section .star-outer .stardiv {
    display: inline-block;
    min-width: 100px;
    margin-right: 12px;
    text-align: center;
    padding-left: 8px;
}
.site__footer .rate-us-section .star-icon {
    background: url(../images/rating-star.png) -10px 0 no-repeat;
    width: 11px;
    height: 20px;
    display: inline-block;
}
.site__footer .rate-us-section .star-icon:last-child {
    margin-right: 10px;
    background-position: -60px 0;
}
.site__footer .rate-us-section .star-hover .star-icon {
    background-position: -10px -31px;
    cursor: pointer;
}
.site__footer .rate-us-section .five .star-icon:first-child,
.site__footer .rate-us-section .five .star-icon:nth-child(2),
.site__footer .rate-us-section .five .star-icon:nth-child(3),
.site__footer .rate-us-section .five .star-icon:nth-child(4),
.site__footer .rate-us-section .five .star-icon:nth-child(5),
.site__footer .rate-us-section .four .star-icon:first-child,
.site__footer .rate-us-section .four .star-icon:nth-child(2),
.site__footer .rate-us-section .four .star-icon:nth-child(3),
.site__footer .rate-us-section .four .star-icon:nth-child(4),
.site__footer .rate-us-section .one .star-icon:first-child,
.site__footer .rate-us-section .three .star-icon:first-child,
.site__footer .rate-us-section .three .star-icon:nth-child(2),
.site__footer .rate-us-section .three .star-icon:nth-child(3),
.site__footer .rate-us-section .two .star-icon:first-child,
.site__footer .rate-us-section .two .star-icon:nth-child(2) {
    background-position: -10px -1px;
}
.site__footer .rate-us-section .rate-us {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 4px 10px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
    transition: 0.3s ease-in-out;
    min-width: 100px;
    text-align: center;
}
.site__footer .rate-us-section .rate-us:hover {
    border: 1px solid #60b741;
    color: #60b741;
}
.site__footer .rate-us-section .client-outer,
.site__footer .rate-us-section .star-outer,
.site__footer .rate-us-section a,
.site__footer .rate-us-section h4,
.site__footer .rate-us-section span {
    font-size: 14px;
    color: #f0f0f0a3;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.site__footer .rate-us-section a:hover {
    opacity: 0.8;
}
.site__footer .rate-us-section .client-outer,
.site__footer .rate-us-section .copy,
.site__footer .rate-us-section .footer-link,
.site__footer .rate-us-section .star-outer,
.site__footer .rate-us-section .theme-setting {
    display: block;
}
.site__footer .gpw {
    background: url(../images/gpw-image.svg) no-repeat;
    width: 55px;
    height: 87px;
    margin-left: 30px;
}
@media screen and (max-width: 768px) {
    .site__footer .flex_row .fcol1 {
        width: calc(40% - 15px);
        vertical-align: top;
    }
    .site__footer .flex_row .fcol2 {
        width: calc(55% - 15px);
        vertical-align: top;
    }
    .site__footer .flex_row .fcol3,
    .site__footer .flex_row .fcol5 {
        width: calc(40% - 15px);
        vertical-align: top;
        margin: 20px 0 0;
    }
    .site__footer .flex_row .fcol4 {
        width: calc(55% - 15px);
        vertical-align: top;
        margin: 20px 0 0;
    }
    .site__footer .flex_row .fcol6 {
        width: calc(55% - 15px);
        vertical-align: top;
        margin: 20px 0 0;
        align-items: flex-start;
        justify-content: start;
    }
    .site__footer .fcol6 .social_icons {
        margin-top: 15px;
    }
    .site__footer .fcol6 .social_icons i {
        margin-right: 6px;
    }
    .site__footer .privacy-links .hide {
        display: none;
    }
    .site__footer .rate-us-section {
        width: 100%;
        text-align: center;
        margin: 20px 0 0;
    }
    .site__footer .rate-us-section .star-outer .stardiv {
        min-width: auto;
        margin-right: 0;
        padding-left: 0;
    }
    .site__footer .rate-us-section .rate-us {
        max-width: 100px;
        margin: 8px auto;
        display: block;
    }
    .site__footer .gpw {
        margin-top: 10px;
        margin-left: 0;
    }
}
.regBtn .primary_btn1 {
    margin-top: 0;
    background: #695eee;
    font-size: 16px;
    padding: 10px 20px;
    height: 41px;
    line-height: 1.2;
    border: 0;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    border-radius: 50px;
}
@media screen and (max-width: 767px) {
    .site__footer .rate-us-section .client-outer,
    .site__footer .rate-us-section .star-outer,
    .site__footer .rate-us-section a,
    .site__footer .rate-us-section h4,
    .site__footer .rate-us-section span {
        font-size: 13px;
    }
    .regBtn {
        text-align: left;
    }
    .regBtn .primary_btn1 {
        padding: 12px 20px;
    }
}
@media screen and (max-width: 575px) {
    .site__footer .flex_row .fcol6 .phone {
        pointer-events: auto;
    }
    .site__footer .fcol6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .regBtn {
        width: 100%;
    }
    .regBtn .primary_btn1 {
        padding: 12px !important;
        height: initial;
    }
}
.regBtn .primary_btn1:hover {
    color: #624de3;
    background: #fff;
}
@media (max-width: 1440px) {
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 {
        padding: 0 20px;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 p {
        font-size: 12px;
        line-height: 22px;
    }
    .site__footer .copyright,
    .site__footer .para_extrasmall {
        font-size: 13px;
    }
    .site__footer .privacy-links > li {
        margin: 0 2px;
    }
}
@media (max-width: 1160px) {
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 {
        padding: 0 20px;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 p {
        font-size: 13px;
        line-height: 22px;
    }
}
@media (max-width: 979px) {
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 {
        text-align: center;
        padding: 0;
        margin: 15px 0 0;
        flex-basis: 100%;
        border-right: 0;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4:nth-child(2) {
        flex-basis: 100%;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4:first-child {
        flex-basis: 100%;
        margin: 0;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 .addwrap {
        flex-direction: column;
    }
    .site__footer .footer-sec .footer-top .dis-flex .flex-4 .addwrap img {
        margin: 0 0 10px;
    }
}
@media screen and (max-width: 1024px) {
    .regBtn .primary_btn1 {
        padding: 10px;
    }
}
@media screen and (max-width: 1080px) {
    .single .feature-header .nav_btn span {
        color: #000 !important;
    }
}
