.banner-section{padding:100px 0; width: 100%; position: relative;}
.cta-section .top-cta{width:100%; padding:30px; border-radius: 13px;
background: #4231AC; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; position: relative;}
.cta-section .colLeft{flex-basis: 40%;}	
.cta-section .colLeft .ct-head{color:#fff; font-size: 24px; font-weight: 600; line-height: 1.3; margin:0 0 10px;}
.cta-section .colLeft p{font-size: 14px; color:rgba(255, 255, 255, 0.7); line-height: 23px; margin:0;}
.cta-section  .colMid{flex-basis: 35%; text-align: center; position: absolute; left:22%; right: 0;
margin: 0 auto; bottom:0;}
.cta-section  .colMid img{display:block; margin:0 auto;}
.cta-section  .ctaRit{flex-basis:25%; position: relative; z-index:9; display:flex; justify-content: right;}
.cta-section .white-btn{min-width: 200px;     display: inline-block; background: #fff; color: rgba(23, 18, 39, 1);
font-size: 16px; font-weight: 500; padding: 15px 30px;line-height: initial; border-radius: 50px; position: relative; border:1px solid #fff; cursor: pointer;}
.cta-section .white-btn:after{content: ''; background: url(../images/clock-icon-black.svg);  display: inline-block; width: 24px; height: 24px; margin-left: 10px;
background-size: 24px; vertical-align: middle;}
.cta-section .white-btn:hover, .cta-accorpg .white-btn.sft:hover{background: #051441; color: #fff; border-color: #051441;}
.cta-section .white-btn:hover:after{background: url(../images/clock-icon.png); background-size: 24px; }





.cta-accorpg .top-cta{overflow: hidden;}
.cta-accorpg  .colLeft{flex-basis: 70%;}
.cta-accorpg  .cta-wrap{margin-top:20px;}
.cta-accorpg  .cta-wrap .bkd{margin-right:10px;}
.cta-accorpg .colMid{flex-basis: 40%; left: auto !important; text-align: center; position: absolute; right: 5px; margin: 0 auto; bottom: 0px;}
.cta-accorpg .white-btn.sft{background:transparent; border-color:#fff; color:#fff; text-align: center;}
.cta-accorpg .white-btn.sft:after{display:none; color:#fff;}

.banner-section .searchdiv{display: flex; justify-content: space-between; align-items: center; margin: 0 0 20px;}
.banner-section .breadcrumbs {font-size:14px;   color: rgba(65, 65, 65, 0.5);}
.banner-section .breadcrumbs a {color: rgba(65, 65, 65, 0.5); display: inline-block; position: relative; padding-right:18px;}
.banner-section .breadcrumbs a.active{color: rgba(65, 65, 65, 1);}
.banner-section .breadcrumbs a:after {content: ""; position: absolute; top: 50%; transform: translateY(-50%);
right: 4px; width: 6px;  height: 10px; background: url(../images/bread-arrow.svg) 0 1px no-repeat; background-size: 100%;}
.banner-section .breadcrumbs a.active:after{display:none;}
.banner-section.breadcrumbs a:hover {text-decoration: underline;}
.banner-section .searchsubmit {width:30px; height:30px; font-size:0; background-position: center; background-image: url(../images/search-image.png); background-size:28px; margin-right:15px; background-repeat: no-repeat;
background-color: transparent;  border:0; cursor: pointer;}
.banner-section .searchsubmit:hover{border-color:#fff;}
button.newsletter {width:30px; height:30px; font-size:0; display: block; background-position: center;
background-image: url(../images/email-image.png); background-size:28px; background-repeat: no-repeat; background-color: transparent; border:0;  cursor: pointer;}
button.newsletter:hover{border-color: #fff;}
.banner-section h1{font-size: 48px;line-height: 115%; color: rgba(5, 22, 77, 1); margin: 0 0 25px; font-weight: 700;}
.banner-section .entery-wrap{display:flex; justify-content: space-between; flex-wrap: wrap;     align-items: center;  margin:40px 0 0;}




.second-row {width: 100%; position: relative;   margin:40px 0 0; display: flex; justify-content: space-between;}
.buyers-guide {position: relative; overflow:hidden; }
.vcb-col-left {float: right; width:330px;}

/*New Blog Style Changes*/

.customcta {width:100%; text-align: center;  position: relative; border-radius:15px;  margin:20px 0 0;}

.customcta .cusimg{width: 100%;}
.customcta .cusimg img{width: 100%; margin-top: -75px;}

.customcta .cus-cont{text-align: center; padding:15px; background: #4231AC;     border-radius: 15px 15px 0 0;}
.customcta .cushed{color:#fff; font-size:18px; margin:0 0 15px;} 

.customcta .btn-container {position: relative; z-index: 9;}


.customcta .btn-container .white-btn{min-width: 120px; display: inline-block; background: #fff; border: 1px solid #fff; color: rgba(23, 18, 39, 1);
font-size: 14px; font-weight: 500; padding: 14px 20px; line-height: 1.2; border-radius: 50px; position: relative; text-align: left; margin: 0 2px;}

.customcta .btn-container .white-btn:hover {background: #051441; color: #fff; border-color:#051441; }
.customcta .btn-container .sft{color: #fff;
    background: transparent;}
    #elm-toc .sw-hd{color:#6754E2;}
.customcta.padd1{padding:30px; margin:0 0 20px;}

/* Ends Here */

.table-c{width:100%; margin:20px 0 0;}
.tocsec{overflow-y: auto; height: auto; height: 135px; padding-left: 0; padding-right: 0; direction: rtl; text-align: left;}
.table-c h3 {color: #414141; font-size: 17px; line-height:1.3; font-weight :400; text-transform: uppercase;  margin: 0 0 12px; padding:10px 0 0;}

.vcb-col-left h2 {display: none;}
.vcb-col-left.sticky.btomfixed {bottom: 50px; top: auto; position: absolute; right:0;}
div.ez-toc-widget-container{border-left: 1px solid #414141;}
div.ez-toc-widget-container ul.ez-toc-list{padding:0; direction: initial;}
.ez-toc-widget-container nav ul li.ez-toc-heading-level-3 a:before {content: "";
display: inline-block; background: #ffb81d; position: absolute; left: 0; top: 6px; width: 8px; height: 8px; border-radius: 50px;}
.ez-toc-widget-container nav ul li.ez-toc-heading-level-3 a:after{display:none !important;}
.ez-toc-widget-container nav ul li.ez-toc-page-1 a.ez-toc-link:before, .ez-toc-widget-container nav ul li.ez-toc-page-1 a.ez-toc-link:before {
content: ""; display: inline-block; background: #ffb81d; position: absolute; left: 3px; top: 7px; width: 8px; height: 8px; border-radius: 50px;display:none;
}
.ez-toc-widget-container nav ul li.ez-toc-page-1 a.ez-toc-link:after, .ez-toc-widget-container nav ul li.ez-toc-page-1 a.ez-toc-link:after {
content: ""; clear: both; display: inline-block; border: 1px rgba(1, 107, 227, 1) solid;
position: absolute; left: 0; top: 4px; width: 14px; height: 14px; border-radius: 50px; display:none;}
.ez-toc-widget-container nav ol,
.ez-toc-widget-container nav ul {display: block; list-style-type: none; padding: 2px 0 0; border-left: 0; margin-top:0;}
.ez-toc-widget-container nav ol ol,
.ez-toc-widget-container nav ul ul {margin-left: 4%; }
.ez-toc-widget-container nav ol li,
.ez-toc-widget-container nav ul li { list-style-type: none; margin: 0 0 5px; padding: 0 0 0 13px; border-radius: 5px;
background: transparent; height: auto !important;}
.ez-toc-widget-container nav ol li a,
.ez-toc-widget-container nav ul li a {padding: 0;color: rgba(65, 65, 65, 0.5); position: relative; display: block;
font-weight: 400; font-size:14px; line-height:22px;}
.ez-toc-widget-container nav ol li a:hover,
.ez-toc-widget-container nav ul li a:hover {color: #05164D;background:transparent;}
#ezw_tco-2 .ez-toc-widget-container ul.ez-toc-list li.active{background: #fff;  color: #05164D;}
#ezw_tco-2 .ez-toc-widget-container ul.ez-toc-list li:hover{background: #fff; color: #05164D;}
.ez-toc-widget-container ul li.active a,
.ez-toc-widget-container ol li.active a {color: #05164D; font-weight:400;}
.ez-toc-widget-container nav ol li:hover{color: #05164D; background:transparent;}
.vcb-col-left.sticky {position: fixed; top:70px;}
.es_caption {display: none;}
.tocsec::-webkit-scrollbar {width:3px; background-color: #414141; height: 100%; overflow: scroll;}
.tocsec::-webkit-scrollbar-thumb {background-color: rgba(1, 107, 227, 1);}
.ez-toc-widget-container nav ol {counter-reset: item; padding-left: 10px;}
.ez-toc-widget-container nav ol li { display: block; color: #666666; margin-bottom: 20px;}
.ez-toc-widget-container nav ol li ol {margin-bottom: 20px; margin-top: 20px; padding-left: 20px;}
.ez-toc-widget-container nav ol li:before {content: counters(item, ".") " "; counter-increment: item;}
.ez-toc-widget-container ul.ez-toc-list li.active{background:transparent !important;}
.detail-subsbox{ width:100%; background: #fff;  border-radius:10px; padding:20px 15px; margin:30px 0 0; border: 2px solid rgba(98, 77, 227, 0.8);}
.detail-subsbox h3{color: #000; font-size: 16px; text-transform: inherit; text-align: left; margin: 0 0 15px;line-height: 1.2;font-weight: 500;}
.detail-subsbox form{width:100%; position: relative;}
.detail-subsbox .es-field-wrap label{font-size: 0;}
.detail-subsbox .es-field-wrap br{display:none;}
.detail-subsbox .es-field-wrap{margin:0;     width: 100%;}
.detail-subsbox .es_required_field{width: 100%; height: 40px; border: 1px solid rgba(98, 77, 227, 0.19);
    padding: 0 105px 0 14px; border-radius: 5px;}
.detail-subsbox	.es_subscription_form_submit{width: 95px; position: absolute;  height: 40px; right: 0; font-size: 14px;
top:0; background: #4231AC; color:#fff; border-radius: 0 5px 5px 0; border:0; cursor: pointer;}
.subcribe-bottom .detail-subsbox{width: 70%;}	
.es_subscription_message.success{font-size: 13px;}
.es_spinner_image{margin: 40px auto 0; text-align: center;}
.vcb-col-right a:hover{color:rgba(33, 33, 33, 1);}
.vcb-col-right {width: calc(100% - 330px); float: left; padding-right: 70px; margin-top: 0;}
.vcb-col-right #ez-toc-container{display:none;}
.vcb-col-right p {margin:0 0 20px; color:rgba(102, 110, 134, 1); font-weight: 400;}
.vcb-col-right h2{color: #414141;}
.vcb-col-right img {margin: 40px 0; }

.vcb-col-right iframe{width: 100%; height: 400px;}
.vcb-col-right h3{margin: 30px 0 15px;}
.vcb-col-right .post-thumbnail img {margin: 0 0 25px;}

hr {margin: 12px 0; display: inline-block; width: 100%; border: 1px dashed #9f9f9f; background: transparent; height: auto;}

.detail-page .nv-tags-list{display:none;}
.nv-tags-list span {margin-right: 10px;color:rgba(101, 101, 101, 1); font-size: 16px; letter-spacing: 0.15px; font-weight: 400;}
.nv-tags-list a {padding: 5px 19px; border:1px solid rgba(209, 209, 225, 1); font-size: 14px; margin: 0 10px 10px 0;  color: rgba(0, 0, 0, 1);
background: rgba(217, 217, 217, 0.32); border-radius: 5px; border: 0; text-decoration: none; display: inline-block;}
.nv-tags-list a:hover {background: #ffad00; text-decoration: none;}
.nv-tags-list {padding: 30px 0 60px; margin:0;}

/*New Blog Design CSS From here*/
.banner-section .top-header-section{position: relative; z-index: 9; padding:20px 0 0;}
.site__header .banner-section{display:none;}   
.single .site__header .banner-section{padding: 0; width: auto; display:block;}
.head-wrap{display: flex; align-items: center;}

.top-header-section .btn-section{display:none;}
.banner-section .meta-wrap{display: flex; align-items: center;}

.banner-section	.author-img{width:32px;}
.banner-section .author-img img{margin: 0 !important;}
.banner-section .entry-meta{width: calc(100% - 32px); padding:0; margin:0;}
.banner-section .entry-meta li{display:flex; align-items: center; font-size:14px; color: rgba(101, 101, 101, 1); margin:0 0 7px;}
.banner-section .entry-meta li.author a{color: rgba(101, 101, 101, 1);}
.banner-section .entry-meta li a{color: rgba(101, 101, 101, 1);}
.banner-section .entry-meta li.posted-on{color: rgba(101, 101, 101, 1);}
.banner-section .posted-on:before{display:none;}
.banner-section .posted-on .dt{display: inline-block; margin-left: 5px;}


.banner-section .social-icon-box {display: flex; justify-content: center; align-items: center; position: -webkit-sticky; position: fixed;
top:15%; right: 15%;}
.banner-section .social-icon-box .share-head {margin-right: 15px; color: rgba(101, 101, 101, 1);}

.banner-section .social-icons{align-items: center; flex-wrap: wrap; background:#fff; border: 1px solid rgba(98, 77, 227, 0.15); border-radius: 50px; justify-content: center;
    padding: 20px 10px;  box-shadow: 0 10px 50px rgba(68,97,215,.1);}
.banner-section .social-icons a:first-child{margin:0;}
.banner-section .social-icons a {display:block; width:26px; height:26px; margin: 10px 0 0; transition: all 0.3s ease-in-out;}
.banner-section .social-icons .a2a_button_twitter {background: url(../images/twitter.png) no-repeat; background-size: 25px;}
.banner-section .social-icons  .a2a_button_facebook {background: url(../images/facebook.png) no-repeat; background-size: 25px;}
.banner-section .social-icons .a2a_button_linkedin {background: url(../images/linkedin.png) no-repeat; background-size: 25px;}
.banner-section .social-icons a:hover {opacity: 0.6;}
.banner-section .detail-thumb{margin:50px 0 0;}
.banner-section .detail-thumb img{    height: initial; border-radius: 13px;}

/*New Blog Design CSS From here*/


/*Blog Changes 23-09-24*/

.ez-toc-widget-container {
    border-left: 1px solid #414141;
  }
/*Blog Changes 23-09-24*/
    

/*Media Query Start From Here*/
.vcb-col-left.sticky {right:29.9%;}

@media (max-width: 2800px){
    .vcb-col-left.sticky {right: 22.9%;}
    }
    
    @media (max-width: 2100px){
    .vcb-col-left.sticky {right: 18.99%;}
    }
    
    @media (max-width: 1920px){
    .vcb-col-left.sticky {right: 17.3%;}
    }
    
    @media (max-width: 1780px){
    
    .vcb-col-left.sticky {right:13.9%;}
    
    }
    
    @media (max-width: 1680px){
    
    
    .vcb-col-left.sticky {right: 8.9%;}
    
    }



@media (max-width:1920px){
.banner-section .social-icon-box{right:8%; top:17%;}    
}

@media (max-width:1690px){
.banner-section .social-icon-box{right:50px; top:20%;}   
}

@media (max-width:1640px){

}


@media (max-width: 1440px){

.cta-section .top-cta{padding: 40px 30px;}
.banner-section h1{font-size:50px;}
.banner-section .top-header-section{padding: 30px 0 0;}
.banner-section .searchdiv{margin: 0 0 15px;}
.banner-section .entery-wrap{margin: 30px 0 0;}
.detail-subsbox h3{margin:0 0 10px;}
.customcta.padd1{padding:20px;}





/*New CSS*/
.second-row {margin:0;}
.banner-section .social-icon-box {right:25px;}

.customcta .cushed{font-size: 16px;}



.vcb-col-left.sticky {right: 6.9%;}

}



@media (max-width:1380px){
.cta-section .colMid{left:20%;}
.cta-section .white-btn{min-width: 180px; padding: 12px 20px;}
.cta-section .white-btn:after {right: 20px;}
.cta-section .white-btn:hover:after {right: 13px;}

/*New CSS*/

.banner-section .social-icon-box{right:0; z-index: 99; top: 25%;} 
.banner-section .social-icons{padding: 15px 7px;}  
.banner-section .social-icons a{width: 23px; height: 23px; background-size: 23px;}
.banner-section .social-icons .a2a_button_twitter {background-size: 23px;}
.banner-section .social-icons  .a2a_button_facebook {background-size: 23px;}
.banner-section .social-icons .a2a_button_linkedin {background-size: 22px;}
.cta-accorpg .colLeft{flex-basis: 60%;}
.cta-section .colLeft .ct-head{font-size: 20px;}
.cta-section .colLeft p{font-size: 13px;}

.vcb-col-left.sticky{right: 30px;}
    
}


@media (max-width: 1290px){
.vcb-col-left.sticky{right: 30px;}
}

@media (max-width: 991px){
.banner-section {padding: 90px 0 50px;}
.cta-section .colMid{display:none;}
.cta-section .colLeft{flex-basis: 50%;}
.cta-section .ctaRit{flex-basis: 30%;}
.cta-section .colLeft .ct-head{font-size: 20px;}
.cta-section .white-btn{font-size: 16px;}
.banner-section h1{font-size: 40px; width: 90%;}
.banner-section .entery-wrap{margin: 25px 0 0;}
 h1 {font-size:40px;}
.detail-subsbox h3{margin: 0 0 15px; text-align: center}
.customcta img{margin:0  auto 20px !important;}

.tocsec{overflow-y: auto; max-height: initial; height:initial; padding-right:0;}
.vcb-col-left{width: 100%; text-align: left;}	
.ez-toc-widget-container nav {border: 2px solid #016be3; padding:15px; }
.ez-toc-widget-container nav ol li a, .ez-toc-widget-container nav ul li a{font-size:15px;}
.vcb-col-right {width: 100%; margin: 30px 0 0; padding: 0;}
.vcb-col-right img {margin: 30px 0;}

.left-bar {flex-basis: 100%; max-width:100%;}
.detail-page img {margin: 20px 0;}
.right-bar {flex-basis: 100%; margin: 30px 0 0; max-width:100%;}

.cta-accorpg .colLeft{flex-basis: 100%; text-align: center;}
.cta-accorpg .top-cta{padding:25px;}
.cta-accorpg .cta-wrap .bkd{margin: 0;}

.customcta .cusimg img {width: 100%; margin-top: -175px !important; display:none;}

.subcribe-bottom .detail-subsbox{width:100%;  margin: 0;}

}


@media (max-width:767px){
.cta-section .top-cta{padding: 25px 20px;}
.cta-section .colLeft{flex-basis: 100%; text-align: center;}
.cta-section .colLeft .ct-head{line-height: 28px; font-size: 18px;}
.cta-section .colLeft p{margin: 0 0 15px;}
.cta-section .ctaRit{flex-basis: 100%; text-align: center; justify-content: center;}
.cta-section .white-btn{font-size: 15px; padding: 8px 15px; min-width: initial; display: inline-block; margin: 5px !important;  line-height:26px;}  
.cta-section .white-btn::after {top:12px;}
.banner-section .searchdiv{flex-wrap: wrap;}
.banner-section .breadcrumbs{flex-basis:78%; font-size: 13px; line-height:22px;}
.banner-section .breadcrumbs a{padding-right: 16px;}
.banner-section .breadcrumbs a::after {width: 6px; height: 11px;}
.banner-section .searchdiv .btn-section{flex-basis:20%;}
.banner-section .searchsubmit{width: 28px; height: 28px; margin-right: 10px;}
button.newsletter{width: 28px; height: 28px;}

.banner-section h1{font-size:28px; width: 100%;}
.banner-section .entery-wrap{margin: 20px 0 0;}

.banner-section .entry-meta li{font-size: 14px; margin: 0 0 2px;}
.banner-section .social-icon-box{flex-basis: 100%; margin: 10px 0 0;}
.banner-section .detail-thumb img{border-radius:5px;}
.detail-image .detail-thumb img{height: 250px;}
.banner-section .detail-thumb{margin: 20px 0 0;}
.customcta .cushed{font-size: 18px;}


.second-row{margin: 30px 0 0;}
.customcta img{margin: 0 auto 10px !important;}




/*New CSS start from here*/

.banner-section .btn-section{margin-right: 6px;}
.banner-section .searchsubmit{width: 23px; height: 23px; margin-right: 5px; background-size: 23px;}
.banner-section button.newsletter{width: 23px; height: 23px; background-size: 23px;}
.banner-section .meta-wrap{flex-basis: 100%; margin:10px 0 0;}
.banner-section .social-icons a{margin: 5px 0 0;}
.banner-section .social-icons{padding: 12px 7px;}
.table-c{margin:0;}
div.ez-toc-widget-container{border:0;}
.ez-toc-widget-container nav ol li, .ez-toc-widget-container nav ul li{padding:0;}

.customcta .cusimg{display: none;}
.customcta .cus-cont{width: 100%; padding:20px; text-align: center; border-radius: 15px;}
.customcta .btn-container .white-btn{min-width: 120px; text-align: center;}
.vcb-col-right p{margin: 0 0 15px;}


}


/*Media Query Ends Here*/
