/*
Error: Undefined variable: "$dark-Blue".
        on line 871 of C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_pricing-section.scss
        from line 1 of C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_feature-pricing-section.scss
        from line 5 of C:\xampp\htdocs\WorkStatus-WP\staging\web-html\version-2.0\assests\scss\featureDetail-new.scss

866:       background-position: -10px -328px;
867:     }
868:   }
869: }
870: .benifits-section {
871:   width: 100%;
872:   padding: 50px 0;
873:   .column-three {
874:     flex-basis: 32%;
875:     border-radius: 10px;
876:     background: #faf8fe;

Backtrace:
C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_pricing-section.scss:871
C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_feature-pricing-section.scss:1
C:\xampp\htdocs\WorkStatus-WP\staging\web-html\version-2.0\assests\scss\featureDetail-new.scss:5
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/New folder/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/New folder/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/New folder/bin/sass:22:in `load'
D:/New folder/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$dark-Blue\".\A         on line 871 of C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_pricing-section.scss\A         from line 1 of C:/xampp/htdocs/WorkStatus-WP/staging/web-html/version-2.0/assests/scss/_feature-pricing-section.scss\A         from line 5 of C:\xampp\htdocs\WorkStatus-WP\staging\web-html\version-2.0\assests\scss\featureDetail-new.scss\A \A 866:       background-position: -10px -328px;\A 867:     }\A 868:   }\A 869: }\A 870: .benifits-section {\A 871:   width: 100%;\A 872:   padding: 50px 0;\A 873:   .column-three {\A 874:     flex-basis: 32%;\A 875:     border-radius: 10px;\A 876:     background: #faf8fe;"; }
