/*Form Section Start From Here*/

.sigupform {
  width: 95%;
  margin: 20px 0 0;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.15);
  padding: 25px;
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .signwrap {
      width: 100%;
      .form-group {
        width: 100%;

        margin: 0 0 10px;
        .user-input {
          position: relative;
          .pcode-prefix {
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            outline: 0;
            width: 100px;
            background: none;
            padding-left: 40px;
            color: #fff;
            color: #000;
            z-index: 9;
          }
        }
      }
    }
    input {
      width: 100%;
      height: 39px;
      font-size: 14px;
      border-radius: 5px;
      color: rgba(51, 51, 51, 0.4);
      padding: 0 18px;
      background: none;
      border: 1px solid rgba(51, 51, 51, 0.24);
    }

    .phone-field {
      padding: 11px 12px 11px 85px;
      padding-left:110px;
      width: 100%;
    }

    .ws-error .phone-field{border-color: red;}

    .error,  .errors {
      color: red;
      margin: 4px 0 0;
      font-size: 11px;
      display: block;
    }

    .iti__selected-flag {
      background: transparent;
      width:100px;
    }
    .iti__flag-container {
      height: 39px;
      background: transparent;
    }
    .signupbtn {
      background: $black;
      font-size: 12px;
      color: $white;
      text-transform: uppercase;
      width: 100%;
      border-radius: 5px;
      height: 39px;
      font-weight: 600;
      margin: 10px 0 0;
      border: 0;
      cursor: pointer;
      font-family: 'Noto Sans';

      &:hover {
        background: $blue;
      }
    }

    .credcard {
      text-align: center;
      font-size: 12px;
      color: #4f4f4f;
      font-weight: 400;
      margin: 20px 0 0;
      padding: 0 11px;
      position: relative;

      &:before {
        content: "";
        width: 150px;
        height: 1px;
        background: rgba(194, 187, 200, 0.6);
        position: absolute;
        left: 0;
        top: 7px;
      }
      &:after {
        content: "";
        width: 150px;
        height: 1px;
        background: rgba(194, 187, 200, 0.6);
        position: absolute;
        right: 0;
        top: 7px;
      }
    }

    .formcheck {
      font-size: 13px;
      margin: 0 0 5px;
      position: relative;
      .mcheck {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 6px;
        left: 0;
      }
      p {
        font-size: 13px;
        padding-left: 25px;
        position: relative;
        color: #3333339c;
        a {
          color: #333333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      input[type="checkbox"]:checked {
        background-color: transparent;
        border-color: #695eee;
      }
    }
  }
}
/*Form Section End here*/

/*Media Query Start From Here*/

@media (max-width:1600px) {

.sigupform {
  form {
    .credcard {
      &:before {
        width:130px;
      }
      &:after {
        width:130px;
      }
    }
  }
}
}

@media (max-width:1400px) {

  .sigupform {
    form {
      .credcard{
        &:before{width:100px;}
        &:after{width:100px;}
      }
    }
  }
  }



@media (max-width: 767px) {

.sigupform {
  width: 100%;

  form {
    .credcard {
      &:before {
        content: "";
        width:60px;
        top: 9px;
      }
      &:after {
        content: "";
        width:60px;
        top: 9px;
      }
    }

    .formcheck {
      p{font-size: 12px; line-height: 20px;}
      .mcheck {
        top: 4px;
      }
    }
    .signupbtn {
      font-family: sans-serif;
    }
  }
}
}

@media (max-width:373px) {
  .sigupform {
    form {
      .credcard{
        &:before{width:50px;}
        &:after{width:50px;}
      }
    }
  }
}

/*Media Query Ends Here*/
